Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party, project

Apply suggestions from code review
  tests/test_benchmarks_multipart.py
Due: tests

Fix Cython code on 32 bit
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_py.py
Due: library, project

Apply suggestion from @Dreamsorcerer
  aiohttp/_websocket/reader_py.py
Due: library, project

Apply suggestion from @Dreamsorcerer
  tests/test_benchmarks_multipart.py
Due: tests

Test
  tests/test_websocket_parser.py
Due: tests

Drop the mock protocol from the multipart benchmarks
  tests/test_benchmarks_multipart.py
Due: tests

Fix Cython code on 32 bit (#13514)
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, tests, project

Drop the mock protocol from the multipart benchmarks (#13515)
  tests/test_benchmarks_multipart.py
Due: tests

Fix Cython 3.3.0 compiler crash when compiling the WebSocket reader (#13520)
  CHANGES/13520.bugfix.rst
  aiohttp/_websocket/reader_py.py
Due: library, changelog, project

Add George Fifth to CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: docs

Apply suggestion from @Dreamsorcerer
  aiohttp/http_parser.py
Due: library, project

Reject control characters in the request target (#13212)
  CHANGES/13212.bugfix.rst
  THREAT_MODEL.md
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, docs, tests, project

Fix infinite loop parsing the Forwarded header (#13229)
  CHANGES/13229.bugfix.rst
  aiohttp/web_request.py
  tests/test_web_request.py
Due: library, changelog, tests, project

Apply suggestion from @Dreamsorcerer
  aiohttp/client_reqrep.py
Due: library, project

Test
  aiohttp/client_reqrep.py
Due: library, project

Missing test file
  tests/test_benchmarks_client_response.py
Due: tests

Improve Link regex performance (#13306)
  aiohttp/client_reqrep.py
  tests/test_benchmarks_client_response.py
Due: library, tests, project

Improve list element regex performance
  aiohttp/helpers.py
  tests/test_benchmarks_helpers.py
Due: library, tests, project

Improve Link regex performance (#13306) (#13523)
  aiohttp/client_reqrep.py
  tests/test_benchmarks_client_response.py
Due: library, tests, project

Improve Link regex performance (#13306) (#13524)
  aiohttp/client_reqrep.py
  tests/test_benchmarks_client_response.py
Due: library, tests, project

Improve list element regex performance (#13522)
  aiohttp/helpers.py
  tests/test_benchmarks_helpers.py
Due: library, tests, project

Reject control characters in the request target (#13212)
  CHANGES/13212.bugfix.rst
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests, project

Apply suggestions from code review
  tests/conftest.py
Due: tests

Skip symlink tests when the host cannot create symlinks (#13286)
  CHANGES/13286.contrib.rst
  CONTRIBUTORS.txt
  tests/conftest.py
  tests/test_urldispatch.py
  tests/test_web_urldispatcher.py
Due: changelog, docs, tests

Update web_reference.rst
  docs/web_reference.rst
Due: docs

Fix documented default for WebSocketResponse writer_limit (#13294)
  CHANGES/13294.doc.rst
  CONTRIBUTORS.txt
  docs/web_reference.rst
Due: changelog, docs

Reject control characters in the request target (#13212) (#13525)
  CHANGES/13212.bugfix.rst
  THREAT_MODEL.md
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, docs, tests, project

Reject control characters in the request target (#13212) (#13526)
  CHANGES/13212.bugfix.rst
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests, project

Fix documented default for StreamReader.read_nowait (#13295)
  CHANGES/13295.doc.rst
  docs/streams.rst
Due: changelog, docs

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: ((any of: tests/) or (any of: tests/**)) or (any of: tests/)
  tools: any of: tools/
  third-party: any of: vendor/
  project: any of: aiohttp/**
