Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Optimize WebSocketReader for 2 byte length case (#9554)
  CHANGES/9554.feature.rst
  aiohttp/_websocket/helpers.py
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_py.py
Due: library, changelog

Fix Cython WebSocketReader byte signedness
  aiohttp/_websocket/reader_c.pxd
  tests/test_websocket_parser.py
Due: library, tests

changelog
  CHANGES/9556.feature.rst
Due: changelog

Fix Cython `WebSocketReader` byte signedness (#9556)
  CHANGES/9556.feature.rst
  aiohttp/_websocket/reader_c.pxd
  tests/test_websocket_parser.py
Due: library, changelog, tests

[PR #9556/df0c461 backport][3.11] Fix Cython `WebSocketReader` byte signedness (#9557)
  CHANGES/9556.feature.rst
  aiohttp/_websocket/reader_c.pxd
  tests/test_websocket_parser.py
Due: library, changelog, tests

[PR #9556/5e1a1c5 backport][3.11] Fix Cython `WebSocketReader` byte signedness (#9557)
  CHANGES/9556.feature.rst
  aiohttp/_websocket/reader_c.pxd
  tests/test_websocket_parser.py
Due: library, changelog, tests

Add benchmarks for sending masked WebSocket messages
  tests/test_benchmarks_http_websocket.py
Due: tests

Add benchmarks for sending masked WebSocket messages (#9559)
  tests/test_benchmarks_http_websocket.py
Due: tests

changelog
  CHANGES/9558.feature.rst
Due: changelog

Fix refactoring error when moving WebSocket mask
  aiohttp/_websocket/helpers.py
  tests/test_websocket_parser.py
Due: library, tests

add ignore
  tests/test_websocket_parser.py
Due: tests

Update tests/test_benchmarks_http_websocket.py for 3.10
  tests/test_benchmarks_http_websocket.py
Due: tests

Fix refactoring error from moving WebSocket mask (#9558)
  CHANGES/9558.feature.rst
  aiohttp/_websocket/helpers.py
  tests/test_websocket_parser.py
Due: library, changelog, tests

Update changelog message
  CHANGES/6800.bugfix.rst
Due: changelog

apply suggestions on docs
  CHANGES/9530.feature.rst
  docs/client_reference.rst
Due: changelog, docs

Refactor WebSocketWriter to remove high level protocol functions
  aiohttp/_websocket/writer.py
  aiohttp/client_ws.py
  aiohttp/web_ws.py
  tests/test_client_ws_functional.py
  tests/test_web_websocket_functional.py
  tests/test_websocket_writer.py
Due: library, tests

preen
  tests/test_client_ws_functional.py
Due: tests

refactor test
  tests/test_client_ws_functional.py
Due: tests

Refactor WebSocketWriter to remove high level protocol functions (#9566)
  aiohttp/_websocket/writer.py
  aiohttp/client_ws.py
  aiohttp/web_ws.py
  tests/test_client_ws_functional.py
  tests/test_web_websocket_functional.py
  tests/test_websocket_writer.py
Due: library, tests

Fix handling of redirects with authentication (#9443)
  CHANGES/9436.bugfix.rst
  aiohttp/client.py
  docs/client_advanced.rst
  tests/test_client_functional.py
Due: library, changelog, docs, tests

Add support for adjusting the server WebSocket writer limit
  aiohttp/web_ws.py
  docs/web_reference.rst
  tests/test_web_websocket.py
Due: library, docs, tests

Update aiohttp/web_ws.py
  aiohttp/web_ws.py
Due: library

changelog
  CHANGES/9572.feature.rst
Due: changelog

cleanup whitespace
  docs/client_reference.rst
Due: docs

try to improve formatting a bit more
  docs/client_reference.rst
Due: docs

fix version added
  docs/web_reference.rst
Due: docs

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
