Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Update __init__.py
  aiohttp/__init__.py
Due: library

Update test_web_app.py
  tests/test_web_app.py
Due: tests

Update CHANGES.rst
  CHANGES.rst
Due: changelog, docs

Create 11601.breaking.rst
  CHANGES/11601.breaking.rst
Due: changelog

Drop 3.9 support
  .github/workflows/ci-cd.yml
  Makefile
  aiohttp/cookiejar.py
  aiohttp/helpers.py
  aiohttp/payload.py
  aiohttp/web_urldispatcher.py
  docs/contributing.rst
  pyproject.toml
  setup.cfg
  setup.py
  tests/autobahn/Dockerfile.aiohttp
  tests/test_multipart.py
Due: library, configs, docs, tests

Update abc.py
  aiohttp/abc.py
Due: library

Update test_utils.py
  aiohttp/test_utils.py
Due: library

Update pyproject.toml
  pyproject.toml
Due: configs

Update client.py
  aiohttp/client.py
Due: library

Update test_web_exceptions.py
  tests/test_web_exceptions.py
Due: tests

Fix ZSTD decompression if no content size header is available
  aiohttp/compression_utils.py
Due: library

Do not assume 3.14 has stdlib zstd
  CHANGES/11603.bugfix.rst
  CONTRIBUTORS.txt
  aiohttp/compression_utils.py
Due: library, changelog, docs

Added contributor and changes
  CHANGES/11604.bugfix.rst
  CONTRIBUTORS.txt
Due: changelog, docs

Update 11603.bugfix.rst
  CHANGES/11603.bugfix.rst
Due: changelog

Apply suggestions from code review
  aiohttp/compression_utils.py
Due: library

Update compression_utils.py
  aiohttp/compression_utils.py
Due: library

Fix support for Python 3.14 built without zstd (#11611)
  CHANGES/11603.bugfix.rst
  CONTRIBUTORS.txt
  aiohttp/compression_utils.py
Due: library, changelog, docs

Fix zstd decompression for chunked zstd response
  aiohttp/compression_utils.py
  aiohttp/http_parser.py
  docs/client_quickstart.rst
  requirements/base-ft.txt
  requirements/base.txt
  requirements/constraints.txt
  requirements/dev.txt
  requirements/lint.in
  requirements/lint.txt
  requirements/runtime-deps.in
  requirements/runtime-deps.txt
  requirements/test-ft.txt
  requirements/test.txt
  setup.cfg
  tests/test_http_parser.py
Due: library, configs, docs, tests

Update CONTRIBUTORS and CHANGES
  CHANGES/11623.bugfix
  CONTRIBUTORS.txt
Due: changelog, docs

Update CHANGES
  CHANGES/11623.bugfix
Due: changelog

Update test_http_parser.py
  tests/test_http_parser.py
Due: tests

Fix zstd decompression for chunked zstd response (#11623)
  CHANGES/11623.bugfix
  CONTRIBUTORS.txt
  aiohttp/compression_utils.py
  aiohttp/http_parser.py
  docs/client_quickstart.rst
  requirements/base-ft.txt
  requirements/base.txt
  requirements/constraints.txt
  requirements/dev.txt
  requirements/lint.in
  requirements/lint.txt
  requirements/runtime-deps.in
  requirements/runtime-deps.txt
  requirements/test-ft.txt
  requirements/test.txt
  setup.cfg
  tests/test_http_parser.py
Due: library, configs, changelog, docs, tests

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
