Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

type tuple
  aiohttp/_websocket/reader_c.pxd
Due: library

Revert "type tuple"
  aiohttp/_websocket/reader_c.pxd
Due: library

coverage
  tests/test_websocket_parser.py
Due: tests

add the missing coverage
  tests/test_websocket_parser.py
Due: tests

fix missing type
  aiohttp/_websocket/reader_c.pxd
Due: library

use fastcall
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_py.py
Due: library

Make sure memoryview works as well
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, tests

Update aiohttp/_websocket/reader_py.py
  aiohttp/_websocket/reader_py.py
Due: library

cleanup refs
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_py.py
Due: library

cleanup refs
  aiohttp/_websocket/reader_py.py
Due: library

comments
  aiohttp/_websocket/reader_py.py
Due: library

Add a PXD only Cython extension for the WebSocket reader to improve performance (#9543)
  CHANGES/9543.feature.rst
  Makefile
  aiohttp/_websocket/mask.pxd
  aiohttp/_websocket/mask.pyx
  aiohttp/_websocket/reader.py
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_c.py
  aiohttp/_websocket/reader_py.py
  setup.py
  tests/test_websocket_parser.py
Due: library, changelog, tests

Test was passing the fixture instead of the actual DataQueue object
  tests/test_websocket_parser.py
Due: tests

[PR #9543/6ae2f05 backport][3.11] Add a PXD only Cython extension for the WebSocket reader to improve performance (#9548)
  CHANGES/9543.feature.rst
  Makefile
  aiohttp/_websocket/mask.pxd
  aiohttp/_websocket/mask.pyx
  aiohttp/_websocket/reader.py
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_c.py
  aiohttp/_websocket/reader_py.py
  setup.py
  tests/test_websocket_parser.py
Due: library, changelog, tests

[PR #9543/a5faa64 backport][3.11] Add a PXD only Cython extension for the WebSocket reader to improve performance (#9548)
  CHANGES/9543.feature.rst
  Makefile
  aiohttp/_websocket/mask.pxd
  aiohttp/_websocket/mask.pyx
  aiohttp/_websocket/reader.py
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_c.py
  aiohttp/_websocket/reader_py.py
  setup.py
  tests/test_websocket_parser.py
Due: library, changelog, tests

add test for base_url without trailing slash
  tests/test_client_session.py
Due: tests

fix return type of test_base_url_without_trailing_slash
  tests/test_client_session.py
Due: tests

Simplify WebSocket writer
  aiohttp/_websocket/writer.py
Due: library

order
  aiohttp/_websocket/writer.py
Due: library

add the explanation of path joining in documentation
  docs/client_reference.rst
Due: docs

add test param for url joining with query string and fragment
  tests/test_client_session.py
Due: tests

reduce
  aiohttp/_websocket/writer.py
Due: library

tweaks
  aiohttp/_websocket/writer.py
Due: library

Simplify WebSocket writer (#9549)
  aiohttp/_websocket/writer.py
Due: library

Simplify WebSocket writer (#9549)
  aiohttp/http_websocket.py
Due: library

[PR #9549/be5fed2 backport][3.10] Simplify WebSocket writer (#9550)
  aiohttp/http_websocket.py
Due: library

[PR #9549/a755f54 backport][3.10] Simplify WebSocket writer (#9550)
  aiohttp/http_websocket.py
Due: library

[PR #9549/a755f54 backport][3.11] Simplify WebSocket writer (#9551)
  aiohttp/_websocket/writer.py
Due: library

[PR #9549/be5fed2 backport][3.11] Simplify WebSocket writer (#9551)
  aiohttp/_websocket/writer.py
Due: library

Add aiohttp._websocket to packages in setup.cfg
  setup.cfg
Due: none

changelog
  CHANGES/9552.packaging.rst
Due: changelog

Add `aiohttp._websocket` to `packages` in `setup.cfg` (#9552)
  CHANGES/9552.packaging.rst
  setup.cfg
Due: changelog

Optimize WebSocketReader for 2 byte length case
  CHANGES/9554.feature.rst
  aiohttp/_websocket/helpers.py
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_py.py
Due: library, changelog

Optimize WebSocketReader for 2 byte length case (#9554)
  CHANGES/9554.feature.rst
  aiohttp/_websocket/helpers.py
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_py.py
Due: library, changelog
