Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party, project

.codecov.yml:

codecov:
  branch: master
  notify:
    manual_trigger: true

comment:
  require_head: false
  require_base: false

coverage:
  range: "95..100"

  status:
    project: no

component_management:
  individual_components:
    - component_id: project
      paths:
        - aiohttp/**
    - component_id: tests
      paths:
        - tests/**

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Close transport on BaseException in ResponseHandler.data_received (#12798) (#12813)
  CHANGES/12795.bugfix.rst
  aiohttp/client_proto.py
  tests/test_client_proto.py
Due: library, changelog, tests, project

Disable grouping in cibuildwheel output, because it is painfully slow to scroll in it. Additionaly add colored output for Android tests.
  .github/workflows/ci-cd.yml
Due: none

Tweak
  THREAT_MODEL.md
Due: docs

fix(_websocket): avoid Cython redeclaration errors with freethreading_compatible=True (#12709)
  aiohttp/_websocket/reader_py.py
Due: library, project

Improve websocket checks
  CHANGES/TBD.bugfix.rst
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, changelog, tests, project

Rename TBD.bugfix.rst to 12817.bugfix.rst
  CHANGES/12817.bugfix.rst
Due: changelog

Remove old
  aiohttp/_websocket/reader_py.py
Due: library, project

Improve websocket checks (#12817)
  CHANGES/12817.bugfix.rst
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, changelog, tests, project

chore: improve aiohttp maintenance path
  tests/test_leaks.py
Due: tests

Add ws_connect request timeout
  CHANGES/7220.feature.rst
  CONTRIBUTORS.txt
  aiohttp/client.py
  docs/client_reference.rst
  tests/test_client_ws.py
  tests/test_client_ws_functional.py
Due: library, changelog, docs, tests, project

Fix ws_connect request timeout docs
  docs/client_reference.rst
  tests/test_client_ws.py
Due: docs, tests

Improve ws_connect timeout test coverage
  tests/test_client_ws_functional.py
Due: tests

Added aiofastnet to speedups extra
  CHANGES/12744.feature.rst
  CONTRIBUTORS.txt
  aiohttp/connector.py
  aiohttp/web_fileresponse.py
  aiohttp/web_runner.py
  docs/faq.rst
  docs/spelling_wordlist.txt
  pyproject.toml
  requirements/lint.in
  requirements/runtime-deps.in
  tests/conftest.py
  tests/test_connector.py
  tests/test_proxy.py
  tests/test_run_app.py
  tests/test_web_runner.py
  tests/test_web_sendfile_functional.py
Due: library, configs, changelog, docs, tests, project

Remove unused imports, rename change file
  CHANGES/12822.feature.rst
  aiohttp/connector.py
  aiohttp/web_fileresponse.py
  aiohttp/web_runner.py
Due: library, changelog, project

Fix flake8 complains
  aiohttp/connector.py
  aiohttp/web_fileresponse.py
  aiohttp/web_runner.py
Due: library, project

aiofastnet supports TLS over TLS always
  aiohttp/connector.py
  tests/test_proxy_functional.py
Due: library, tests, project

Fix flake errors
  tests/test_proxy_functional.py
Due: tests

Fix lint and mypy error
  tests/test_proxy_functional.py
Due: tests

Update FAQ
  docs/faq.rst
Due: docs

Revert changes in test_connector_multiple_event_loop
  tests/test_connector.py
Due: tests

Add 'Conda' to spelling list
  docs/spelling_wordlist.txt
Due: docs

Parametrize ws benchmarks on connection type
  tests/test_benchmarks_client_ws.py
Due: tests

Parametrize some benchmarks from test_benchmarks_client on connection type
  tests/test_benchmarks_client.py
Due: tests

Parameterize web_fileresponse benchmarks where it make sense
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Update tense
  CHANGES/12823.misc.rst
Due: changelog

Add history note
  CHANGES/12823.misc.rst
Due: changelog

Fix grammar, add spelling exception
  CHANGES/12823.misc.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

Revert parameterization for some benchmarks
  tests/test_benchmarks_client.py
Due: tests

Remove parameterization for some more benchmarks to reduce benchmark run time
  tests/test_benchmarks_client.py
  tests/test_benchmarks_client_ws.py
Due: tests

Fix grammar
  CHANGES/12823.misc.rst
Due: changelog

Revert name change
  tests/test_proxy_functional.py
Due: tests

Preserve host-only cookie scope across CookieJar save/load
  aiohttp/cookiejar.py
  tests/test_cookiejar.py
Due: library, tests, project

Add changelog
  CHANGES/12824.bugfix.rst
Due: changelog

Scope DigestAuthMiddleware credentials to the request origin
  aiohttp/client_middleware_digest_auth.py
  tests/test_client_middleware_digest_auth.py
Due: library, tests, project

Add changelog
  CHANGES/12825.bugfix.rst
Due: changelog

Enforce max_line_size on fragmented request target and reason in C parser
  aiohttp/_http_parser.pyx
  tests/test_http_parser.py
Due: library, tests, project

Add changelog
  CHANGES/12826.bugfix.rst
Due: changelog

Reject non-canonical numeric IPv4 host forms in TCPConnector
  aiohttp/connector.py
  aiohttp/helpers.py
  tests/test_connector.py
  tests/test_helpers.py
Due: library, tests, project
