Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Release 3.11.0rc2
  CHANGES.rst
  aiohttp/__init__.py
Due: library, changelog, docs

Release 3.11.0rc2 (#9849)
  CHANGES.rst
  aiohttp/__init__.py
Due: library, changelog, docs

Fix incorrect parsing of chunk extensions with the pure Python parser
  CHANGES/9851.bugfix.rst
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests

Fix system routes polluting the middleware cache
  CHANGES/9852.bugfix.rst
  aiohttp/web_app.py
  tests/test_web_middleware.py
Due: library, changelog, tests

Fix incorrect parsing of chunk extensions with the pure Python parser (#9851)
  CHANGES/9851.bugfix.rst
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests

Fix system routes polluting the middleware cache (#9852)
  CHANGES/9852.bugfix.rst
  aiohttp/web_app.py
  tests/test_web_middleware.py
Due: library, changelog, tests

[PR #9851/541d86d backport][3.11] Fix incorrect parsing of chunk extensions with the pure Python parser (#9854)
  CHANGES/9851.bugfix.rst
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests

[PR #9851/689ac69 backport][3.11] Fix incorrect parsing of chunk extensions with the pure Python parser (#9854)
  CHANGES/9851.bugfix.rst
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests

[PR #9852/07cba27 backport][3.10] Fix system routes polluting the middleware cache (#9855)
  CHANGES/9852.bugfix.rst
  aiohttp/web_app.py
  tests/test_web_middleware.py
Due: library, changelog, tests

[PR #9852/249855a backport][3.10] Fix system routes polluting the middleware cache (#9855)
  CHANGES/9852.bugfix.rst
  aiohttp/web_app.py
  tests/test_web_middleware.py
Due: library, changelog, tests

[PR #9851/541d86d backport][3.10] Fix incorrect parsing of chunk extensions with the pure Python parser (#9853)
  CHANGES/9851.bugfix.rst
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests

[PR #9851/689ac69 backport][3.10] Fix incorrect parsing of chunk extensions with the pure Python parser (#9853)
  CHANGES/9851.bugfix.rst
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests

Release 3.10.11
  CHANGES.rst
  CHANGES/9436.bugfix.rst
  CHANGES/9470.misc.rst
  CHANGES/9485.misc.rst
  CHANGES/9506.bugfix.rst
  CHANGES/9600.breaking.rst
  CHANGES/9603.misc.rst
  CHANGES/9670.bugfix.rst
  CHANGES/9671.bugfix.rst
  CHANGES/9686.bugfix.rst
  CHANGES/9726.misc.rst
  CHANGES/9736.misc.rst
  CHANGES/9851.bugfix.rst
  CHANGES/9852.bugfix.rst
  aiohttp/__init__.py
Due: library, changelog, docs

[PR #9852/249855a backport][3.11] Fix system routes polluting the middleware cache (#9856)
  CHANGES/9852.bugfix.rst
  aiohttp/web_app.py
  tests/test_web_middleware.py
Due: library, changelog, tests

[PR #9852/07cba27 backport][3.11] Fix system routes polluting the middleware cache (#9856)
  CHANGES/9852.bugfix.rst
  aiohttp/web_app.py
  tests/test_web_middleware.py
Due: library, changelog, tests

Release 3.10.11 (#9857)
  CHANGES.rst
  CHANGES/9436.bugfix.rst
  CHANGES/9470.misc.rst
  CHANGES/9485.misc.rst
  CHANGES/9506.bugfix.rst
  CHANGES/9600.breaking.rst
  CHANGES/9603.misc.rst
  CHANGES/9670.bugfix.rst
  CHANGES/9671.bugfix.rst
  CHANGES/9686.bugfix.rst
  CHANGES/9726.misc.rst
  CHANGES/9736.misc.rst
  CHANGES/9851.bugfix.rst
  CHANGES/9852.bugfix.rst
  aiohttp/__init__.py
Due: library, changelog, docs

Remove 3.10.11rc0 from 3.10 changelog
  CHANGES.rst
Due: changelog, docs

Remove 3.10.11rc0 from 3.10 changelog (#9858)
  CHANGES.rst
Due: changelog, docs

Increment version to 3.10.12.dev0
  aiohttp/__init__.py
Due: library

Increment version to 3.10.12.dev0 (#9862)
  aiohttp/__init__.py
Due: library

Increment version to 3.11.1.dev0
  aiohttp/__init__.py
Due: library

Increment version to 3.11.1.dev0 (#9863)
  aiohttp/__init__.py
Due: library

Increment version to 3.12.0.dev0
  aiohttp/__init__.py
Due: library

Increment version to 3.12.0.dev0 (#9864)
  aiohttp/__init__.py
Due: library

Update dependabot config for 3.12
  .github/dependabot.yml
Due: none

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
