Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party, project

Fix oversized frames on websocket messages
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, tests, project

Create 13415.bugfix.rst
  CHANGES/13415.bugfix.rst
Due: changelog

Fix
  tests/test_client_ws_functional.py
  tests/test_web_websocket_functional.py
Due: tests

Apply suggestion from @Dreamsorcerer
  CHANGES/13415.bugfix.rst
Due: changelog

Apply suggestions from code review
  tests/test_client_ws_functional.py
  tests/test_web_websocket_functional.py
Due: tests

Coverage
  aiohttp/_websocket/reader_py.py
Due: library, project

Apply suggestion from @Dreamsorcerer
  tests/test_web_websocket_functional.py
Due: tests

Create no_extensions.txt
  fuzzers/no_extensions.txt
Due: none

Update http_parser.py
  fuzzers/http_parser.py
Due: none

🧪 Sync coveragepy setup w/ other projects
  .coveragerc-cython.toml
  .coveragerc.toml
Due: configs

Unset the parallel mode in coveragepy config
  .coveragerc-cython.toml
  .coveragerc.toml
Due: configs

🧪 Drop redundant pytest-cov CLI source args
  .github/workflows/ci-cd.yml
Due: none

🧪 Unspecialize `coverage.xml` name in cython job
  .github/workflows/ci-cd.yml
Due: none

🧪 Make `coverage.xml` via `pytest-cov` directly
  .github/workflows/ci-cd.yml
Due: none

🧪 Drop ancient coverage `setup.cfg` section
  setup.cfg
Due: none

🧪Exclude packaging backend config from coverage
  .coveragerc-cython.toml
  .coveragerc.toml
Due: configs

🔧 Unexclude xfailing tests from coverage
  .coveragerc-cython.toml
  .coveragerc.toml
Due: configs

🧪 Control coverage parallel mode via env var
  .coveragerc-cython.toml
  .coveragerc.toml
  tests/autobahn/test_autobahn.py
Due: configs, tests

🧪 Run autobahn tests under the same runtime
  tests/autobahn/test_autobahn.py
Due: tests

Revert "🧪 Unspecialize `coverage.xml` name in cython job"
  .github/workflows/ci-cd.yml
Due: none

📝 Add a change note for PR #13422
  CHANGES/13422.contrib.rst
Due: changelog

[PR #13422/356d355b backport][3.15] 🧪 Sync coveragepy setup w/ other projects
  .coveragerc-cython.toml
  .coveragerc.toml
  .github/workflows/ci-cd.yml
  CHANGES/13422.contrib.rst
  docs/spelling_wordlist.txt
  setup.cfg
  tests/autobahn/test_autobahn.py
Due: configs, changelog, docs, tests

[PR #13422/356d355b backport][3.14] 🧪 Sync coveragepy setup w/ other projects
  .coveragerc-cython.toml
  .coveragerc.toml
  .github/workflows/ci-cd.yml
  CHANGES/13422.contrib.rst
  docs/spelling_wordlist.txt
  setup.cfg
  tests/autobahn/test_autobahn.py
Due: configs, changelog, docs, tests

[PR #13422/356d355b backport][3.15] 🧪 Sync coveragepy setup w/ other projects (#13423)
  .coveragerc-cython.toml
  .coveragerc.toml
  .github/workflows/ci-cd.yml
  CHANGES/13422.contrib.rst
  docs/spelling_wordlist.txt
  setup.cfg
  tests/autobahn/test_autobahn.py
Due: configs, changelog, docs, tests

[PR #13422/356d355b backport][3.14] 🧪 Sync coveragepy setup w/ other projects (#13424)
  .coveragerc-cython.toml
  .coveragerc.toml
  .github/workflows/ci-cd.yml
  CHANGES/13422.contrib.rst
  docs/spelling_wordlist.txt
  setup.cfg
  tests/autobahn/test_autobahn.py
Due: configs, changelog, docs, tests

Reduce number of file descriptors needed in multipart messages
  CHANGES/13420.bugfix.rst
  aiohttp/web_request.py
  tests/test_web_functional.py
Due: library, changelog, tests, project

Apply suggestions from code review
  tests/test_web_functional.py
Due: tests

Rename 13420.bugfix.rst to 13426.bugfix.rst
  CHANGES/13426.bugfix.rst
Due: changelog

Replace broken upload attributes with new ones
  CHANGES/13427.deprecation.rst
  CHANGES/13427.feature.rst
  aiohttp/client_reqrep.py
  aiohttp/payload.py
  docs/client_reference.rst
  tests/test_client_functional.py
Due: library, changelog, docs, tests, project

Update 13427.deprecation.rst
  CHANGES/13427.deprecation.rst
Due: changelog

Update 13427.feature.rst
  CHANGES/13427.feature.rst
Due: changelog

Apply suggestion from @Dreamsorcerer
  tests/test_client_functional.py
Due: tests

Skip executor
  aiohttp/web_request.py
Due: library, project

Update web_request.py
  aiohttp/web_request.py
Due: library, project

Check for existing upload
  aiohttp/client_reqrep.py
  aiohttp/payload.py
  docs/client_reference.rst
  tests/test_client_functional.py
Due: library, docs, tests, project

Fix
  aiohttp/client.py
  tests/test_client_functional.py
Due: library, tests, project

Test mutated class attribute
  tests/test_client_functional.py
Due: tests

Fix
  CHANGES.rst
  tests/test_client_functional.py
Due: changelog, docs, tests

Fix
  aiohttp/client_reqrep.py
  docs/spelling_wordlist.txt
  tests/test_client_functional.py
Due: library, docs, tests, project

Strip IPv6 link-local zone id from proxy request target
  CHANGES/13401.bugfix.rst
  aiohttp/client_reqrep.py
  tests/test_client_request.py
Due: library, changelog, tests, project

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: ((any of: tests/) or (any of: tests/**)) or (any of: tests/)
  tools: any of: tools/
  third-party: any of: vendor/
  project: any of: aiohttp/**
