Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Fix test when symlink encountered
  tests/test_urldispatch.py
Due: tests

check self._force_close before starting timer
  aiohttp/web_protocol.py
Due: library

remove keepalive_timeout check
  aiohttp/web_protocol.py
Due: library

Update aiohttp/web_protocol.py
  aiohttp/web_protocol.py
Due: library

Add CHANGE and contributor
  CHANGES/10433.feature.rst
  CONTRIBUTORS.txt
Due: changelog, docs

Fix test when symlink encountered (#10447)
  tests/test_urldispatch.py
Due: tests

fix tests
  tests/conftest.py
  tests/test_client_functional.py
  tests/test_urldispatch.py
  tests/test_web_functional.py
  tests/test_web_sendfile_functional.py
  tests/test_web_urldispatcher.py
Due: tests

Deactivate blockbuster for benchmark tests
  tests/conftest.py
Due: tests

Fixes for strict-bytes
  .mypy.ini
  aiohttp/_websocket/reader_py.py
  aiohttp/_websocket/writer.py
  aiohttp/abc.py
  aiohttp/compression_utils.py
  aiohttp/http_writer.py
  aiohttp/web_response.py
  aiohttp/web_ws.py
  tests/test_websocket_parser.py
Due: library, tests

Apply suggestions from code review
  aiohttp/abc.py
  aiohttp/compression_utils.py
  aiohttp/http_writer.py
  aiohttp/web_response.py
  aiohttp/web_ws.py
Due: library

Unneeded annotation
  aiohttp/web_response.py
Due: library

Cleanup questionable no cover comments
  aiohttp/_websocket/helpers.py
  aiohttp/_websocket/reader.py
  aiohttp/client_reqrep.py
  aiohttp/compression_utils.py
  aiohttp/helpers.py
  aiohttp/http_parser.py
  aiohttp/pytest_plugin.py
  aiohttp/resolver.py
  aiohttp/tcp_helpers.py
  aiohttp/test_utils.py
  aiohttp/web.py
  aiohttp/web_routedef.py
  aiohttp/web_runner.py
  aiohttp/web_urldispatcher.py
  aiohttp/worker.py
  tests/test_client_functional.py
  tests/test_http_parser.py
  tests/test_run_app.py
  tests/test_web_app.py
  tests/test_web_urldispatcher.py
  tests/test_websocket_parser.py
Due: library, tests

Update test_websocket_parser.py
  tests/test_websocket_parser.py
Due: tests

Update aiohttp/client_reqrep.py
  aiohttp/client_reqrep.py
Due: library

Nit
  tests/test_web_server.py
Due: tests

Cleanup no cover comments (#10455)
  aiohttp/_websocket/helpers.py
  aiohttp/_websocket/reader.py
  aiohttp/client_reqrep.py
  aiohttp/compression_utils.py
  aiohttp/helpers.py
  aiohttp/http_parser.py
  aiohttp/pytest_plugin.py
  aiohttp/resolver.py
  aiohttp/tcp_helpers.py
  aiohttp/test_utils.py
  aiohttp/web.py
  aiohttp/web_routedef.py
  aiohttp/web_runner.py
  aiohttp/web_urldispatcher.py
  aiohttp/worker.py
  tests/test_client_functional.py
  tests/test_http_parser.py
  tests/test_run_app.py
  tests/test_web_app.py
  tests/test_web_urldispatcher.py
  tests/test_websocket_parser.py
Due: library, tests

Close the socket if there's a failure in start_connection()
  aiohttp/connector.py
Due: library

Update test_proxy.py
  tests/test_proxy.py
Due: tests

Update start_connection mock to return a mocked socket
  tests/conftest.py
Due: tests

Fix proxy test.
  tests/test_proxy.py
Due: tests

Add sock.close() test.
  tests/test_connector.py
Due: tests

Add a comment.
  aiohttp/connector.py
Due: library

Doc changes
  CHANGES/10464.bugfix.rst
  CONTRIBUTORS.txt
Due: changelog, docs

FileResponse: accept BufferedReader
  aiohttp/web_fileresponse.py
Due: library

IO is always bytes, I think
  aiohttp/web_fileresponse.py
Due: library

Add comments
  aiohttp/web_fileresponse.py
Due: library

Fix inappropriate "break in finally" (#10434)
  CHANGES/10434.bugfix.rst
  aiohttp/web_protocol.py
  tests/test_web_server.py
Due: library, changelog, tests

Review comments -- add author to changes
  CHANGES/10464.bugfix.rst
Due: changelog

review feedback -- combine with clauses
  tests/test_connector.py
Due: tests

review feedback -- add explicit typing
  aiohttp/connector.py
Due: library

fix tests
  requirements/lint.txt
  requirements/test.txt
  tests/test_web_sendfile_functional.py
  tests/test_web_urldispatcher.py
Due: configs, tests
