Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party, project

.codecov.yml:

codecov:
  branch: master
  notify:
    manual_trigger: true

comment:
  require_head: false
  require_base: false

coverage:
  range: "95..100"

  status:
    project: no

component_management:
  individual_components:
    - component_id: project
      paths:
        - aiohttp/**
    - component_id: tests
      paths:
        - tests/**

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Fix ZLibDecompressor dropping data past the first gzip member (#12674)
  CHANGES/7157.bugfix.rst
  CONTRIBUTORS.txt
  aiohttp/compression_utils.py
  docs/spelling_wordlist.txt
  tests/test_compression_utils.py
  tests/test_http_parser.py
Due: library, changelog, docs, tests, project

Tokenize Connection header in WebSocket client handshake
  CHANGES/PLACEHOLDER.bugfix.rst
  aiohttp/client.py
  tests/test_client_ws.py
Due: library, changelog, tests, project

Rename CHANGES fragment to PR number
  CHANGES/12746.bugfix.rst
Due: changelog

Add truststore to lint requirements for mypy resolution (#11705)
  requirements/lint.in
  requirements/lint.txt
Due: configs

Allow truststore CA probing in blockbuster fixture (#11705)
  docs/spelling_wordlist.txt
  tests/conftest.py
Due: docs, tests

Add OpenSSL and APIs to spelling wordlist (#11705)
  docs/spelling_wordlist.txt
Due: docs

Add importable to spelling wordlist (#11705)
  docs/spelling_wordlist.txt
Due: docs

Rephrase changelog to avoid 'substring' (docs spell check)
  CHANGES/12746.bugfix.rst
Due: changelog

Reword 12746 changelog to describe only the behavior change
  CHANGES/12746.bugfix.rst
Due: changelog

Strengthen WebSocket client Connection-header handshake tests
  tests/test_client_ws.py
Due: tests

Guard non-ASCII tokens in WebSocket client Connection check
  aiohttp/client.py
Due: library, project

Improve timing issues on shutdown tests
  tests/test_run_app.py
Due: tests

Improve timing issues on shutdown tests (#12747)
  tests/test_run_app.py
Due: tests

Update test_run_app.py
  tests/test_run_app.py
Due: tests

Apply suggestion from @Dreamsorcerer
  aiohttp/connector.py
Due: library, project

Apply suggestion from @Dreamsorcerer
  tests/test_run_app.py
Due: tests

Improve timing issues on shutdown tests (#12747) (#12748)
  tests/test_run_app.py
Due: tests

Suppress xref resolution for truststore.SSLContext in docs (#11705)
  docs/client_advanced.rst
  docs/client_reference.rst
Due: docs

Update 12726.doc.rst
  CHANGES/12726.doc.rst
Due: changelog

Add aiointercept to third party library list (#12727)
  CHANGES/12727.doc.rst
  docs/third_party.rst
Due: changelog, docs

remove third party archived repos from docs (#12726)
  CHANGES/12726.doc.rst
  docs/third_party.rst
Due: changelog, docs

Test WebSocket Connection upgrade-token handling via the parser
  tests/test_client_proto.py
  tests/test_client_ws.py
  tests/test_http_parser.py
Due: tests

Reuse the parser's Connection upgrade flag in the WS client handshake
  CHANGES/12746.bugfix.rst
  aiohttp/client.py
  aiohttp/client_reqrep.py
Due: library, changelog, project

Fix Dependabot Security
  requirements/pyproject.toml
Due: configs

Fix Dependabot Security (#12751)
  requirements/pyproject.toml
Due: configs

Restore use_truststore opt-in flag, stop auto-loading (#11705)
  CHANGES/11705.feature.rst
  aiohttp/connector.py
  docs/client_advanced.rst
  docs/client_reference.rst
  tests/conftest.py
  tests/test_truststore.py
Due: library, changelog, docs, tests, project

Improve ContentLengthError messages to show expected vs received bytes
  CHANGES/11355.misc.rst
  aiohttp/_http_parser.pyx
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests, project

Rename 11355.misc.rst to 12753.misc.rst
  CHANGES/12753.misc.rst
Due: changelog

Update 12753.misc.rst
  CHANGES/12753.misc.rst
Due: changelog

use asyncio.to_thread
  aiohttp/web_fileresponse.py
Due: library, project

remove unreachable code, stop is never None
  aiohttp/web_fileresponse.py
Due: library, project

Revert "remove unreachable code, stop is never None"
  aiohttp/web_fileresponse.py
Due: library, project

Fix sendfile test
  tests/test_web_sendfile.py
Due: tests

Improve ContentLengthError messages to show expected vs received bytes (#12753)
  CHANGES/12753.misc.rst
  aiohttp/_http_parser.pyx
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests, project

Fix sendfile test (#12754)
  tests/test_web_sendfile.py
Due: tests
