Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party, project

Add ssl_object to ServerFingerprintMismatch and fix WS raise sites
  aiohttp/client.py
  aiohttp/client_exceptions.py
  aiohttp/client_reqrep.py
  tests/test_client_exceptions.py
  tests/test_client_fingerprint.py
Due: library, tests, project

Fix docs: SSLSocket→SSLObject, versionadded 3.13→4.0, mention ServerFingerprintMismatch in changelog
  CHANGES/10028.feature.rst
  docs/client_advanced.rst
  docs/client_reference.rst
Due: changelog, docs

Fix import order in test_client_fingerprint.py (isort)
  tests/test_client_fingerprint.py
Due: tests

Add functional tests for ssl_object on client exceptions
  tests/test_client_fingerprint.py
  tests/test_client_functional.py
Due: tests

Fix mypy errors: dict type params, __setstate__ signature, cast for get_extra_info
  aiohttp/client_exceptions.py
  aiohttp/client_reqrep.py
Due: library, project

Fix mypy errors in tests: __repr__ assignment, FakeSSLObject type, ssl import in fingerprint
  tests/test_client_exceptions.py
  tests/test_client_fingerprint.py
Due: tests

Improve patch coverage: add getstate/setstate tests, elif/else branches, pragma no cover
  tests/test_client_exceptions.py
  tests/test_client_fingerprint.py
Due: tests

Fetch current body in CI check
  .github/workflows/ci-cd.yml
Due: none

Coverage
  tests/test_web_app.py
  tests/test_web_middleware.py
  tests/test_web_server.py
Due: tests

Fetch current body in CI check (#12927)
  .github/workflows/ci-cd.yml
Due: none

Update 3287.breaking.rst
  CHANGES/3287.breaking.rst
Due: changelog

Coverage
  aiohttp/web_request.py
Due: library, project

Create SECURITY_EXTRA.md
  SECURITY_EXTRA.md
Due: docs

Update SECURITY_EXTRA.md
  SECURITY_EXTRA.md
Due: docs

Create SECURITY_EXTRA.md (#12928)
  SECURITY_EXTRA.md
Due: docs

Return ResourceRoute from .set_options_route() (#12917)
  CHANGES/12917.feature.rst
  aiohttp/web_urldispatcher.py
  docs/web_reference.rst
  tests/test_urldispatch.py
Due: library, changelog, docs, tests, project

[PR #12913/c2f4ac403 backport][3.15] Parameterize test_simple_web_file_response benchmarks by file size (#12926)
  CHANGES/12913.misc.rst
  tests/test_benchmarks_web_fileresponse.py
Due: changelog, tests

Return ResourceRoute from .set_options_route() (#12917) (#12930)
  CHANGES/12917.feature.rst
  aiohttp/web_urldispatcher.py
  docs/web_reference.rst
  tests/test_urldispatch.py
Due: library, changelog, docs, tests, project

Fix case-sensitivity
  aiohttp/client.py
  aiohttp/hdrs.py
  aiohttp/helpers.py
  aiohttp/http_parser.py
  aiohttp/test_utils.py
  aiohttp/web_response.py
  tests/test_helpers.py
  tests/test_http_parser.py
  tests/test_test_utils.py
  tests/test_urldispatch.py
Due: library, tests, project

Chang
  CHANGES/12930.bugfix.rst
Due: changelog

Rename 12930.bugfix.rst to 12931.bugfix.rst
  CHANGES/12931.bugfix.rst
Due: changelog

Update helpers.py
  aiohttp/helpers.py
Due: library, project

Update test_http_parser.py
  tests/test_http_parser.py
Due: tests

Avoid removing labels on maintainer comments
  .github/workflows/label-remove.yml
Due: none

Avoid removing labels on maintainer comments (#12943)
  .github/workflows/label-remove.yml
Due: none

Create http_parser.py
  fuzzers/http_parser.py
Due: none

Create http_payload_parser.py
  fuzzers/http_payload_parser.py
Due: none

Create multipart.py
  fuzzers/multipart.py
Due: none

Create payload_url.py
  fuzzers/payload_url.py
Due: none

Create web_request.py
  fuzzers/web_request.py
Due: none

Update .mypy.ini
  .mypy.ini
Due: none

Update http_payload_parser.py
  fuzzers/http_payload_parser.py
Due: none

Update http_parser.py
  fuzzers/http_parser.py
Due: none

Apply suggestions from code review
  fuzzers/http_payload_parser.py
  fuzzers/payload_url.py
  fuzzers/web_request.py
Due: none

Apply suggestions from code review
  fuzzers/http_parser.py
  fuzzers/http_payload_parser.py
  fuzzers/multipart.py
Due: none

Update lint.in
  requirements/lint.in
Due: configs

Update lint.txt
  requirements/lint.txt
Due: configs

Apply suggestions from code review
  fuzzers/http_parser.py
  fuzzers/http_payload_parser.py
  fuzzers/multipart.py
  fuzzers/payload_url.py
  fuzzers/web_request.py
Due: none

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: ((any of: tests/) or (any of: tests/**)) or (any of: tests/)
  tools: any of: tools/
  third-party: any of: vendor/
  project: any of: aiohttp/**
