Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Document exceptions raised by send_frame et al. (#11234)
  CHANGES/11234.doc.rst
  docs/web_reference.rst
Due: changelog, docs

Update tracing.py
  aiohttp/tracing.py
Due: library

Update web_app.py
  aiohttp/web_app.py
Due: library

Update aiohttp/tracing.py
  aiohttp/tracing.py
Due: library

Add Second Generic Value to _TracingSignal for improved typehinting
  aiohttp/tracing.py
Due: library

fixes and add contribution data
  CHANGES/11268.feature.rst
  aiohttp/tracing.py
Due: library, changelog

fix spelling mistake
  CHANGES/11268.feature.rst
Due: changelog

Add trailer parsing
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, tests

Fix exception type
  tests/test_http_parser.py
Due: tests

Fix raises
  tests/test_http_parser.py
Due: tests

Fix exception not raising on feed_data()
  aiohttp/http_parser.py
  setup.cfg
  tests/test_http_parser.py
Due: library, tests

Update setup.cfg
  setup.cfg
Due: none

Fix test
  tests/test_http_parser.py
Due: tests

add signal typehint test
  tests/test_tracing.py
Due: tests

combine tests and check for Signal type-check in ctx_factory
  tests/test_tracing.py
Due: tests

Make sure test.in knows we need typing-extensions for assert_type
  requirements/test.in
Due: configs

make sure trace-config's default variable is also being checked
  tests/test_tracing.py
Due: tests

Update a regex in test_aiohttp_request_coroutine for Python 3.14
  tests/test_client_functional.py
Due: tests

Add Ben Beasley to CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: docs

Update test.in
  requirements/test.in
Due: configs

Update test_tracing.py
  tests/test_tracing.py
Due: tests

Add a news fragment for PR#11271
  CHANGES/11271.bugfix
Due: changelog

Fix
  aiohttp/http_parser.py
Due: library

Avoid passing status line to HeadersParser
  aiohttp/http_parser.py
  aiohttp/multipart.py
Due: library

Update tests/test_http_parser.py
  tests/test_http_parser.py
Due: tests

Create 11269.feature.rst
  CHANGES/11269.feature.rst
Due: changelog

Bump the minimum supported version of aiosignal to 1.4
  setup.cfg
Due: none

Create 11280.misc.rst
  CHANGES/11280.misc.rst
Due: changelog

Bump aiosignal from 1.3.2 to 1.4.0 (#11267) (#11279)
  aiohttp/tracing.py
  aiohttp/web_app.py
  requirements/base.txt
  requirements/constraints.txt
  requirements/dev.txt
  requirements/runtime-deps.txt
  requirements/test.txt
Due: library, configs

Bump requirments.in
  requirements/runtime-deps.in
Due: configs

Update 11280.misc.rst
  CHANGES/11280.misc.rst
Due: changelog

Bump the minimum supported version of aiosignal to 1.4 (#11280)
  CHANGES/11280.misc.rst
  requirements/runtime-deps.in
  setup.cfg
Due: configs, changelog

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
