Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

add coverage for pipelined responses
  aiohttp/client_proto.py
  tests/test_client_proto.py
Due: library, tests

preen
  aiohttp/client_proto.py
Due: library

one byte at a time
  tests/test_client_proto.py
Due: tests

add more missing coverage
  tests/test_client_proto.py
Due: tests

coverage
  tests/test_client_proto.py
Due: tests

remove unreachable code
  aiohttp/client_proto.py
Due: library

add unhandled exception coverage
  tests/test_client_proto.py
Due: tests

Reduce code indent in ResponseHandler.data_received (#8699)
  aiohttp/client_proto.py
  tests/test_client_proto.py
Due: library, tests

[PR #8699/11f0e7f backport][3.11] Reduce code indent in ResponseHandler.data_received (#10056)
  aiohttp/client_proto.py
  tests/test_client_proto.py
Due: library, tests

[PR #8699/11f0e7f backport][3.12] Reduce code indent in ResponseHandler.data_received (#10057)
  aiohttp/client_proto.py
  tests/test_client_proto.py
Due: library, tests

Remove unreachable content length check for chunked encoding
  aiohttp/web_response.py
Due: library

Combine executor jobs in FileResponse sendfile_fallback
  aiohttp/web_fileresponse.py
Due: library

Remove unreachable content length check for chunked encoding (#10058)
  aiohttp/web_response.py
Due: library

lint
  aiohttp/web_fileresponse.py
Due: library

Combine executor jobs in FileResponse sendfile_fallback (#10059)
  aiohttp/web_fileresponse.py
Due: library

[PR #10058/12372d7 backport][3.11] Remove unreachable content length check for chunked encoding (#10060)
  aiohttp/web_response.py
Due: library

[PR #10058/12372d7 backport][3.12] Remove unreachable content length check for chunked encoding (#10061)
  aiohttp/web_response.py
Due: library

Downgrade logging of invalid HTTP methods on first request to debug level (#10055)
  CHANGES/10055.misc.rst
  aiohttp/_http_parser.pyx
  aiohttp/http_exceptions.py
  aiohttp/http_parser.py
  aiohttp/web_protocol.py
  tests/test_http_parser.py
  tests/test_web_server.py
Due: library, changelog, tests

adjust tests for 3.x
  tests/test_web_server.py
Due: tests

[PR #10055/c11fe96 backport][3.12] Downgrade logging of invalid HTTP methods on first request to debug level (#10065)
  CHANGES/10055.misc.rst
  aiohttp/_http_parser.pyx
  aiohttp/http_exceptions.py
  aiohttp/http_parser.py
  aiohttp/web_protocol.py
  tests/test_http_parser.py
  tests/test_web_server.py
Due: library, changelog, tests

[PR #10055/c11fe96 backport][3.11] Downgrade logging of invalid HTTP methods on first request to debug level (#10064)
  CHANGES/10055.misc.rst
  aiohttp/_http_parser.pyx
  aiohttp/http_exceptions.py
  aiohttp/http_parser.py
  aiohttp/web_protocol.py
  tests/test_http_parser.py
  tests/test_web_server.py
Due: library, changelog, tests
