Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Increment version to 3.11.13.dev0
  aiohttp/__init__.py
Due: library

[3.11] Increment version to 3.11.13.dev0 (#10420)
  aiohttp/__init__.py
Due: library

Drop legacy yield from test
  tests/test_client_functional.py
Due: tests

Add human readable error messages for WebSocket PING/PONG timeouts
  aiohttp/client_ws.py
  aiohttp/web_ws.py
  tests/test_client_ws_functional.py
  tests/test_web_websocket_functional.py
Due: library, tests

changelog
  CHANGES/10422.misc.rst
Due: changelog

Apply suggestions from code review
  CHANGES/10422.misc.rst
Due: changelog

Update .mypy.ini
  .mypy.ini
Due: none

Disable writelines for fix_test_write_large_payload_deflate_compression_data_in_eof
  tests/test_http_writer.py
Due: tests

changelog
  CHANGES/10423.packaging.rst
Due: changelog

Revert incorrect typing changes (#10222)
  .github/workflows/ci-cd.yml
  .mypy.ini
  aiohttp/http_parser.py
  aiohttp/web_protocol.py
Due: library

Revert incorrect typing changes (#10222)
  .mypy.ini
Due: none

Attempt to avoid copy on read
  aiohttp/streams.py
Due: library

Add benchmark for streaming API iter_chunks
  tests/test_benchmarks_client.py
Due: tests

Add benchmark for streaming API iter_chunks (#10426)
  tests/test_benchmarks_client.py
Due: tests

Disable writelines for test_write_large_payload_deflate_compression_data_in_eof (#10423)
  CHANGES/10423.packaging.rst
  tests/test_http_writer.py
Due: changelog, tests

Add human readable error messages for WebSocket PING/PONG timeouts (#10422)
  CHANGES/10422.misc.rst
  aiohttp/client_ws.py
  aiohttp/web_ws.py
  tests/test_client_ws_functional.py
  tests/test_web_websocket_functional.py
Due: library, changelog, tests

Update web_fileresponse.py
  aiohttp/web_fileresponse.py
Due: library

Update web_app.py
  aiohttp/web_app.py
Due: library

Update web.py
  aiohttp/web.py
Due: library

fix inappropriate break in finally block
  aiohttp/web_protocol.py
Due: library

add BaseException handler
  aiohttp/web_protocol.py
Due: library

add changelog
  CHANGES/10434.bugfix.rst
Due: changelog

add test for BaseException handling
  tests/test_web_server.py
Due: tests

fix changelog
  CHANGES/10434.bugfix.rst
Due: changelog

Add TODO for update_auth exclusion
  tests/conftest.py
Due: tests

Bump blockbuster to 1.5.15 and revert some changes
  requirements/lint.in
  requirements/lint.txt
  requirements/test.txt
  tests/conftest.py
  tests/test_client_functional.py
  tests/test_client_request.py
  tests/test_proxy_functional.py
  tests/test_web_functional.py
  tests/test_web_request.py
  tests/test_web_response.py
  tests/test_web_sendfile_functional.py
  tests/test_web_urldispatcher.py
Due: configs, tests

Detect blocking calls in coroutines using BlockBuster
  aiohttp/client.py
  requirements/test.in
  requirements/test.txt
  tests/conftest.py
  tests/test_client_functional.py
  tests/test_client_request.py
  tests/test_cookiejar.py
  tests/test_proxy_functional.py
  tests/test_urldispatch.py
  tests/test_web_functional.py
  tests/test_web_request.py
  tests/test_web_response.py
  tests/test_web_sendfile_functional.py
  tests/test_web_urldispatcher.py
Due: library, configs, tests

fix tests
  requirements/lint.txt
  requirements/test.txt
  tests/test_web_sendfile_functional.py
  tests/test_web_urldispatcher.py
Due: configs, tests
