Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party, project

.codecov.yml:

codecov:
  branch: master
  notify:
    manual_trigger: true

comment:
  require_head: false
  require_base: false

coverage:
  range: "95..100"

  status:
    project: no

component_management:
  individual_components:
    - component_id: project
      paths:
        - aiohttp/**
    - component_id: tests
      paths:
        - tests/**

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Enable kTLS for test_simple_web_file_response[ssl] benchmark
  .github/workflows/ci-cd.yml
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Update client_reqrep.py
  aiohttp/client_reqrep.py
Due: library, project

Apply suggestion from @Dreamsorcerer
  aiohttp/client.py
Due: library, project

Enable ktls in sendfile benchmark only for 3.12 or newer
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Load kernel tls module for regular test runs because they also execute benchmarks
  .github/workflows/ci-cd.yml
Due: none

Tokenize Connection header in WebSocket client handshake (#12746)
  aiohttp/client.py
  aiohttp/client_reqrep.py
  tests/test_client_proto.py
  tests/test_client_ws.py
  tests/test_http_parser.py
Due: library, tests, project

docs: fix double spacing in documentation
  docs/client_advanced.rst
  docs/client_reference.rst
  docs/tracing_reference.rst
Due: docs

docs: fix missing 'to' in 'according the' and double space
  aiohttp/multipart.py
  docs/multipart_reference.rst
  docs/web_advanced.rst
Due: library, docs, project

Show kernel and openssl info before running benchmarks
  .github/workflows/ci-cd.yml
  tests/test_benchmarks_web_fileresponse.py
Due: tests

It seems openssl 3.0 can only enable ktls for sending, let's try that
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Fix regular test runs
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Remove unnecessary step for test runs
  .github/workflows/ci-cd.yml
Due: none

Add comments to the benchmark
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Parameterize test_simple_web_file_response benchmarks by file size
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Add misc file
  CHANGES/12913.misc.rst
Due: changelog

Speed up test setup
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Fix python 3.10 compatibility
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Fix python 3.10 unclosed transport issue
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Let pytest manage tmp_path cleanup later instead of eager unlink, this will hopefuly fix tests on windows
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Documentation changes
  CHANGES/10028.feature.rst
  docs/client_advanced.rst
  docs/client_reference.rst
Due: changelog, docs

Added myself to CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: docs

SSLObject made available through exceptions
  aiohttp/client.py
  aiohttp/client_exceptions.py
  aiohttp/client_reqrep.py
  aiohttp/connector.py
  tests/test_client_exceptions.py
Due: library, tests, project

Reduce response count for ssl-large file response benchmarks
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Extract SSL object from connection or transport if available
  aiohttp/client_reqrep.py
  aiohttp/connector.py
Due: library, project

Update comments
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Added weakref and SSLObject
  aiohttp/client_exceptions.py
  aiohttp/client_reqrep.py
  tests/test_client_exceptions.py
Due: library, tests, project

Cleanup benchmarks
  tests/test_benchmarks_client.py
  tests/test_benchmarks_client_ws.py
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Update with advisories
  THREAT_MODEL.md
Due: docs

Revert un-related changes
  tests/test_benchmarks_client.py
  tests/test_benchmarks_client_ws.py
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Remove dead code
  tests/test_benchmarks_client.py
  tests/test_benchmarks_client_ws.py
  tests/test_benchmarks_web_fileresponse.py
Due: tests

Add incident response plan
  CHANGES/9999.contrib.rst
  docs/contributing-admins.rst
Due: changelog, docs

Rename 9999.contrib.rst to 12914.contrib.rst
  CHANGES/12914.contrib.rst
Due: changelog

Fix
  docs/contributing-admins.rst
Due: docs

Update contributing-admins.rst
  docs/contributing-admins.rst
Due: docs

Update spelling_wordlist.txt
  docs/spelling_wordlist.txt
Due: docs

Handle TLS Handshake Attempts on HTTP Ports with Logging
  aiohttp/web_protocol.py
Due: library, project

Change connection closure method to force_close
  aiohttp/web_protocol.py
Due: library, project

Enhance TLS handshake detection in web_protocol.py
  aiohttp/web_protocol.py
Due: library, project

Apply suggestions from code review
  aiohttp/client_reqrep.py
  tests/test_client_request.py
Due: library, tests, project
