Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party, project

.codecov.yml:

codecov:
  branch: master
  notify:
    manual_trigger: true

comment:
  require_head: false
  require_base: false

coverage:
  range: "95..100"

  status:
    project: no

component_management:
  individual_components:
    - component_id: project
      paths:
        - aiohttp/**
    - component_id: tests
      paths:
        - tests/**

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Update test_client_ws_functional.py
  tests/test_client_ws_functional.py
Due: tests

Apply suggestion from @Dreamsorcerer
  tests/test_websocket_parser.py
Due: tests

Fix decompressing frames without negotiation (#12976) (#12977)
  CHANGES/12976.bugfix.rst
  THREAT_MODEL.md
  aiohttp/_websocket/reader_py.py
  aiohttp/client.py
  tests/autobahn/test_autobahn.py
  tests/test_benchmarks_http_websocket.py
  tests/test_client_ws_functional.py
  tests/test_websocket_parser.py
  tests/test_websocket_writer.py
Due: library, changelog, docs, tests, project

Fix decompressing frames without negotiation (#12976) (#12978)
  CHANGES/12976.bugfix.rst
  THREAT_MODEL.md
  aiohttp/_websocket/reader_py.py
  aiohttp/client.py
  tests/autobahn/test_autobahn.py
  tests/test_benchmarks_http_websocket.py
  tests/test_client_ws_functional.py
  tests/test_websocket_parser.py
  tests/test_websocket_writer.py
Due: library, changelog, docs, tests, project

Fix case sensitivity (#12931)
  CHANGES/12931.bugfix.rst
  aiohttp/client.py
  aiohttp/hdrs.py
  aiohttp/helpers.py
  aiohttp/http_parser.py
  aiohttp/test_utils.py
  aiohttp/web_response.py
  tests/test_helpers.py
  tests/test_http_parser.py
  tests/test_test_utils.py
  tests/test_urldispatch.py
Due: library, changelog, tests, project

Apply suggestion from @Dreamsorcerer
  tests/test_http_parser.py
Due: tests

Fix case sensitivity (#12931) (#12979)
  CHANGES/12931.bugfix.rst
  aiohttp/client.py
  aiohttp/hdrs.py
  aiohttp/helpers.py
  aiohttp/http_parser.py
  aiohttp/test_utils.py
  aiohttp/web_response.py
  tests/test_helpers.py
  tests/test_http_parser.py
  tests/test_test_utils.py
  tests/test_urldispatch.py
Due: library, changelog, tests, project

Fix case sensitivity (#12931) (#12980)
  CHANGES/12931.bugfix.rst
  aiohttp/client.py
  aiohttp/hdrs.py
  aiohttp/helpers.py
  aiohttp/http_parser.py
  aiohttp/test_utils.py
  aiohttp/web_response.py
  tests/test_helpers.py
  tests/test_http_parser.py
  tests/test_test_utils.py
  tests/test_urldispatch.py
Due: library, changelog, tests, project

Close request body Payload on mid-upload disconnect
  aiohttp/client.py
Due: library, project

Fix empty domain issue in DigestAuthMiddleware
  CHANGES/12990.bugfix.rst
  aiohttp/client_middleware_digest_auth.py
  tests/test_client_middleware_digest_auth.py
Due: library, changelog, tests, project

Rename 12990.bugfix.rst to 12983.bugfix.rst
  CHANGES/12983.bugfix.rst
Due: changelog

Fix Digest challerge with multiple schemes
  CHANGES/12982.bugfix.rst
  aiohttp/client_middleware_digest_auth.py
  tests/test_client_middleware_digest_auth.py
Due: library, changelog, tests, project

Rename 12982.bugfix.rst to 12984.bugfix.rst
  CHANGES/12984.bugfix.rst
Due: changelog

Apply suggestion from @Dreamsorcerer
  aiohttp/client_middleware_digest_auth.py
Due: library, project

Redundant check
  aiohttp/client_middleware_digest_auth.py
Due: library, project

Tests
  aiohttp/client.py
  tests/test_client_functional.py
Due: library, tests, project

Create 12985.bugfix.rst
  CHANGES/12985.bugfix.rst
Due: changelog

Apply suggestion from @Dreamsorcerer
  aiohttp/client.py
Due: library, project

keep websocket compression state across interleaved control frames
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, tests, project

add changelog and contributors entry
  CHANGES/12988.bugfix.rst
  CONTRIBUTORS.txt
Due: changelog, docs

Give explanation why the change is breaking
  CHANGES/12822.breaking.rst
Due: changelog

Try firewalled test
  .github/workflows/ci-cd.yml
Due: none

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Due: none

DeflateBuffer: skip header sniff on empty chunks
  CHANGES/12994.bugfix.rst
  CONTRIBUTORS.txt
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, docs, tests, project

Fix parse_content_disposition rejecting disptype with OWS (#12996)
  CHANGES/12996.bugfix.rst
  aiohttp/multipart.py
  tests/test_multipart_helpers.py
Due: library, changelog, tests, project

handle int max-age on a python-built morsel
  aiohttp/cookiejar.py
Due: library, project

Apply suggestion from @Dreamsorcerer
  aiohttp/multipart.py
Due: library, project

Update aiofastnet to 0.18.0
  pyproject.toml
  requirements/lint.in
  requirements/runtime-deps.in
Due: configs

Apply suggestion from @Dreamsorcerer
  tests/test_multipart_helpers.py
Due: tests

Fix parse_content_disposition rejecting headers with OWS around disposition type (#12997)
  CHANGES/12996.bugfix.rst
  aiohttp/multipart.py
  tests/test_multipart_helpers.py
Due: library, changelog, tests, project

Fix IndexError in parser on edge case
  CHANGES/12981.bugfix.rst
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests, project
