Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Update aiohttp/web_protocol.py
  aiohttp/web_protocol.py
Due: library

touch ups
  aiohttp/web_response.py
Due: library

drop int()
  aiohttp/web_response.py
Due: library

add missing coverage
  tests/test_web_response.py
Due: tests

lint changes
  CHANGES/9175.misc.rst
Due: changelog

Update test_http_writer.py
  tests/test_http_writer.py
Due: tests

Update test_client_ws.py
  tests/test_client_ws.py
Due: tests

Update client_reference.rst
  docs/client_reference.rst
Due: docs

Improve performance of starting web requests (#9172)
  CHANGES/9172.misc.rst
  aiohttp/web_response.py
  tests/test_web_response.py
Due: library, changelog, tests

Update 9137.bugfix.rst
  CHANGES/9137.bugfix.rst
Due: changelog

Add and use ClientConnectionResetError (#9137)
  CHANGES/9137.bugfix.rst
  aiohttp/__init__.py
  aiohttp/base_protocol.py
  aiohttp/client.py
  aiohttp/client_exceptions.py
  aiohttp/http_websocket.py
  aiohttp/http_writer.py
  docs/client_reference.rst
  tests/test_client_ws.py
  tests/test_client_ws_functional.py
  tests/test_http_writer.py
Due: library, changelog, docs, tests

Update tests/test_client_ws.py
  tests/test_client_ws.py
Due: tests

Add and use ClientConnectionResetError (#9137) (#9194)
  CHANGES/9137.bugfix.rst
  aiohttp/__init__.py
  aiohttp/base_protocol.py
  aiohttp/client.py
  aiohttp/client_exceptions.py
  aiohttp/http_websocket.py
  aiohttp/http_writer.py
  docs/client_reference.rst
  tests/test_client_ws.py
  tests/test_client_ws_functional.py
  tests/test_http_writer.py
Due: library, changelog, docs, tests

Add and use ClientConnectionResetError (#9137) (#9195)
  CHANGES/9137.bugfix.rst
  aiohttp/__init__.py
  aiohttp/base_protocol.py
  aiohttp/client.py
  aiohttp/client_exceptions.py
  aiohttp/http_websocket.py
  aiohttp/http_writer.py
  docs/client_reference.rst
  tests/test_client_ws.py
  tests/test_client_ws_functional.py
  tests/test_http_writer.py
Due: library, changelog, docs, tests

[PR #9170/3ae3a27 backport][3.11] Move reversing slice of middleware apps into the cache (#9187)
  CHANGES/9170.misc.rst
  aiohttp/web_app.py
Due: library, changelog

[PR #9170/eacf2e0 backport][3.11] Move reversing slice of middleware apps into the cache (#9187)
  CHANGES/9170.misc.rst
  aiohttp/web_app.py
Due: library, changelog

Disallow newlines in reason (#9167)
  CHANGES/9167.bugfix.rst
  aiohttp/web_exceptions.py
  aiohttp/web_response.py
  tests/test_web_exceptions.py
  tests/test_web_response.py
Due: library, changelog, tests

Disallow newlines in reason (#9167)
  CHANGES/9167.bugfix.rst
  aiohttp/web_response.py
  tests/test_web_exceptions.py
  tests/test_web_response.py
Due: library, changelog, tests

Update tests/test_web_response.py
  tests/test_web_response.py
Due: tests

Update tests/test_web_exceptions.py
  tests/test_web_exceptions.py
Due: tests

Improve middleware performance
  aiohttp/web_middlewares.py
  aiohttp/web_urldispatcher.py
Due: library

changelog
  CHANGES/9200.breaking.rst
Due: changelog

Disallow newlines in reason (#9167) (#9198)
  CHANGES/9167.bugfix.rst
  aiohttp/web_response.py
  tests/test_web_exceptions.py
  tests/test_web_response.py
Due: library, changelog, tests

Disallow newlines in reason (#9167) (#9199)
  CHANGES/9167.bugfix.rst
  aiohttp/web_response.py
  tests/test_web_exceptions.py
  tests/test_web_response.py
Due: library, changelog, tests

lint
  CHANGES/9200.breaking.rst
Due: changelog

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
