Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

comment:
  layout: "header, diff, flags, files, footer"
  require_base: false
  require_head: false

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Fix digest auth dropping challenge fields with empty string values (#12097)
  CHANGES/12097.bugfix.rst
  aiohttp/client_middleware_digest_auth.py
  tests/test_client_middleware_digest_auth.py
Due: library, changelog, tests

Update test_web_log.py
  tests/test_web_log.py
Due: tests

Fix multipart injection (#12104)
  aiohttp/formdata.py
  tests/test_formdata.py
Due: library, tests

Fix multipart injection (#12104) (#12109)
  aiohttp/formdata.py
  tests/test_formdata.py
Due: library, tests

Fix multipart injection (#12104) (#12110)
  aiohttp/formdata.py
  tests/test_formdata.py
Due: library, tests

Remove pickle loading from CookieJar
  CHANGES/12091.bugfix.rst
  aiohttp/cookiejar.py
  docs/client_reference.rst
  tests/test_cookiejar.py
Due: library, changelog, docs, tests

Add changelog entry for pickle removal
  CHANGES/12111.breaking.rst
Due: changelog

Remove pickle references from docs and docstrings
  aiohttp/cookiejar.py
  docs/client_reference.rst
Due: library, docs

fix: widen trace_request_ctx type to accept any object
  CHANGES/10753.bugfix.rst
  aiohttp/client.py
Due: library, changelog

Fix access log timestamps ignoring daylight savings time (#12085)
  CHANGES/11283.bugfix.rst
  aiohttp/web_log.py
  tests/test_web_log.py
Due: library, changelog, tests

Allow `JSONEncoder` to return bytes directly (#11989)
  CHANGES/11989.feature.rst
  aiohttp/client.py
  aiohttp/client_ws.py
  aiohttp/payload.py
  aiohttp/typedefs.py
  aiohttp/web.py
  aiohttp/web_response.py
  aiohttp/web_ws.py
  docs/client_reference.rst
  docs/spelling_wordlist.txt
  docs/web_reference.rst
  tests/test_client_functional.py
  tests/test_client_ws_functional.py
  tests/test_payload.py
  tests/test_web_response.py
  tests/test_web_websocket.py
Due: library, changelog, docs, tests

Update test_client_ws_functional.py
  tests/test_client_ws_functional.py
Due: tests

Update test_web_response.py
  tests/test_web_response.py
Due: tests

Update test_web_websocket.py
  tests/test_web_websocket.py
Due: tests

Update test_connector.py
  tests/test_connector.py
Due: tests

Bound DNS cache (#12106)
  CHANGES/12106.feature.rst
  aiohttp/connector.py
  tests/test_connector.py
Due: library, changelog, tests

test: add test for custom class as trace_request_ctx
  tests/test_tracing.py
Due: tests

fix: widen trace_request_ctx type to accept any object (#12113)
  CHANGES/10753.bugfix.rst
  aiohttp/client.py
  tests/test_tracing.py
Due: library, changelog, tests

Fix server hang on chunked transfer encoding size mismatch
  CHANGES/10596.bugfix.rst
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests

Allow `JSONEncoder` to return bytes directly (#11989) (#12115)
  CHANGES/11989.feature.rst
  aiohttp/client.py
  aiohttp/client_ws.py
  aiohttp/payload.py
  aiohttp/typedefs.py
  aiohttp/web.py
  aiohttp/web_response.py
  aiohttp/web_ws.py
  docs/client_reference.rst
  docs/spelling_wordlist.txt
  docs/web_reference.rst
  tests/test_client_functional.py
  tests/test_client_ws_functional.py
  tests/test_payload.py
  tests/test_web_response.py
  tests/test_web_websocket.py
Due: library, changelog, docs, tests

Bound DNS cache (#12106) (#12117)
  CHANGES/12106.feature.rst
  aiohttp/connector.py
  tests/test_connector.py
Due: library, changelog, tests
