Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Cleanup changelog messages (#9261)
  CHANGES/4650.bugfix
  CHANGES/8845.bugfix.rst
  CHANGES/9031.misc.rst
  CHANGES/9204.misc.rst
Due: changelog

Release 3.10.6rc0
  CHANGES.rst
  aiohttp/__init__.py
Due: library, changelog, docs

Highlight fixing router matching pre-encoded URLs can be a breaking change
  CHANGES/8898.breaking.rst
Due: changelog

link issues for visibility
  CHANGES/5621.breaking.rst
  CHANGES/6619.breaking.rst
Due: changelog

Fix double unquoting in url dispatcher
  aiohttp/web_urldispatcher.py
Due: library

Revert "Fix double unquoting in url dispatcher"
  aiohttp/web_urldispatcher.py
Due: library

fix
  aiohttp/web_urldispatcher.py
Due: library

fixes
  aiohttp/web_urldispatcher.py
Due: library

no way around a breaking change are we need to tell people %2F is no longer decoded
  aiohttp/web_urldispatcher.py
Due: library

adjust
  aiohttp/web_urldispatcher.py
Due: library

Revert "no way around a breaking change are we need to tell people %2F is no longer decoded"
  aiohttp/web_urldispatcher.py
Due: library

coverage
  tests/test_urldispatch.py
Due: tests

fix
  tests/test_urldispatch.py
Due: tests

remove unquoting
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
Due: library, tests

adjust for a potential yarl revert
  tests/test_urldispatch.py
Due: tests

fix url_for for plain
  aiohttp/web_urldispatcher.py
Due: library

downgrade yarl to get a CI run
  requirements/base.txt
  requirements/constraints.txt
  requirements/dev.txt
  requirements/runtime-deps.txt
  requirements/test.txt
Due: configs

Revert "Switch to using `yarl.URL.absolute` over `yarl.URL.is_absolute()` (#9171)"
  CHANGES/9171.misc.rst
  aiohttp/client.py
  aiohttp/test_utils.py
  aiohttp/web_request.py
Due: library, changelog

Revert "Remove unused backwards compatibility code for old yarl versions (#9083)"
  aiohttp/client_reqrep.py
  aiohttp/typedefs.py
  tests/test_client_functional.py
Due: library, tests

one more place
  requirements/runtime-deps.in
  setup.cfg
Due: configs

Revert "one more place"
  requirements/runtime-deps.in
  setup.cfg
Due: configs

Revert "Revert "Remove unused backwards compatibility code for old yarl versions (#9083)""
  aiohttp/client_reqrep.py
  aiohttp/typedefs.py
  tests/test_client_functional.py
Due: library, tests

Revert "Revert "Switch to using `yarl.URL.absolute` over `yarl.URL.is_absolute()` (#9171)""
  CHANGES/9171.misc.rst
  aiohttp/client.py
  aiohttp/test_utils.py
  aiohttp/web_request.py
Due: library, changelog

Revert "downgrade yarl to get a CI run"
  requirements/base.txt
  requirements/constraints.txt
  requirements/dev.txt
  requirements/runtime-deps.txt
  requirements/test.txt
Due: configs

unquoted
  tests/test_urldispatch.py
Due: tests

Update tests/test_urldispatch.py
  tests/test_urldispatch.py
Due: tests

coverage
  tests/test_web_urldispatcher.py
Due: tests

type
  aiohttp/web_urldispatcher.py
  tests/test_web_urldispatcher.py
Due: library, tests

having the raw_path will not help since we cannot use it for the regex
  aiohttp/web_urldispatcher.py
Due: library

use path_safe
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
Due: library, tests

Update aiohttp/web_urldispatcher.py
  aiohttp/web_urldispatcher.py
Due: library
