Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Switch dependabot to target 3.13 branch
  .github/dependabot.yml
Due: none

Switch dependabot to target 3.13 branch (#10999)
  .github/dependabot.yml
Due: none

Added Unofficial Tabdeal API to Built with aiohttp page
  docs/built_with.rst
Due: docs

Customise codecov comment
  .codecov.yml
Due: configs

Correct type of ClientRequest.body
  docs/client_reference.rst
Due: docs

Apply suggestions from code review
  docs/client_reference.rst
Due: docs

Update docs/client_reference.rst
  docs/client_reference.rst
Due: docs

Refactor ClientRequest
  aiohttp/client.py
  aiohttp/client_reqrep.py
  aiohttp/connector.py
  aiohttp/web_request.py
  tests/test_client_request.py
Due: library, tests

Add kwargs
  aiohttp/client_reqrep.py
Due: library

Tweaks
  aiohttp/client_reqrep.py
Due: library

Fix
  aiohttp/client_reqrep.py
Due: library

Fix benchmarks
  tests/test_benchmarks_client_request.py
Due: tests

Handle reusing payloads
  aiohttp/client_middleware_digest_auth.py
  aiohttp/payload.py
Due: library

reuse
  aiohttp/payload.py
Due: library

reuse
  aiohttp/multipart.py
Due: library

reuse
  aiohttp/multipart.py
  aiohttp/payload.py
Due: library

Remove unneeded code
  aiohttp/client_reqrep.py
  tests/test_benchmarks_client_request.py
Due: library, tests

reuse
  aiohttp/multipart.py
  aiohttp/web_response.py
Due: library

Fix
  tests/test_benchmarks_client_request.py
Due: tests

Readjust baseline for ClientRequest benchmarks
  tests/test_benchmarks_client_request.py
Due: tests

Update test_benchmarks_client_request.py
  tests/test_benchmarks_client_request.py
Due: tests

reuse
  aiohttp/client_reqrep.py
  aiohttp/payload.py
Due: library

reuse
  aiohttp/client.py
  aiohttp/client_reqrep.py
Due: library

reuse
  aiohttp/client.py
  aiohttp/web_response.py
Due: library

Fix flaky test
  tests/test_web_urldispatcher.py
Due: tests
