Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

[PR #9883/a118114 backport][3.11] Fix improperly closed WebSocket connections generating a backtrace (#9884)
  CHANGES/9883.bugfix.rst
  aiohttp/_websocket/reader_py.py
  tests/test_client_ws_functional.py
Due: library, changelog, tests

Add benchmarks for web middleware
  tests/test_benchmarks_web_middleware.py
Due: tests

Make creating `RequestInfo` backwards compatible with 3.10 (#9873)
  CHANGES/9873.bugfix.rst
  aiohttp/client_reqrep.py
  tests/test_client_request.py
Due: library, changelog, tests

Fix improperly closed WebSocket connections generating a backtrace (#9883)
  CHANGES/9883.bugfix.rst
  aiohttp/_websocket/reader_py.py
  tests/test_client_ws_functional.py
Due: library, changelog, tests

Update tests/test_benchmarks_web_middleware.py
  tests/test_benchmarks_web_middleware.py
Due: tests

[PR #9883/3fdea30 backport][3.12] Fix improperly closed WebSocket connections generating a backtrace (#9887)
  CHANGES/9883.bugfix.rst
  aiohttp/_websocket/reader_py.py
  tests/test_client_ws_functional.py
Due: library, changelog, tests

[PR #9883/a118114 backport][3.12] Fix improperly closed WebSocket connections generating a backtrace (#9887)
  CHANGES/9883.bugfix.rst
  aiohttp/_websocket/reader_py.py
  tests/test_client_ws_functional.py
Due: library, changelog, tests

Add benchmarks for web middleware (#9885)
  tests/test_benchmarks_web_middleware.py
Due: tests

fix backport by adding @web.middleware
  tests/test_benchmarks_web_middleware.py
Due: tests

Release 3.11.2
  CHANGES.rst
  CHANGES/9883.bugfix.rst
  aiohttp/__init__.py
Due: library, changelog, docs

Release 3.11.2 (#9892)
  CHANGES.rst
  CHANGES/9883.bugfix.rst
  aiohttp/__init__.py
Due: library, changelog, docs

Increment version to 3.11.3.dev0
  aiohttp/__init__.py
Due: library

Increment version to 3.11.3.dev0 (#9894)
  aiohttp/__init__.py
Due: library

DNM: Attempt to speed up _prepare_headers
  aiohttp/web_response.py
Due: library

DNM: Attempt to speed up version checks in client
  aiohttp/client_reqrep.py
Due: library

fix
  aiohttp/web_response.py
Due: library

DNM: Benchmark overhead of setdefault calls in _prepare_headers
  aiohttp/web_response.py
Due: library

Add benchmark for route that support multiple methods
  tests/test_benchmarks_client.py
Due: tests

Update tests/test_benchmarks_client.py
  tests/test_benchmarks_client.py
Due: tests

Add benchmark for a route that supports multiple methods (#9900)
  tests/test_benchmarks_client.py
Due: tests

Revert "slots"
  aiohttp/web_urldispatcher.py
Due: library

slots
  aiohttp/web_urldispatcher.py
Due: library

preen
  aiohttp/web_urldispatcher.py
Due: library

dry
  aiohttp/web_urldispatcher.py
Due: library

lint
  aiohttp/web_urldispatcher.py
Due: library
