Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Fix digest auth dropping challenge fields with empty string values
  aiohttp/client_middleware_digest_auth.py
Due: library

Cleanup
  aiohttp/web_log.py
Due: library

Update web_log.py
  aiohttp/web_log.py
Due: library

fix: remove unused type: ignore comments to satisfy mypy
  tests/test_web_log.py
Due: tests

Add :canonical: directives to enable intersphinx cross-referencing
  CHANGES/10468.doc.rst
  docs/client_reference.rst
  docs/multipart_reference.rst
  docs/streams.rst
  docs/tracing_reference.rst
  docs/web_exceptions.rst
  docs/web_reference.rst
  docs/websocket_utilities.rst
Due: changelog, docs

Store boolean cookie attrs as native JSON booleans
  aiohttp/cookiejar.py
Due: library

Add regression test for empty realm digest auth challenge
  tests/test_client_middleware_digest_auth.py
Due: tests

Add regression test for sendfile fallback over-reading
  tests/test_web_sendfile.py
Due: tests

Experiment with code inclusion
  docs/client_middleware_cookbook.rst
Due: docs

Update client_middleware_cookbook.rst
  docs/client_middleware_cookbook.rst
Due: docs

Strip function def from code example (#12101)
  docs/client_middleware_cookbook.rst
Due: docs

Update 10468.doc.rst
  CHANGES/10468.doc.rst
Due: changelog

Create 12096.bugfix.rst
  CHANGES/12096.bugfix.rst
Due: changelog

Create 12097.bugfix.rst
  CHANGES/12097.bugfix.rst
Due: changelog

Add :canonical: directives for intersphinx cross-referencing (#12098)
  CHANGES/10468.doc.rst
  docs/client_reference.rst
  docs/multipart_reference.rst
  docs/streams.rst
  docs/tracing_reference.rst
  docs/web_exceptions.rst
  docs/web_reference.rst
  docs/websocket_utilities.rst
Due: changelog, docs

Fix _sendfile_fallback over-reading beyond requested count (#12096)
  CHANGES/12096.bugfix.rst
  aiohttp/web_fileresponse.py
  tests/test_web_sendfile.py
Due: library, changelog, tests

Update cookiejar.py
  aiohttp/cookiejar.py
Due: library

Update test_web_log.py
  tests/test_web_log.py
Due: tests

Update test_formdata.py
  tests/test_formdata.py
Due: tests

Update tests/test_formdata.py
  tests/test_formdata.py
Due: tests

Restrict pickle deserialization in CookieJar.load() (#12091)
  CHANGES/12091.bugfix.rst
  aiohttp/cookiejar.py
  docs/client_reference.rst
  docs/spelling_wordlist.txt
  tests/test_cookiejar.py
Due: library, changelog, docs, tests

Update test_cookiejar.py
  tests/test_cookiejar.py
Due: tests

Update connector.py
  aiohttp/connector.py
Due: library

Create 12106.feature.rst
  CHANGES/12106.feature.rst
Due: changelog

Fix multipart injection (#12104)
  aiohttp/formdata.py
  tests/test_formdata.py
Due: library, tests

Update test_connector.py
  tests/test_connector.py
Due: tests

Fix digest auth dropping challenge fields with empty string values (#12097)
  CHANGES/12097.bugfix.rst
  aiohttp/client_middleware_digest_auth.py
  tests/test_client_middleware_digest_auth.py
Due: library, changelog, tests

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
