Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

replace aioredis with valkey in examples
  examples/background_tasks.py
  requirements/constraints.txt
  requirements/dev.txt
  requirements/lint.in
  requirements/lint.txt
Due: configs

change `on_startup` and `on_cleanup` to `cleanup_ctx`
  examples/background_tasks.py
Due: none

simplify solution
  aiohttp/web_request.py
Due: library

coverage
  tests/test_web_request.py
Due: tests

add return type hint
  examples/background_tasks.py
Due: none

changelog
  CHANGES/9309.bugfix.rst
Due: changelog

Increase minimum yarl requirement to 1.13.0 (#9305)
  CHANGES/9305.breaking.rst
  requirements/runtime-deps.in
  setup.cfg
Due: configs, changelog

Update codeql.yml
  .github/codeql.yml
Due: none

Replace aioredis with valkey in examples (#9312)
  .github/codeql.yml
  examples/background_tasks.py
  requirements/constraints.txt
  requirements/dev.txt
  requirements/lint.in
  requirements/lint.txt
Due: configs

Update CHANGES/9207.feature.rst
  CHANGES/9207.feature.rst
Due: changelog

pytest.raises
  tests/test_client_session.py
Due: tests

Replace code that can now be handled by yarl (#9301)
  CHANGES/9301.misc.rst
  aiohttp/client_reqrep.py
  tests/test_client_request.py
  tests/test_proxy_functional.py
Due: library, changelog, tests

add proxy and proxy_auth varriables to ClientSession.__init__ (#9207)
  CHANGES/9207.feature.rst
  CONTRIBUTORS.txt
  aiohttp/client.py
  docs/client_advanced.rst
  tests/test_client_session.py
Due: library, changelog, docs, tests

Remove yarl back-compat for older versions of yarl
  aiohttp/client_reqrep.py
  tests/test_client_request.py
  tests/test_proxy_functional.py
Due: library, tests

[PR #9301/90a36d2 backport][3.10] Replace code that can now be handled by yarl (#9314)
  CHANGES/9301.misc.rst
  aiohttp/client_reqrep.py
  tests/test_client_request.py
  tests/test_proxy_functional.py
Due: library, changelog, tests

[PR #9301/c240b52 backport][3.10] Replace code that can now be handled by yarl (#9314)
  CHANGES/9301.misc.rst
  aiohttp/client_reqrep.py
  tests/test_client_request.py
  tests/test_proxy_functional.py
Due: library, changelog, tests

[PR #9301/c240b52 backport][3.11] Replace code that can now be handled by yarl (#9315)
  CHANGES/9301.misc.rst
  aiohttp/client_reqrep.py
  tests/test_client_request.py
  tests/test_proxy_functional.py
Due: library, changelog, tests

[PR #9301/90a36d2 backport][3.11] Replace code that can now be handled by yarl (#9315)
  CHANGES/9301.misc.rst
  aiohttp/client_reqrep.py
  tests/test_client_request.py
  tests/test_proxy_functional.py
Due: library, changelog, tests

Remove yarl back-compat shims for yarl older than 1.13.0 (#9316)
  aiohttp/client_reqrep.py
  tests/test_client_request.py
  tests/test_proxy_functional.py
Due: library, tests

Fix building the URL in BaseRequest when the host contains a port or IPv6 address (#9309)
  CHANGES/9309.bugfix.rst
  aiohttp/web_request.py
  tests/test_web_request.py
Due: library, changelog, tests

Remove yarl back-compat shims for yarl older than 1.13.0 (#9316) (#9317)
  aiohttp/client_reqrep.py
  tests/test_client_request.py
  tests/test_proxy_functional.py
Due: library, tests

Release 3.10.7
  CHANGES.rst
  CHANGES/9171.misc.rst
  CHANGES/9301.misc.rst
  CHANGES/9309.bugfix.rst
  aiohttp/__init__.py
Due: library, changelog, docs

Release 3.10.7 (#9320)
  CHANGES.rst
  CHANGES/9171.misc.rst
  CHANGES/9301.misc.rst
  CHANGES/9309.bugfix.rst
  aiohttp/__init__.py
Due: library, changelog, docs

Fix custom cookies example
  docs/client_advanced.rst
Due: docs
