Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Upgrade codspeed to 3.0.0 (#9595)
  .mypy.ini
  requirements/constraints.txt
  requirements/dev.txt
  requirements/lint.txt
  requirements/test.txt
  tests/test_benchmarks_client_request.py
  tests/test_benchmarks_cookiejar.py
  tests/test_benchmarks_http_websocket.py
Due: configs, tests

Update receive_str to use f-string
  CHANGES/6800.bugfix.rst
  aiohttp/web_ws.py
Due: library, changelog

Fix refs in changelog
  CHANGES/6800.bugfix.rst
Due: changelog

Update docs
  CHANGES/6800.bugfix.rst
  aiohttp/client_exceptions.py
  docs/client_reference.rst
  docs/web_reference.rst
Due: library, changelog, docs

Update changes log
  CHANGES/6800.bugfix.rst
Due: changelog

Fix mp warning
  aiohttp/client_exceptions.py
Due: library

Update CHANGES/9506.bugfix.rst
  CHANGES/9506.bugfix.rst
Due: changelog

Handle WsMsgType.ERROR message during close() timeout window
  aiohttp/web_ws.py
Due: library

Change branch to assert
  tests/test_web_websocket_functional.py
Due: tests

tweak
  aiohttp/cookiejar.py
Due: library

Update aiohttp/cookiejar.py
  aiohttp/cookiejar.py
Due: library

Avoid starting connection ceil_timeout when a connection is already available
  aiohttp/client.py
  aiohttp/connector.py
Due: library

fix missing quotes
  aiohttp/connector.py
Due: library

changelog
  CHANGES/9600.breaking.rst
Due: changelog

Update CHANGES/9600.breaking.rst
  CHANGES/9600.breaking.rst
Due: changelog

fix check
  aiohttp/connector.py
Due: library

preen
  aiohttp/connector.py
Due: library

subclassed
  docs/spelling_wordlist.txt
Due: docs

Avoid starting connection timeout when a connection is already available
  CHANGES/9600.breaking.rst
  aiohttp/client.py
  aiohttp/connector.py
  docs/spelling_wordlist.txt
Due: library, changelog, docs

Remove cookies from BaseConnector
  aiohttp/connector.py
Due: library

Add benchmark for serializing headers
  tests/test_benchmarks_http_writer.py
Due: tests

Remove unused cookies from `BaseConnector` (#9602)
  aiohttp/connector.py
Due: library

Avoid starting connection timeout when a connection is already available (#9600)
  CHANGES/9600.breaking.rst
  aiohttp/client.py
  aiohttp/connector.py
  docs/spelling_wordlist.txt
Due: library, changelog, docs

does not need loop
  tests/test_benchmarks_http_writer.py
Due: tests

Update tests/test_benchmarks_http_writer.py
  tests/test_benchmarks_http_writer.py
Due: tests

[PR #9600/8b315c6 backport][3.11] Avoid starting connection timeout when a connection is already available (#9607)
  CHANGES/9600.breaking.rst
  aiohttp/client.py
  aiohttp/connector.py
  docs/spelling_wordlist.txt
Due: library, changelog, docs

[PR #9600/e6187f6 backport][3.11] Avoid starting connection timeout when a connection is already available (#9607)
  CHANGES/9600.breaking.rst
  aiohttp/client.py
  aiohttp/connector.py
  docs/spelling_wordlist.txt
Due: library, changelog, docs

Add benchmark for serializing headers (#9604)
  tests/test_benchmarks_http_writer.py
Due: tests
