Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Update base_protocol.py
  aiohttp/base_protocol.py
Due: library

Fix token bucket logic to correctly consume tokens after waiting
  examples/rate_limit_middleware.py
Due: none

Skip benchmarks in ci when running in fork repositories (#11737)
  .github/workflows/ci-cd.yml
  CHANGES/11737.contrib.rst
Due: changelog

Update _http_parser.pyx
  aiohttp/_http_parser.pyx
Due: library

Update test_http_parser.py
  tests/test_http_parser.py
Due: tests

Fix: Add max_size limit to DNS cache to prevent memory exhaustion
  aiohttp/connector.py
Due: library

NEEDS_CLEANUP_CLOSED fixed in Python 3.12.8
  aiohttp/connector.py
Due: library

change log & contributors
  CONTRIBUTORS.txt
Due: docs

change log
  CHANGES/11972.bugfix.rst
Due: changelog

Fix reference typo in change log
  CHANGES/11972.bugfix.rst
Due: changelog

Add unit tests for DNS cache eviction policies
  tests/test_connector.py
Due: tests

NEEDS_CLEANUP_CLOSED fixed in Python 3.12.8 (#11972)
  CHANGES/11972.bugfix.rst
  CONTRIBUTORS.txt
  aiohttp/connector.py
Due: library, changelog, docs

refactor(tests): use autospec=True in mock.patch instead of separate create_autospec
  tests/test_client_request.py
Due: tests

fix(tests): resolve mypy errors
  tests/test_http_writer.py
  tests/test_websocket_writer.py
Due: tests

Allow JSONEncoder to return bytes directly
  aiohttp/client_ws.py
  aiohttp/payload.py
  aiohttp/typedefs.py
  aiohttp/web_response.py
  aiohttp/web_ws.py
Due: library

Add changelog entry for JSONEncoder bytes support
  CHANGES/11989.feature.rst
Due: changelog

Fix spelling in changelog entry
  CHANGES/11989.feature.rst
Due: changelog

feat: change most BaseException to Exception
  CHANGES/2444.bugfix.rst
  aiohttp/_http_parser.pyx
  aiohttp/client.py
  aiohttp/client_proto.py
  aiohttp/http_parser.py
  aiohttp/worker.py
Due: library, changelog

fix: fix lint error
  aiohttp/http_parser.py
Due: library

chore: add comment
  aiohttp/worker.py
Due: library

[PR #11737/f30f43e6 backport][3.14] Skip benchmarks in ci when running in fork repositories (#11991)
  .github/workflows/ci-cd.yml
  CHANGES/11737.contrib.rst
Due: changelog

[PR #11737/f30f43e6 backport][3.13] Skip benchmarks in ci when running in fork repositories (#11990)
  .github/workflows/ci-cd.yml
  CHANGES/11737.contrib.rst
Due: changelog

Update test_client_functional.py
  tests/test_client_functional.py
Due: tests

Update test_base_protocol.py
  tests/test_base_protocol.py
Due: tests

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
