Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party, project

Update test_web_server.py
  tests/test_web_server.py
Due: tests

Update _http_parser.pyx
  aiohttp/_http_parser.pyx
Due: library, project

Harden cookie file permissions in CookieJar.save()
  aiohttp/cookiejar.py
  tests/test_cookiejar.py
Due: library, tests, project

Update test_multipart.py
  tests/test_multipart.py
Due: tests

Update test_http_parser.py
  tests/test_http_parser.py
Due: tests

Refactor cookie file permission handling in CookieJar.save() and update test to preserve existing permissions
  aiohttp/cookiejar.py
  tests/test_cookiejar.py
Due: library, tests, project

Update test_web_protocol.py
  tests/test_web_protocol.py
Due: tests

Apply suggestions from code review
  aiohttp/compression_utils.py
  aiohttp/multipart.py
Due: library, project

Update client_proto.py
  aiohttp/client_proto.py
Due: library, project

Update multipart.py
  aiohttp/multipart.py
Due: library, project

Update web_request.py
  aiohttp/web_request.py
Due: library, project

updated
  aiohttp/cookiejar.py
Due: library, project

Another test
  tests/test_http_parser.py
Due: tests

Fix TypeError when access_logger.enabled changes after RequestHandler init
  aiohttp/web_protocol.py
Due: library, project

Defer feed EOF
  aiohttp/_http_parser.pyx
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, tests, project

Lint
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, tests, project

Fix
  aiohttp/http_parser.py
Due: library, project

Decompress at limit amount to reduce pauses
  aiohttp/_http_parser.pyx
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, tests, project

Add cdef type declarations and inline upgrade check in HTTP parser
  aiohttp/_http_parser.pyx
Due: library, project

ensure data is bytes
  aiohttp/_http_parser.pyx
Due: library, project

Add changelog for #12321
  CHANGES/12321.misc.rst
Due: changelog

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: ((any of: tests/) or (any of: tests/**)) or (any of: tests/)
  tools: any of: tools/
  third-party: any of: vendor/
  project: any of: aiohttp/**
