Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

comment:
  layout: "header, diff, flags, files, footer"
  require_base: false
  require_head: false

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

fix(connector): propagate proxy headers on connection reuse (#11777)
  CHANGES/2596.bugfix.rst
  CONTRIBUTORS.txt
  aiohttp/connector.py
  tests/test_connector.py
Due: library, changelog, docs, tests

Update connector.py
  aiohttp/connector.py
Due: library

Update aiohttp/connector.py
  aiohttp/connector.py
Due: library

Update test_connector.py
  tests/test_connector.py
Due: tests

fix(connector): propagate proxy headers on connection reuse (#11777) (#11860)
  CHANGES/2596.bugfix.rst
  CONTRIBUTORS.txt
  aiohttp/connector.py
  tests/test_connector.py
Due: library, changelog, docs, tests

Revert "Bump coverage from 7.11.0 to 7.13.0 (#11826)"
  .coveragerc
  .coveragerc.toml
  CHANGES/11826.contrib.rst
  requirements/constraints.txt
  requirements/dev.txt
  requirements/test-common.txt
  requirements/test-ft.txt
  requirements/test.txt
Due: configs, changelog

fix(connector): propagate proxy headers on connection reuse (#11777) (#11861)
  CHANGES/2596.bugfix.rst
  CONTRIBUTORS.txt
  aiohttp/connector.py
  tests/test_connector.py
Due: library, changelog, docs, tests

Fixing test for Continuation frame without intial frame
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, tests

Adding CHANGES after creating PR
  CHANGES/11862.bugfix.rst
Due: changelog

Add python-proxy-headers to third_party.rst
  docs/third_party.rst
Due: docs

Add python-proxy-headers to third_party.rst (#11865)
  docs/third_party.rst
Due: docs

Minimizing if-logic for Continuation frame. Adding assertions for the same
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, tests

Fix flaky test
  tests/test_run_app.py
Due: tests

Fix flaky test (#11867)
  tests/test_run_app.py
Due: tests

docs: Add exception handling guidance for background tasks
  docs/client_advanced.rst
  docs/client_quickstart.rst
  examples/client_background_tasks.py
Due: docs

docs: Add news fragment and contributor entry
  CHANGES/1870.doc.rst
  CONTRIBUTORS.txt
Due: changelog, docs

Delete CNAME
  CNAME
Due: none

Update web_app.py
  aiohttp/web_app.py
Due: library

Update background_tasks.py
  examples/background_tasks.py
Due: none

Update test_web_app.py
  tests/test_web_app.py
Due: tests

Update aiohttp/web_app.py
  aiohttp/web_app.py
Due: library

Update client_advanced.rst
  docs/client_advanced.rst
Due: docs

Update faq.rst
  docs/faq.rst
Due: docs

Update web_advanced.rst
  docs/web_advanced.rst
Due: docs

Update web_reference.rst
  docs/web_reference.rst
Due: docs
