Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party, project

Update client.py
  aiohttp/client.py
Due: library, project

Add chunk tracing to .content
  CHANGES/13000.bugfix.rst
  aiohttp/client_reqrep.py
  aiohttp/streams.py
  docs/tracing_reference.rst
  tests/test_client_response.py
  tests/test_client_session.py
  tests/test_streams.py
Due: library, changelog, docs, tests, project

Rename 13000.bugfix.rst to 12899.bugfix.rst
  CHANGES/12899.bugfix.rst
Due: changelog

Make EmptyPayload read-only
  aiohttp/client_reqrep.py
  aiohttp/streams.py
Due: library, project

Fix type error
  aiohttp/streams.py
Due: library, project

Rename 12899.bugfix.rst to 12889.bugfix.rst
  CHANGES/12889.bugfix.rst
Due: changelog

Test coverage
  tests/test_client_functional.py
Due: tests

Run prepare hooks for parser errors
  CHANGES/6463.bugfix
  aiohttp/web_app.py
  aiohttp/web_protocol.py
  aiohttp/web_runner.py
  tests/test_web_functional.py
Due: library, changelog, tests, project

guard non-ascii transfer-encoding token in response parser
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, tests, project

add changelog fragment
  CHANGES/12891.bugfix.rst
Due: changelog

Update aiofastnet to 0.10.0
  pyproject.toml
  requirements/runtime-deps.in
Due: configs

Import AiohttpClient from pytest_aiohttp after aiohttp.pytest_plugin removal
  examples/tests/test_rate_limit_middleware.py
Due: none

Upgrade to aiofastnet 0.11.0, fix sendfile return type
  aiohttp/web_fileresponse.py
  pyproject.toml
  requirements/lint.in
  requirements/runtime-deps.in
Due: library, configs, project

Fix unreachable mypy error
  aiohttp/connector.py
  aiohttp/web_fileresponse.py
  aiohttp/web_runner.py
Due: library, project

Add type info for sendfile arguments
  aiohttp/web_fileresponse.py
Due: library, project

Add type info for create_connection wrapper
  aiohttp/connector.py
Due: library, project

Add type info for create_server
  aiohttp/web_runner.py
Due: library, project

fix: correct 'the the' double word in test comments
  tests/test_connector.py
Due: tests

reject websocket close codes above the valid range
  CONTRIBUTORS.txt
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, docs, tests, project

add changelog fragment
  CHANGES/12895.bugfix.rst
Due: changelog

docs: fix double space in tracing reference
  docs/tracing_reference.rst
Due: docs

fix: add missing 'to' in 'according the'
  aiohttp/multipart.py
Due: library, project

Free up some disk space to hopefully fix the sporadic Android CI errors.
  .github/workflows/ci-cd.yml
Due: none

Improvements
  aiohttp/client_reqrep.py
  aiohttp/streams.py
  tests/test_client_session.py
  tests/test_streams.py
Due: library, tests, project

Fixes
  CHANGES/12889.bugfix.rst
  aiohttp/client_reqrep.py
  aiohttp/streams.py
  docs/tracing_reference.rst
  tests/test_client_session.py
  tests/test_streams.py
Due: library, changelog, docs, tests, project

Update client_reqrep.py
  aiohttp/client_reqrep.py
Due: library, project

Potential fix for pull request finding 'CodeQL / Unused import'
  tests/test_streams.py
Due: tests

Apply suggestion from @Dreamsorcerer
  docs/client_reference.rst
Due: docs

Update test_client_request.py
  tests/test_client_request.py
Due: tests

Cache client middlewares
  aiohttp/client.py
  aiohttp/client_middlewares.py
  aiohttp/client_reqrep.py
  tests/test_client_session.py
Due: library, tests, project

Create 10890.misc.rst
  CHANGES/10890.misc.rst
Due: changelog

Apply suggestion from @Dreamsorcerer
  CHANGES/10890.misc.rst
Due: changelog

Update 10890.misc.rst
  CHANGES/10890.misc.rst
Due: changelog

Use autospec in tests when possible
  tests/test_run_app.py
  tests/test_web_runner.py
Due: tests

Apply suggestion from @Dreamsorcerer
  tests/test_client_request.py
Due: tests

Add required linux kernel version
  docs/faq.rst
Due: docs

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: ((any of: tests/) or (any of: tests/**)) or (any of: tests/)
  tools: any of: tools/
  third-party: any of: vendor/
  project: any of: aiohttp/**
