Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Update aiohttp/connector.py
  aiohttp/connector.py
Due: library

Update test_proxy.py
  tests/test_proxy.py
Due: tests

cleanup text that did not format well
  CHANGES/9348.feature.rst
  docs/client_reference.rst
  docs/web_reference.rst
Due: changelog, docs

preen
  docs/client_reference.rst
  docs/web_reference.rst
Due: docs

update internal tests
  tests/test_websocket_writer.py
Due: tests

lint
  CHANGES/9348.feature.rst
Due: changelog

fix test
  tests/test_client_ws.py
Due: tests

fix test
  tests/test_proxy.py
Due: tests

more cover
  tests/test_client_ws_functional.py
Due: tests

writer cannot be none for client
  aiohttp/client_ws.py
Due: library

fix the other test
  tests/test_proxy.py
Due: tests

keep order
  tests/test_proxy.py
Due: tests

Add new send_frame method to WebSockets (#9348)
  CHANGES/9348.feature.rst
  aiohttp/client_ws.py
  aiohttp/http_websocket.py
  aiohttp/web_ws.py
  docs/client_reference.rst
  docs/web_reference.rst
  tests/test_client_ws.py
  tests/test_client_ws_functional.py
  tests/test_web_websocket.py
  tests/test_web_websocket_functional.py
  tests/test_websocket_writer.py
Due: library, changelog, docs, tests

[PR #9348/2628256 backport][3.11] Add new send_frame method to WebSockets (#9350)
  CHANGES/9348.feature.rst
  aiohttp/client_ws.py
  aiohttp/http_websocket.py
  aiohttp/web_ws.py
  docs/client_reference.rst
  docs/web_reference.rst
  tests/test_client_ws.py
  tests/test_client_ws_functional.py
  tests/test_web_websocket.py
  tests/test_web_websocket_functional.py
  tests/test_websocket_writer.py
Due: library, changelog, docs, tests

[PR #9348/963636a backport][3.11] Add new send_frame method to WebSockets (#9350)
  CHANGES/9348.feature.rst
  aiohttp/client_ws.py
  aiohttp/http_websocket.py
  aiohttp/web_ws.py
  docs/client_reference.rst
  docs/web_reference.rst
  tests/test_client_ws.py
  tests/test_client_ws_functional.py
  tests/test_web_websocket.py
  tests/test_web_websocket_functional.py
  tests/test_websocket_writer.py
Due: library, changelog, docs, tests

Update test_connector.py
  tests/test_connector.py
Due: tests

Coverage
  tests/test_proxy.py
Due: tests

Update tests/test_proxy.py
  tests/test_proxy.py
Due: tests

Replaced usage of 'aiohttp.testutils.make_mocked_coro' to 'mock.AsyncMock()' in several files
  aiohttp/test_utils.py
  tests/test_client_response.py
  tests/test_client_session.py
  tests/test_client_ws.py
  tests/test_connector.py
  tests/test_http_writer.py
  tests/test_proxy.py
  tests/test_tracing.py
  tests/test_web_app.py
  tests/test_web_functional.py
  tests/test_web_response.py
  tests/test_web_websocket.py
  tests/test_websocket_writer.py
Due: library, tests

resolved syntax errors
  tests/test_client_ws.py
Due: tests

subTest
  tests/test_proxy.py
Due: tests

Remove unnecessary generator expression to generate the connection key
  aiohttp/client_reqrep.py
Due: library

replace blockdiag with graphviz in docs
  docs/conf.py
  docs/tracing_reference.rst
  requirements/broken-projects.in
  requirements/constraints.txt
  requirements/dev.txt
  requirements/doc-spelling.txt
  requirements/doc.in
  requirements/doc.txt
Due: configs, docs

update 9359.contrib.rst
  CHANGES/9359.contrib.rst
Due: changelog

Remove unnecessary generator expression to generate the connection key (#9358)
  aiohttp/client_reqrep.py
Due: library

Fix issue 6652: Raise `aiohttp.ServerFingerprintMismatch` exception o… (#6653)
  CHANGES/6652.bugfix
  CONTRIBUTORS.txt
  aiohttp/connector.py
  tests/test_proxy.py
Due: library, changelog, docs, tests

Fix issue 6652: Raise `aiohttp.ServerFingerprintMismatch` exception o… (#9363)
  CHANGES/6652.bugfix
  CONTRIBUTORS.txt
  aiohttp/connector.py
  tests/test_proxy.py
Due: library, changelog, docs, tests
