Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Fix client connection header not reflecting connector `force_close` value (#10003)
  CHANGES/10003.bugfix.rst
  aiohttp/client_reqrep.py
  tests/test_benchmarks_client_request.py
  tests/test_client_request.py
  tests/test_web_functional.py
Due: library, changelog, tests

[PR #10003/78d1be5 backport][3.11] Fix client connection header not reflecting connector `force_close` value (#10009)
  CHANGES/10003.bugfix.rst
  aiohttp/client_reqrep.py
  tests/test_benchmarks_client_request.py
  tests/test_client_request.py
  tests/test_web_functional.py
Due: library, changelog, tests

[PR #10003/9c75874 backport][3.11] Fix client connection header not reflecting connector `force_close` value (#10009)
  CHANGES/10003.bugfix.rst
  aiohttp/client_reqrep.py
  tests/test_benchmarks_client_request.py
  tests/test_client_request.py
  tests/test_web_functional.py
Due: library, changelog, tests

[PR #10003/78d1be5 backport][3.12] Fix client connection header not reflecting connector `force_close` value (#10010)
  CHANGES/10003.bugfix.rst
  aiohttp/client_reqrep.py
  tests/test_benchmarks_client_request.py
  tests/test_client_request.py
  tests/test_web_functional.py
Due: library, changelog, tests

[PR #10003/9c75874 backport][3.12] Fix client connection header not reflecting connector `force_close` value (#10010)
  CHANGES/10003.bugfix.rst
  aiohttp/client_reqrep.py
  tests/test_benchmarks_client_request.py
  tests/test_client_request.py
  tests/test_web_functional.py
Due: library, changelog, tests

Disable Python 3.14 builds (#9961)
  .github/workflows/ci-cd.yml
Due: none

[PR #10003/9c75874 backport][3.10] Fix client connection header not reflecting connector `force_close` value (#10008)
  CHANGES/10003.bugfix.rst
  aiohttp/client_reqrep.py
  tests/test_benchmarks_client_request.py
  tests/test_client_request.py
  tests/test_web_functional.py
Due: library, changelog, tests

[PR #10003/78d1be5 backport][3.10] Fix client connection header not reflecting connector `force_close` value (#10008)
  CHANGES/10003.bugfix.rst
  aiohttp/client_reqrep.py
  tests/test_benchmarks_client_request.py
  tests/test_client_request.py
  tests/test_web_functional.py
Due: library, changelog, tests

Improve performance of serializing headers
  CHANGES/10014.misc.rst
  aiohttp/_http_writer.pyx
Due: library, changelog

try inline
  aiohttp/_http_writer.pyx
Due: library

see if inline of to_str makes a difference
  aiohttp/_http_writer.pyx
Due: library

Revert "see if inline of to_str makes a difference"
  aiohttp/_http_writer.pyx
Due: library

Improve performance of serializing headers (#10014)
  CHANGES/10014.misc.rst
  aiohttp/_http_writer.pyx
Due: library, changelog

Add url dispatcher benchmark for resolving root route for github simulated routes tree
  tests/test_benchmarks_web_urldispatcher.py
Due: tests

Release 3.11.7
  CHANGES.rst
  CHANGES/10003.bugfix.rst
  CHANGES/10014.misc.rst
  aiohttp/__init__.py
Due: library, changelog, docs

Release 3.11.7 (#10019)
  CHANGES.rst
  CHANGES/10003.bugfix.rst
  CHANGES/10014.misc.rst
  aiohttp/__init__.py
Due: library, changelog, docs

Increment version to 3.11.8.dev0
  aiohttp/__init__.py
Due: library

fix
  tests/test_benchmarks_web_urldispatcher.py
Due: tests

Add url dispatcher benchmark for resolving root route for github simulated routes tree (#10018)
  tests/test_benchmarks_web_urldispatcher.py
Due: tests

Increment version to 3.11.8.dev0 (#10021)
  aiohttp/__init__.py
Due: library

Fixes for Python 3.8
  tests/test_benchmarks_web_urldispatcher.py
Due: tests

More Python 3.8 typing fixes
  tests/test_benchmarks_web_urldispatcher.py
Due: tests

Another Python 3.8 typing fix
  tests/test_benchmarks_web_urldispatcher.py
Due: tests

Defer creation of cookies for client responses until needed
  aiohttp/client.py
  aiohttp/client_reqrep.py
Due: library

Reduce some unneeded initialization in ClientResponse
  aiohttp/client_reqrep.py
Due: library
