Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

[PR #9234/a7e3e26 backport][3.10] Remove unnecessary string operations in update_content_encoding (#9247)
  aiohttp/client_reqrep.py
Due: library

Add Generic for TestClient.app (#8977) (#9245)
  CHANGES/8977.bugfix.rst
  aiohttp/pytest_plugin.py
  aiohttp/test_utils.py
  tests/test_client_functional.py
  tests/test_test_utils.py
Due: library, changelog, tests

Small speed up to starting web requests (#9241)
  CHANGES/9241.misc.rst
  aiohttp/web_protocol.py
Due: library, changelog

[PR #9240/9604461 backport][3.10] Small cleanups to Application._handle (#9250)
  aiohttp/web_app.py
Due: library

[PR #9240/67942a1 backport][3.10] Small cleanups to Application._handle (#9250)
  aiohttp/web_app.py
Due: library

[PR #9240/9604461 backport][3.11] Small cleanups to Application._handle (#9251)
  aiohttp/web_app.py
Due: library

[PR #9240/67942a1 backport][3.11] Small cleanups to Application._handle (#9251)
  aiohttp/web_app.py
Due: library

[PR #9241/7e0ef07 backport][3.11] Small speed up to starting web requests (#9253)
  CHANGES/9241.misc.rst
  aiohttp/web_protocol.py
Due: library, changelog

[PR #9241/ab647e2 backport][3.11] Small speed up to starting web requests (#9253)
  CHANGES/9241.misc.rst
  aiohttp/web_protocol.py
Due: library, changelog

[PR #9241/7e0ef07 backport][3.10] Small speed up to starting web requests (#9252)
  CHANGES/9241.misc.rst
  aiohttp/web_protocol.py
Due: library, changelog

[PR #9241/ab647e2 backport][3.10] Small speed up to starting web requests (#9252)
  CHANGES/9241.misc.rst
  aiohttp/web_protocol.py
Due: library, changelog

Stop raise_for_status() releasing when in a context (#9239)
  CHANGES/9239.bugfix.rst
  aiohttp/client.py
  aiohttp/client_reqrep.py
  aiohttp/client_ws.py
  tests/test_client_functional.py
Due: library, changelog, tests

Disallow .json()/.text() outside of context
  aiohttp/client_reqrep.py
  tests/test_client_functional.py
Due: library, tests

Create 9254.breaking.rst
  CHANGES/9254.breaking.rst
Due: changelog

Disallow .json()/.text() outside of context (#9254)
  CHANGES/9254.breaking.rst
  aiohttp/client_reqrep.py
  tests/test_client_functional.py
Due: library, changelog, tests

Fix cancellations being swallowed (#9030)
  CHANGES/9030.bugfix.rst
  aiohttp/client_reqrep.py
  aiohttp/web_protocol.py
  tests/test_client_request.py
  tests/test_web_functional.py
Due: library, changelog, tests

Update test_web_functional.py
  tests/test_web_functional.py
Due: tests

Stop raise_for_status() releasing when in a context (#9239) (#9255)
  CHANGES/9239.bugfix.rst
  aiohttp/client.py
  aiohttp/client_reqrep.py
  aiohttp/client_ws.py
  tests/test_client_functional.py
Due: library, changelog, tests

Stop raise_for_status() releasing when in a context (#9239) (#9256)
  CHANGES/9239.bugfix.rst
  aiohttp/client.py
  aiohttp/client_reqrep.py
  aiohttp/client_ws.py
  tests/test_client_functional.py
Due: library, changelog, tests

Fix cancellations being swallowed (#9030) (#9257)
  CHANGES/9030.bugfix.rst
  aiohttp/client_reqrep.py
  aiohttp/web_protocol.py
  tests/test_client_request.py
  tests/test_web_functional.py
Due: library, changelog, tests

Fix cancellations being swallowed (#9030) (#9258)
  CHANGES/9030.bugfix.rst
  aiohttp/client_reqrep.py
  aiohttp/web_protocol.py
  tests/test_client_request.py
  tests/test_web_functional.py
Due: library, changelog, tests

Release 3.10.6rc0
  CHANGES.rst
  aiohttp/__init__.py
Due: library, changelog, docs

Cleanup changelog messages
  CHANGES/8845.bugfix.rst
  CHANGES/9031.misc.rst
  CHANGES/9204.misc.rst
Due: changelog

more
  CHANGES/4650.bugfix
Due: changelog

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
