Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party, project

Allocate the chunk-task set lazily and cover it with tests
  aiohttp/streams.py
  tests/test_streams.py
Due: library, tests, project

Add METH_QUERY and treat QUERY as an idempotent method (#13301)
  aiohttp/client.py
  aiohttp/hdrs.py
  tests/test_test_utils.py
Due: library, tests, project

parse cookie expires date as ascii-only (#13278)
  CHANGES/13278.bugfix.rst
  aiohttp/cookiejar.py
  tests/test_cookiejar.py
Due: library, changelog, tests, project

Replace the new ClientRequest with HTTPResponse
  aiohttp/client.py
  aiohttp/client_exceptions.py
  aiohttp/client_reqrep.py
  aiohttp/http_base.py
  tests/conftest.py
  tests/test_client_exceptions.py
  tests/test_client_middleware_digest_auth.py
  tests/test_client_proto.py
  tests/test_client_request.py
  tests/test_client_response.py
  tests/test_client_session.py
  tests/test_client_ws.py
  tests/test_http_parser.py
  tests/test_proxy.py
  tests/test_proxy_functional.py
Due: library, tests, project

Add assessment changelog entry
  CHANGES/1.contrib.rst
Due: changelog

Rename changelog fragment for PR 13331
  CHANGES/13331.contrib.rst
Due: changelog

Add Docker build failure assessment
  .dockerignore
  DOCKER_ASSESSMENT.md
  fixed.Dockerfile
  original.Dockerfile
Due: docs

Skip backport check for unrelated PR events
  .github/workflows/labels.yml
  CHANGES/13331.contrib.rst
  CONTRIBUTORS.txt
Due: changelog, docs

Add interlock-cb to third-party libraries
  docs/third_party.rst
Due: docs

Add news fragment for interlock-cb listing
  CHANGES/13336.doc.rst
Due: changelog

Add Dockerfiles reproducing and fixing the #11290 build failure
  .dockerignore
  fixed.Dockerfile
  original-reconstructed.Dockerfile
Due: none

Correct the change count in the fixed.Dockerfile header
  fixed.Dockerfile
Due: none

fix: resolve CI failures on #13330 (attempt 1)
  CHANGES/13329.bugfix.rst
Due: changelog

rebase: apply review feedback on #13330
  aiohttp/client.py
Due: library, project

Add PR-numbered changelog symlink
  CHANGES/13330.bugfix.rst
Due: changelog

rebase: apply review feedback on #13330
  CHANGES/13329.bugfix.rst
Due: changelog

rebase: apply review feedback on #13330
  CHANGES/13329.bugfix.rst
  aiohttp/client.py
  aiohttp/multipart.py
  tests/test_multipart.py
  tests/test_payload.py
Due: library, changelog, tests, project

Rewind file bodies when internally retrying a request
  CHANGES/13329.bugfix.rst
  aiohttp/client.py
  aiohttp/payload.py
  tests/test_client_functional.py
Due: library, changelog, tests, project

rebase: apply review feedback on #13330
  CHANGES/13329.bugfix.rst
  aiohttp/multipart.py
  tests/test_multipart.py
Due: library, changelog, tests, project

Fix parser when paused at end of content-length
  CHANGES/13348.bugfix.rst
  aiohttp/_http_parser.pyx
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests, project

Apply suggestions from code review
  CHANGES/13329.bugfix.rst
Due: changelog

Coverage
  tests/test_http_parser.py
Due: tests

Fix
  tests/test_http_parser.py
Due: tests

Fix parser when paused at end of content-length (#13349)
  CHANGES/13348.bugfix.rst
  aiohttp/_http_parser.pyx
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests, project

Apply suggestion from @Dreamsorcerer
  aiohttp/http_parser.py
Due: library, project

Limit number of queue WS fragments
  CHANGES/13350.bugfix.rst
  THREAT_MODEL.md
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, changelog, docs, tests, project

Apply suggestions from code review
  tests/test_websocket_parser.py
Due: tests

Rename 13350.bugfix.rst to 13352.bugfix.rst
  CHANGES/13352.bugfix.rst
Due: changelog

Apply suggestion from @Dreamsorcerer
  tests/test_websocket_parser.py
Due: tests

Limit number of queued WS fragments (#13352)
  CHANGES/13352.bugfix.rst
  THREAT_MODEL.md
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, changelog, docs, tests, project

Limit number of queued WS fragments (#13352)
  CHANGES/13352.bugfix.rst
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, changelog, tests, project

Limit number of queued WS fragments (#13352) (#13355)
  CHANGES/13352.bugfix.rst
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, changelog, tests, project

Stop handing back pipelined requests the parser buffered
  aiohttp/http_parser.py
  aiohttp/web_protocol.py
  tests/test_http_parser.py
  tests/test_web_functional.py
Due: library, tests, project

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: ((any of: tests/) or (any of: tests/**)) or (any of: tests/)
  tools: any of: tools/
  third-party: any of: vendor/
  project: any of: aiohttp/**
