Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 13

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

correct version number
  CHANGES/10764.bugfix.rst
Due: changelog

Fix WebSocket reader with fragmented masked messages (#10764)
  CHANGES/10764.bugfix.rst
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, changelog, tests

Disable TLS in TLS warning for uvloop (#10726)
  CHANGES/7686.bugfix.rst
  CONTRIBUTORS.txt
  aiohttp/connector.py
  tests/conftest.py
  tests/test_proxy_functional.py
Due: library, changelog, docs, tests

Speed up tests (#10761)
  CHANGES/9705.contrib.rst
  CONTRIBUTORS.txt
  setup.cfg
  tests/conftest.py
  tests/test_web_sendfile_functional.py
Due: changelog, docs, tests

Increase benchmark timeout to 9 minutes in the CI
  .github/workflows/ci-cd.yml
Due: none

[PR #10764/e0cc020 backport][3.11] Fix WebSocket reader with fragmented masked messages (#10765)
  CHANGES/10764.bugfix.rst
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, changelog, tests

[PR #10764/e0cc020 backport][3.12] Fix WebSocket reader with fragmented masked messages (#10766)
  CHANGES/10764.bugfix.rst
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, changelog, tests

[PR #10726/feff48d backport][3.12] Disable TLS in TLS warning for uvloop (#10768)
  CHANGES/7686.bugfix.rst
  CONTRIBUTORS.txt
  aiohttp/connector.py
  tests/conftest.py
  tests/test_proxy_functional.py
Due: library, changelog, docs, tests

[PR #10726/feff48d backport][3.11] Disable TLS in TLS warning for uvloop (#10767)
  CHANGES/7686.bugfix.rst
  CONTRIBUTORS.txt
  aiohttp/connector.py
  tests/conftest.py
  tests/test_proxy_functional.py
Due: library, changelog, docs, tests

Increase benchmark timeout to 9 minutes in the CI (#10770)
  .github/workflows/ci-cd.yml
Due: none

Release 3.11.18
  CHANGES.rst
  CHANGES/10764.bugfix.rst
  CHANGES/7686.bugfix.rst
  aiohttp/__init__.py
Due: library, changelog, docs

Rewrite changelog message for 9705 to be in the past tense
  CHANGES/9705.contrib.rst
Due: changelog

[PR #10761/d884799 backport][3.12] Speed up tests (#10769)
  CHANGES/9705.contrib.rst
  CONTRIBUTORS.txt
  setup.cfg
  tests/conftest.py
  tests/test_web_sendfile_functional.py
Due: changelog, docs, tests

Rewrite changelog message for 9705 to be in the past tense
  CHANGES/10761.contrib.rst
Due: changelog

Release 3.11.18 (#10773)
  CHANGES.rst
  CHANGES/10764.bugfix.rst
  CHANGES/7686.bugfix.rst
  aiohttp/__init__.py
Due: library, changelog, docs

Increment verison to 3.11.19.dev0
  aiohttp/__init__.py
Due: library

Increment version to 3.11.19.dev0 (#10775)
  aiohttp/__init__.py
Due: library

Deprecate aiohttp.pytest_plugin
  aiohttp/pytest_plugin.py
Due: library

Rewrite changelog message for #9705 to be in the past tense (#10774)
  CHANGES/10761.contrib.rst
  CHANGES/9705.contrib.rst
Due: changelog

Add pkgconfig to test requirements to satisfy flake8
  requirements/test.in
Due: configs

Add a fallback to "generic" USE_SYSTEM_DEPS envvar
  setup.py
Due: none

Apply suggestions from code review
  CHANGES/10759.packaging.rst
Due: changelog
