Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

FIXUP: revert proxy_auth back to BasicAuth
  aiohttp/client.py
  aiohttp/client_reqrep.py
  aiohttp/helpers.py
  docs/client_reference.rst
Due: library, docs

FIXUP: added CHANGES file
  CHANGES/10725.feature.rst
  CHANGES/2213.feature.rst
Due: changelog

FIXUP: spelling
  docs/spelling_wordlist.txt
Due: docs

Disable TLS in TLS warning for uvloop
  aiohttp/connector.py
Due: library

Re-include the older check
  aiohttp/connector.py
Due: library

Add news fragment
  CHANGES/7686.bugfix.rst
  CONTRIBUTORS.txt
Due: changelog, docs

raise on misdirected websocket handshake
  CHANGES/10729.breaking.rst
  aiohttp/web_ws.py
  tests/test_web_websocket.py
  tests/test_websocket_handshake.py
Due: library, changelog, tests

add missing coverage
  tests/test_web_log.py
Due: tests

changelog
  CHANGES/10713.misc.rst
Due: changelog

fix mocking
  aiohttp/test_utils.py
Due: library

Add benchmarks for large binary WebSocket message roundtrips
  tests/test_benchmarks_client_ws.py
Due: tests

fix mock
  aiohttp/test_utils.py
Due: library

fix type error
  tests/test_benchmarks_client_ws.py
Due: tests

changelog
  CHANGES/10714.misc.rst
Due: changelog

Add benchmarks for large binary WebSocket message roundtrips (#10730)
  tests/test_benchmarks_client_ws.py
Due: tests

Only fetch SSLContext and peername once per connection (#10714)
  CHANGES/10714.misc.rst
  aiohttp/test_utils.py
  aiohttp/web_protocol.py
  aiohttp/web_request.py
Due: library, changelog

[3.11] Bump multidict to 6.4.3
  requirements/base.txt
  requirements/constraints.txt
  requirements/cython.txt
  requirements/dev.txt
  requirements/multidict.txt
  requirements/runtime-deps.txt
  requirements/test.txt
Due: configs

[3.11] Bump multidict to 6.4.3 (#10736)
  requirements/base.txt
  requirements/constraints.txt
  requirements/cython.txt
  requirements/dev.txt
  requirements/multidict.txt
  requirements/runtime-deps.txt
  requirements/test.txt
Due: configs

Avoid fetching loop time on each request unless logging is enabled (#10713)
  CHANGES/10713.misc.rst
  aiohttp/web_protocol.py
  tests/test_web_log.py
  tests/test_web_runner.py
Due: library, changelog, tests

Avoid fetching loop time on each request unless logging is enabled (#10713)
  CHANGES/10713.misc.rst
  aiohttp/web_protocol.py
  tests/test_web_app.py
  tests/test_web_log.py
Due: library, changelog, tests

[PR #10713/8d74e26 backport][3.11] Avoid fetching loop time on each request unless logging is enabled (#10738)
  CHANGES/10713.misc.rst
  aiohttp/web_protocol.py
  tests/test_web_app.py
  tests/test_web_log.py
Due: library, changelog, tests

[PR #10713/8d74e26 backport][3.12] Avoid fetching loop time on each request unless logging is enabled (#10739)
  CHANGES/10713.misc.rst
  aiohttp/web_protocol.py
  tests/test_web_app.py
  tests/test_web_log.py
Due: library, changelog, tests

Refactor WebSocket reader to avoid creating lists
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_py.py
  tests/test_websocket_parser.py
Due: library, tests

use named constants
  aiohttp/_websocket/reader_c.pxd
  aiohttp/_websocket/reader_py.py
Due: library

fix refactoring error
  aiohttp/_websocket/reader_py.py
Due: library

fix refactoring error
  tests/test_websocket_parser.py
Due: tests

cleanups
  tests/test_websocket_parser.py
Due: tests

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
