Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party, project

.codecov.yml:

codecov:
  branch: master
  notify:
    manual_trigger: true

comment:
  require_head: false
  require_base: false

coverage:
  range: "95..100"

  status:
    project: no

component_management:
  individual_components:
    - component_id: project
      paths:
        - aiohttp/**
    - component_id: tests
      paths:
        - tests/**

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Reject absolute-form targets without an authority before parsing (#13858)
  CHANGES/13858.bugfix.rst
  THREAT_MODEL.md
  aiohttp/_http_parser.pyx
  aiohttp/http_parser.py
  tests/test_client_functional.py
  tests/test_http_parser.py
Due: library, changelog, docs, tests, project

Reject absolute-form targets without an authority before parsing (#13858) (#13860)
  CHANGES/13858.bugfix.rst
  THREAT_MODEL.md
  aiohttp/_http_parser.pyx
  aiohttp/http_parser.py
  tests/test_client_functional.py
  tests/test_http_parser.py
Due: library, changelog, docs, tests, project

Assert a non-None timeout in connector cleanup
  aiohttp/connector.py
  docs/client_reference.rst
  tests/test_connector.py
Due: library, docs, tests, project

Use a long host that is not all digits in Host header tests
  CHANGES/13861.contrib.rst
  tests/test_client_request.py
Due: changelog, tests

Use a long host that is not all digits in Host header tests (#13861)
  CHANGES/13861.contrib.rst
  tests/test_client_request.py
Due: changelog, tests

Deduplicate HeadersDictProxy keys case-insensitively
  CHANGES/13868.bugfix.rst
  CONTRIBUTORS.txt
  aiohttp/helpers.py
  tests/test_helpers.py
  tests/test_http_parser.py
Due: library, changelog, docs, tests, project

Restore unrelated noqa comments stripped by yesqa
  aiohttp/helpers.py
  tests/test_http_parser.py
Due: library, tests, project

Link changelog fragment to the pull request number
  CHANGES/13869.bugfix.rst
Due: changelog

[PR #13861/8c324e51 backport][3.14] Use a long host that is not all digits in Host header tests (#13865)
  CHANGES/13861.contrib.rst
  tests/test_client_request.py
Due: changelog, tests

[PR #13861/8c324e51 backport][3.15] Use a long host that is not all digits in Host header tests (#13866)
  CHANGES/13861.contrib.rst
  tests/test_client_request.py
Due: changelog, tests

Fix readuntil() missing a separator split across chunks
  CHANGES/13870.bugfix.rst
  CONTRIBUTORS.txt
  aiohttp/streams.py
  tests/test_streams.py
Due: library, changelog, docs, tests, project

UploadTracker (#13579)
  CHANGES.rst
  CHANGES/13579.bugfix.rst
  CHANGES/13579.deprecation.rst
  CHANGES/13579.feature.rst
  THREAT_MODEL.md
  aiohttp/__init__.py
  aiohttp/abc.py
  aiohttp/client.py
  aiohttp/client_exceptions.py
  aiohttp/client_reqrep.py
  aiohttp/http_writer.py
  docs/client_reference.rst
  tests/test_client_functional.py
  tests/test_client_request.py
  tests/test_http_writer.py
Due: library, changelog, docs, tests, project

Match the port with partition() and the mask pattern
  CHANGES/13693.bugfix.rst
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
Due: library, changelog, tests, project

Fix
  aiohttp/client.py
  aiohttp/client_reqrep.py
  tests/test_client_functional.py
  tests/test_client_request.py
Due: library, tests, project

UploadTracker (#13579) (#13871)
  CHANGES.rst
  CHANGES/13579.bugfix.rst
  CHANGES/13579.deprecation.rst
  CHANGES/13579.feature.rst
  THREAT_MODEL.md
  aiohttp/__init__.py
  aiohttp/abc.py
  aiohttp/client.py
  aiohttp/client_exceptions.py
  aiohttp/client_reqrep.py
  aiohttp/http_writer.py
  docs/client_reference.rst
  tests/test_client_functional.py
  tests/test_client_request.py
  tests/test_http_writer.py
Due: library, changelog, docs, tests, project

UploadTracker (#13579) (#13871) (#13872)
  CHANGES.rst
  CHANGES/13579.bugfix.rst
  CHANGES/13579.deprecation.rst
  CHANGES/13579.feature.rst
  THREAT_MODEL.md
  aiohttp/__init__.py
  aiohttp/abc.py
  aiohttp/client.py
  aiohttp/client_exceptions.py
  aiohttp/client_reqrep.py
  aiohttp/http_writer.py
  docs/client_reference.rst
  tests/test_client_functional.py
  tests/test_client_request.py
  tests/test_http_writer.py
Due: library, changelog, docs, tests, project

Match the mask case-insensitively instead of lowercasing the Host
  aiohttp/web_urldispatcher.py
Due: library, project

Make ClientResponse.read() error clearer when reading a released response
  CHANGES/2202.bugfix.rst
  aiohttp/client_reqrep.py
  tests/test_client_functional.py
Due: library, changelog, tests, project

Add Eliahu Frusin to CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: docs

Add hdrs constants for common browser, security and proxy headers
  CHANGES/13886.feature.rst
  aiohttp/hdrs.py
  tests/test_http_parser.py
Due: library, changelog, tests, project

Add hdrs.CONTENT_ID and fix the multipart docs example using it
  CHANGES/13886.doc.rst
  CHANGES/13886.feature.rst
  aiohttp/hdrs.py
  docs/multipart.rst
Due: library, changelog, docs, project

Add more widely used headers to hdrs and fix gen.py for case-only prefix clashes
  CHANGES/13886.contrib.rst
  CHANGES/13886.feature.rst
  aiohttp/hdrs.py
  tools/gen.py
Due: library, changelog, tools, project

Match domain sub-applications when the Host carries a port (#13693)
  CHANGES/13693.bugfix.rst
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
Due: library, changelog, tests, project

Type the header-case parameter, restore a noqa and test unknown names by spelling
  tests/test_http_parser.py
Due: tests

Make the code tools/gen.py generates compile without warnings
  CHANGES/13886.contrib.rst
  tools/gen.py
Due: changelog, tools

Cache the istr for header names missing from hdrs in the C parser
  CHANGES/13887.misc.rst
  aiohttp/_http_parser.pyx
  tests/test_http_parser.py
Due: library, changelog, tests, project

Add hdrs constants for widely used headers (#13886)
  CHANGES/13886.contrib.rst
  CHANGES/13886.doc.rst
  CHANGES/13886.feature.rst
  aiohttp/hdrs.py
  docs/multipart.rst
  tests/test_http_parser.py
  tools/gen.py
Due: library, changelog, docs, tests, tools, project

[PR #13886/b6c9917c backport][3.15] Add hdrs constants for widely used headers (#13888)
  CHANGES/13886.contrib.rst
  CHANGES/13886.doc.rst
  CHANGES/13886.feature.rst
  aiohttp/hdrs.py
  docs/multipart.rst
  tests/test_http_parser.py
  tools/gen.py
Due: library, changelog, docs, tests, tools, project

[PR #13886/b6c9917c backport][3.14] Add hdrs constants for widely used headers (#13889)
  CHANGES/13886.contrib.rst
  CHANGES/13886.doc.rst
  CHANGES/13886.feature.rst
  aiohttp/hdrs.py
  docs/multipart.rst
  tests/test_http_parser.py
  tools/gen.py
Due: library, changelog, docs, tests, tools, project

Adopt PEP 639 SPDX license metadata
  pyproject.toml
Due: configs

Add changelog fragment for PEP 639 license metadata
  CHANGES/13891.packaging.rst
Due: changelog

Adopt PEP 639 SPDX license metadata (#13891)
  CHANGES/13891.packaging.rst
  pyproject.toml
Due: configs, changelog
