Repository aio-libs/aiohttp: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelogs-rst, changelogs-user-role

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: changelogs-rst
    name: changelog filenames
    language: fail
    entry: >-
      Changelog files must be named
      ####.(bugfix|feature|removal|doc|misc)(.#)?(.rst)?
    exclude: >-
      ^CHANGES/(\.TEMPLATE\.rst|\.gitignore|\d+\.(bugfix|feature|removal|doc|misc)(\.\d+)?(\.rst)?|README\.rst)$
    files: ^CHANGES/
  - id: changelogs-user-role
    name: Changelog files should use a non-broken :user:`name` role
    language: pygrep
    entry: :user:([^`]+`?|`[^`]+[\s,])
    pass_filenames: true
    types: [file, rst]
  - id: check-changes
    name: Check CHANGES
    language: system
    entry: ./tools/check_changes.py
    pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v4.3.0'
  hooks:
  - id: check-merge-conflict
- repo: https://github.com/asottile/yesqa
  rev: v1.4.0
  hooks:
  - id: yesqa
- repo: https://github.com/PyCQA/isort
  rev: '5.10.1'
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: '22.10.0'
  hooks:
    - id: black
      language_version: python3 # Should be a command that runs python
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v4.3.0'
  hooks:
  - id: end-of-file-fixer
    exclude: >-
      ^docs/[^/]*\.svg$
  - id: requirements-txt-fixer
    exclude: >-
      ^requirements/constraints[.]txt$
  - id: trailing-whitespace
  - id: file-contents-sorter
    args: ['--ignore-case']
    files: |
      CONTRIBUTORS.txt|
      docs/spelling_wordlist.txt|
      .gitignore|
      .gitattributes
  - id: check-case-conflict
  - id: check-json
  - id: check-xml
  - id: check-executables-have-shebangs
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: check-added-large-files
  - id: check-symlinks
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: ['--remove']
  - id: detect-aws-credentials
    args: ['--allow-missing-credentials']
  - id: detect-private-key
    exclude: ^examples/
- repo: https://github.com/asottile/pyupgrade
  rev: 'v3.2.0'
  hooks:
  - id: pyupgrade
    args: ['--py36-plus']
- repo: https://github.com/PyCQA/flake8
  rev: '5.0.4'
  hooks:
  - id: flake8
    additional_dependencies:
      - flake8-docstrings==1.6.0
    exclude: "^docs/"
- repo: https://github.com/Lucas-C/pre-commit-hooks-markup
  rev: v1.0.1
  hooks:
  - id: rst-linter
    files: >-
      ^[^/]+[.]rst$
    exclude: >-
      ^CHANGES\.rst$

Update docs/client_reference.rst
  docs/client_reference.rst
Due: changelogs-user-role

Fix cancelled payload send leading to hung connection
  aiohttp/client_reqrep.py
  tests/test_client_functional.py
Due: none

Update tests
  tests/test_client_functional.py
Due: none

Create 8992.bugfix.rst
  CHANGES/8992.bugfix.rst
Due: changelogs-user-role

Fix assert
  tests/test_client_functional.py
Due: none

Update ClientSession reference (#8991)
  CHANGES/8991.doc.rst
  docs/client_reference.rst
Due: changelogs-user-role

Fix changing scheme/host in Response.clone() for absolute URLs (#8990)
  CHANGES/8990.bugfix.rst
  aiohttp/web_request.py
  tests/test_web_request.py
Due: changelogs-user-role

Fix resource reuse with regex paths
  aiohttp/web_urldispatcher.py
  tests/test_web_urldispatcher.py
Due: none

Create 8998.bugfix.rst
  CHANGES/8998.bugfix.rst
Due: changelogs-user-role

Fix cancelled payload send leading to hung connection (#8992)
  CHANGES/8992.bugfix.rst
  aiohttp/client_reqrep.py
  tests/test_client_functional.py
Due: changelogs-user-role

Fix cancelled payload send leading to hung connection (#8992) (#9002)
  CHANGES/8992.bugfix.rst
  aiohttp/client_reqrep.py
  tests/test_client_functional.py
Due: changelogs-user-role

Fix cancelled payload send leading to hung connection (#8992) (#9003)
  CHANGES/8992.bugfix.rst
  aiohttp/client_reqrep.py
  tests/test_client_functional.py
Due: changelogs-user-role

Fix test to not use internet connection
  tests/conftest.py
  tests/test_client_session.py
Due: none

Create 9004.contrib.rst
  CHANGES/9004.contrib.rst
Due: changelogs-rst, changelogs-user-role

Rename 9004.contrib.rst to 9004.packaging.rst
  CHANGES/9004.packaging.rst
Due: changelogs-rst, changelogs-user-role

Update test_client_session.py
  tests/test_client_session.py
Due: none

Add flake8-no-implicit-concat (#7731)
  .pre-commit-config.yaml
  CHANGES/7731.misc.rst
  aiohttp/client.py
  aiohttp/client_reqrep.py
  aiohttp/connector.py
  aiohttp/cookiejar.py
  aiohttp/formdata.py
  aiohttp/helpers.py
  aiohttp/http_websocket.py
  aiohttp/multipart.py
  aiohttp/streams.py
  aiohttp/test_utils.py
  aiohttp/web.py
  aiohttp/web_app.py
  aiohttp/web_request.py
  aiohttp/web_response.py
  aiohttp/web_routedef.py
  aiohttp/web_runner.py
  aiohttp/web_urldispatcher.py
  setup.cfg
  tests/test_client_exceptions.py
  tests/test_client_functional.py
  tests/test_client_proto.py
  tests/test_helpers.py
  tests/test_http_exceptions.py
  tests/test_http_parser.py
  tests/test_http_writer.py
  tests/test_multipart.py
  tests/test_multipart_helpers.py
  tests/test_urldispatch.py
  tests/test_web_cli.py
  tests/test_web_functional.py
  tests/test_web_request.py
  tests/test_web_websocket_functional.py
  tests/test_websocket_parser.py
Due: changelogs-user-role

Fix test_client_session_timeout_zero to not use internet connection (#9004)
  CHANGES/9004.packaging.rst
  tests/conftest.py
  tests/test_client_session.py
Due: changelogs-rst, changelogs-user-role

Add flake8-no-implicit-concat (#7731) (#9006)
  .pre-commit-config.yaml
  CHANGES/7731.misc.rst
  aiohttp/client.py
  aiohttp/client_reqrep.py
  aiohttp/connector.py
  aiohttp/cookiejar.py
  aiohttp/formdata.py
  aiohttp/helpers.py
  aiohttp/http_websocket.py
  aiohttp/multipart.py
  aiohttp/streams.py
  aiohttp/test_utils.py
  aiohttp/web.py
  aiohttp/web_app.py
  aiohttp/web_request.py
  aiohttp/web_response.py
  aiohttp/web_routedef.py
  aiohttp/web_runner.py
  aiohttp/web_urldispatcher.py
  setup.cfg
  tests/test_client_exceptions.py
  tests/test_client_functional.py
  tests/test_client_proto.py
  tests/test_helpers.py
  tests/test_http_exceptions.py
  tests/test_http_parser.py
  tests/test_http_writer.py
  tests/test_multipart.py
  tests/test_multipart_helpers.py
  tests/test_urldispatch.py
  tests/test_web_cli.py
  tests/test_web_functional.py
  tests/test_web_request.py
  tests/test_web_websocket_functional.py
  tests/test_websocket_parser.py
Due: changelogs-user-role

Fix test_client_session_timeout_zero to not use internet connection (#9004) (#9007)
  CHANGES/9004.packaging.rst
  tests/conftest.py
  tests/test_client_session.py
Due: changelogs-rst, changelogs-user-role

Fix test_client_session_timeout_zero to not use internet connection (#9004) (#9008)
  CHANGES/9004.packaging.rst
  tests/conftest.py
  tests/test_client_session.py
Due: changelogs-rst, changelogs-user-role

Fix resource reuse with regex paths (#8998)
  CHANGES/8998.bugfix.rst
  aiohttp/web_urldispatcher.py
  tests/test_web_urldispatcher.py
Due: changelogs-user-role
