Repository aio-libs/aiohttp: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelogs-rst, changelogs-user-role

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: changelogs-rst
    name: changelog filenames
    language: fail
    entry: >-
      Changelog files must be named
      ####.(bugfix|feature|removal|doc|misc)(.#)?(.rst)?
    exclude: >-
      ^CHANGES/(\.TEMPLATE\.rst|\.gitignore|\d+\.(bugfix|feature|removal|doc|misc)(\.\d+)?(\.rst)?|README\.rst)$
    files: ^CHANGES/
  - id: changelogs-user-role
    name: Changelog files should use a non-broken :user:`name` role
    language: pygrep
    entry: :user:([^`]+`?|`[^`]+[\s,])
    pass_filenames: true
    types: [file, rst]
  - id: check-changes
    name: Check CHANGES
    language: system
    entry: ./tools/check_changes.py
    pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v4.3.0'
  hooks:
  - id: check-merge-conflict
- repo: https://github.com/asottile/yesqa
  rev: v1.4.0
  hooks:
  - id: yesqa
- repo: https://github.com/PyCQA/isort
  rev: '5.10.1'
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: '22.10.0'
  hooks:
    - id: black
      language_version: python3 # Should be a command that runs python
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v4.3.0'
  hooks:
  - id: end-of-file-fixer
    exclude: >-
      ^docs/[^/]*\.svg$
  - id: requirements-txt-fixer
    exclude: >-
      ^requirements/constraints[.]txt$
  - id: trailing-whitespace
  - id: file-contents-sorter
    args: ['--ignore-case']
    files: |
      CONTRIBUTORS.txt|
      docs/spelling_wordlist.txt|
      .gitignore|
      .gitattributes
  - id: check-case-conflict
  - id: check-json
  - id: check-xml
  - id: check-executables-have-shebangs
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: check-added-large-files
  - id: check-symlinks
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: ['--remove']
  - id: detect-aws-credentials
    args: ['--allow-missing-credentials']
  - id: detect-private-key
    exclude: ^examples/
- repo: https://github.com/asottile/pyupgrade
  rev: 'v3.2.0'
  hooks:
  - id: pyupgrade
    args: ['--py36-plus']
- repo: https://github.com/PyCQA/flake8
  rev: '5.0.4'
  hooks:
  - id: flake8
    additional_dependencies:
      - flake8-docstrings==1.6.0
    exclude: "^docs/"
- repo: https://github.com/Lucas-C/pre-commit-hooks-markup
  rev: v1.0.1
  hooks:
  - id: rst-linter
    files: >-
      ^[^/]+[.]rst$
    exclude: >-
      ^CHANGES\.rst$

Escape filenames and paths in HTML when generating index pages (#8317)
  CHANGES/8317.bugfix.rst
  aiohttp/web_urldispatcher.py
  tests/test_web_urldispatcher.py
Due: changelogs-user-role

Escape filenames and paths in HTML when generating index pages (#8317) (#8318)
  CHANGES/8317.bugfix.rst
  aiohttp/web_urldispatcher.py
  tests/test_web_urldispatcher.py
Due: changelogs-user-role

Escape filenames and paths in HTML when generating index pages (#8317) (#8319)
  CHANGES/8317.bugfix.rst
  aiohttp/web_urldispatcher.py
  tests/test_web_urldispatcher.py
Due: changelogs-user-role

Fix Python parser to mark responses without length as closing
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: none

Create 8320.bugfix.rest
  CHANGES/8320.bugfix.rest
Due: changelogs-rst

Rename 8320.bugfix.rest to 8320.bugfix.rst
  CHANGES/8320.bugfix.rst
Due: changelogs-user-role

Update aiohttp/http_parser.py
  aiohttp/http_parser.py
Due: none

Fix Python parser to mark responses without length as closing (#8320)
  CHANGES/8320.bugfix.rst
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: changelogs-user-role

Update CHANGES
  CHANGES.rst
  CHANGES/7741.bugfix.rst
  CHANGES/8200.bugfix.rst
  CHANGES/8251.bugfix.rst
  CHANGES/8252.bugfix.rst
  CHANGES/8267.doc.rst
  CHANGES/8271.bugfix.rst
  CHANGES/8280.bugfix.rst
  CHANGES/8280.deprecation.rst
  CHANGES/8283.bugfix.rst
  CHANGES/8292.feature.rst
  CHANGES/8299.packaging.rst
  CHANGES/8317.bugfix.rst
  CHANGES/8320.bugfix.rst
Due: changelogs-rst, changelogs-user-role

Release v3.9.4 (#8201)
  CHANGES.rst
  CHANGES/7741.bugfix.rst
  CHANGES/8089.bugfix.rst
  CHANGES/8099.contrib.rst
  CHANGES/8104.bugfix.rst
  CHANGES/8116.contrib.rst
  CHANGES/8136.contrib.rst
  CHANGES/8139.contrib.rst
  CHANGES/8146.feature.rst
  CHANGES/8163.bugfix.rst
  CHANGES/8197.doc
  CHANGES/8200.bugfix.rst
  CHANGES/8251.bugfix.rst
  CHANGES/8252.bugfix.rst
  CHANGES/8267.doc.rst
  CHANGES/8271.bugfix.rst
  CHANGES/8280.bugfix.rst
  CHANGES/8280.deprecation.rst
  CHANGES/8283.bugfix.rst
  CHANGES/8292.feature.rst
  CHANGES/8299.packaging.rst
  CHANGES/8317.bugfix.rst
  CHANGES/8320.bugfix.rst
  aiohttp/__init__.py
Due: changelogs-rst, changelogs-user-role

Add missing changelogs
  CHANGES.rst
Due: changelogs-user-role

Bump version
  aiohttp/__init__.py
Due: none

rm breaking changes
  aiohttp/multipart.py
Due: none

add changes
  CHANGES/8326.bugfix.rst
Due: changelogs-user-role

Add missing changelogs (#8324)
  CHANGES.rst
Due: changelogs-user-role

add set_content_disposition test
  tests/test_multipart.py
Due: none

moved to TestWriter class
  tests/test_multipart.py
Due: none

Move check
  aiohttp/multipart.py
Due: none

add assertions
  tests/test_multipart.py
Due: none

Update multipart.py
  aiohttp/multipart.py
Due: none

Create 8332.bugfix.rst
  CHANGES/8332.bugfix.rst
Due: changelogs-user-role

Update tests/test_multipart.py
  tests/test_multipart.py
Due: none

Fix set_content_disposition() after append() (#8332)
  CHANGES/8332.bugfix.rst
  aiohttp/multipart.py
  tests/test_multipart.py
Due: changelogs-user-role

Add Content-Disposition automatically
  tests/test_multipart.py
Due: none

Update test_multipart.py
  tests/test_multipart.py
Due: none
