Repository aio-libs/aiohttp: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelogs-rst, changelogs-user-role

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'Changelog files must be named ####.(bugfix|feature|removal|doc|misc)(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

Bump yarl requirement to >=1.11.0 (#9079)
  CHANGES/9079.misc.rst
  requirements/runtime-deps.in
  setup.cfg
Due: changelogs-user-role

Remove unused backwards compatibility code for old yarl versions
  aiohttp/client_reqrep.py
  aiohttp/typedefs.py
Due: none

Remove unused backwards compatibility code for old yarl versions
  aiohttp/web_urldispatcher.py
Due: none

[PR #9079/d013a41 backport][3.11] Bump yarl requirement to >=1.11.0 (#9082)
  CHANGES/9079.misc.rst
  requirements/runtime-deps.in
  setup.cfg
Due: changelogs-user-role

[PR #9079/7404afc backport][3.11] Bump yarl requirement to >=1.11.0 (#9082)
  CHANGES/9079.misc.rst
  requirements/runtime-deps.in
  setup.cfg
Due: changelogs-user-role

cleanup tests
  tests/test_client_functional.py
Due: none

Remove unused backwards compatibility code for old yarl versions (#9083)
  aiohttp/client_reqrep.py
  aiohttp/typedefs.py
  tests/test_client_functional.py
Due: none

Remove unused backwards compatibility code for old yarl versions (#9083) (#9085)
  aiohttp/client_reqrep.py
  aiohttp/typedefs.py
  tests/test_client_functional.py
Due: none

Reduce overhead to check if a host is an IP Address
  aiohttp/helpers.py
Due: none

empty string cannot be ips
  aiohttp/helpers.py
Due: none

remove validation tests
  aiohttp/helpers.py
  tests/test_helpers.py
Due: none

changelog
  CHANGES/9095.misc.rst
Due: changelogs-user-role

missing coverage
  tests/test_helpers.py
Due: none

Reduce overhead to check if a host is an IP Address (#9095)
  CHANGES/9095.misc.rst
  aiohttp/helpers.py
  tests/test_helpers.py
Due: changelogs-user-role

Update tests/test_ssl_transport_close.py
  tests/test_ssl_transport_close.py
Due: none

Remove extra ``MultiDictProxy`` wrapper from ``BaseRequest.query``
  aiohttp/web_request.py
Due: none

timeline
  CHANGES/9098.misc.rst
Due: changelogs-user-role

Avoid compressing empty body
  aiohttp/client.py
  aiohttp/client_reqrep.py
  tests/test_client_functional.py
Due: none

Create 9108.bugfix.rst
  CHANGES/9108.bugfix.rst
Due: changelogs-user-role

Avoid compressing empty body (#9108)
  CHANGES/9108.bugfix.rst
  aiohttp/client.py
  aiohttp/client_reqrep.py
  tests/test_client_functional.py
Due: changelogs-user-role

Remove None as a compress value
  aiohttp/client.py
  aiohttp/client_reqrep.py
  tests/test_client_request.py
Due: none

Create 9109.breaking.rst
  CHANGES/9109.breaking.rst
Due: changelogs-rst, changelogs-user-role

Update test_client_functional.py
  tests/test_client_functional.py
Due: none

Revert "timeline"
  CHANGES/9098.misc.rst
Due: changelogs-user-role

Avoid compressing empty body (#9108) (#9110)
  CHANGES/9108.bugfix.rst
  aiohttp/client.py
  aiohttp/client_reqrep.py
  tests/test_client_functional.py
Due: changelogs-user-role

Remove extra ``MultiDictProxy`` wrapper from ``BaseRequest.query`` (#9098)
  aiohttp/web_request.py
Due: none

Path conditions:
  changelogs-rst: any of: ^CHANGES/, but not: ^CHANGES/(\.TEMPLATE\.rst|\.gitignore|\d+\.(bugfix|feature|removal|doc|misc)(\.\d+)?(\.rst)?|README\.rst)$
  changelogs-user-role: any of: \.rst$
