Repository aio-libs/aiohttp: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelogs-rst, changelogs-user-role

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: changelogs-rst
    name: changelog filenames
    language: fail
    entry: >-
      Changelog files must be named
      ####.(bugfix|feature|removal|doc|misc)(.#)?(.rst)?
    exclude: >-
      ^CHANGES/(\.TEMPLATE\.rst|\.gitignore|\d+\.(bugfix|feature|removal|doc|misc)(\.\d+)?(\.rst)?|README\.rst)$
    files: ^CHANGES/
  - id: changelogs-user-role
    name: Changelog files should use a non-broken :user:`name` role
    language: pygrep
    entry: :user:([^`]+`?|`[^`]+[\s,])
    pass_filenames: true
    types: [file, rst]
  - id: check-changes
    name: Check CHANGES
    language: system
    entry: ./tools/check_changes.py
    pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v4.3.0'
  hooks:
  - id: check-merge-conflict
- repo: https://github.com/asottile/yesqa
  rev: v1.4.0
  hooks:
  - id: yesqa
- repo: https://github.com/PyCQA/isort
  rev: '5.10.1'
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: '22.10.0'
  hooks:
    - id: black
      language_version: python3 # Should be a command that runs python
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v4.3.0'
  hooks:
  - id: end-of-file-fixer
    exclude: >-
      ^docs/[^/]*\.svg$
  - id: requirements-txt-fixer
    exclude: >-
      ^requirements/constraints[.]txt$
  - id: trailing-whitespace
  - id: file-contents-sorter
    args: ['--ignore-case']
    files: |
      CONTRIBUTORS.txt|
      docs/spelling_wordlist.txt|
      .gitignore|
      .gitattributes
  - id: check-case-conflict
  - id: check-json
  - id: check-xml
  - id: check-executables-have-shebangs
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: check-added-large-files
  - id: check-symlinks
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: ['--remove']
  - id: detect-aws-credentials
    args: ['--allow-missing-credentials']
  - id: detect-private-key
    exclude: ^examples/
- repo: https://github.com/asottile/pyupgrade
  rev: 'v3.2.0'
  hooks:
  - id: pyupgrade
    args: ['--py36-plus']
- repo: https://github.com/PyCQA/flake8
  rev: '5.0.4'
  hooks:
  - id: flake8
    additional_dependencies:
      - flake8-docstrings==1.6.0
    exclude: "^docs/"
- repo: https://github.com/Lucas-C/pre-commit-hooks-markup
  rev: v1.0.1
  hooks:
  - id: rst-linter
    files: >-
      ^[^/]+[.]rst$
    exclude: >-
      ^CHANGES\.rst$

Fix missing text in #9368 changelog message (#9385)
  CHANGES/9368.bugfix.rst
Due: changelogs-user-role

[PR #9366/ddd02c24 backport][3.10] Small speed up to update_headers (#9383)
  aiohttp/client_reqrep.py
Due: none

[PR #9366/43deadb2 backport][3.10] Small speed up to update_headers (#9383)
  aiohttp/client_reqrep.py
Due: none

Update CHANGES/9368.bugfix.rst
  CHANGES/9368.bugfix.rst
Due: changelogs-user-role

Small speed up to starting client requests (#9386)
  aiohttp/client_reqrep.py
Due: none

[PR #9207/970c5d9 backport][3.11] add proxy and proxy_auth variables to ClientSession.__init__ (#9331)
  CHANGES/9207.feature.rst
  CONTRIBUTORS.txt
  aiohttp/client.py
  docs/client_advanced.rst
  tests/test_client_session.py
Due: changelogs-user-role

[PR #9207/63cbacf backport][3.11] add proxy and proxy_auth variables to ClientSession.__init__ (#9331)
  CHANGES/9207.feature.rst
  CONTRIBUTORS.txt
  aiohttp/client.py
  docs/client_advanced.rst
  tests/test_client_session.py
Due: changelogs-user-role

Fixed failure to try next host after single-host connection timeout (#7368)
  CHANGES/7342.breaking.rst
  CONTRIBUTORS.txt
  aiohttp/client.py
  aiohttp/connector.py
  docs/client_quickstart.rst
  docs/client_reference.rst
  tests/test_connector.py
Due: changelogs-rst, changelogs-user-role

fix test
  tests/test_client_session.py
Due: none

[PR #7368/26efdbd backport][3.10] Fixed failure to try next host after single-host connection timeout (#9390)
  CHANGES/7342.breaking.rst
  CONTRIBUTORS.txt
  aiohttp/client.py
  aiohttp/connector.py
  docs/client_quickstart.rst
  docs/client_reference.rst
  tests/test_client_session.py
  tests/test_connector.py
Due: changelogs-rst, changelogs-user-role

[PR #7368/8a8913b backport][3.10] Fixed failure to try next host after single-host connection timeout (#9390)
  CHANGES/7342.breaking.rst
  CONTRIBUTORS.txt
  aiohttp/client.py
  aiohttp/connector.py
  docs/client_quickstart.rst
  docs/client_reference.rst
  tests/test_client_session.py
  tests/test_connector.py
Due: changelogs-rst, changelogs-user-role

[PR #7368/8a8913b backport][3.11] Fixed failure to try next host after single-host connection timeout (#9391)
  CHANGES/7342.breaking.rst
  CONTRIBUTORS.txt
  aiohttp/client.py
  aiohttp/connector.py
  docs/client_quickstart.rst
  docs/client_reference.rst
  tests/test_client_session.py
  tests/test_connector.py
Due: changelogs-rst, changelogs-user-role

[PR #7368/26efdbd backport][3.11] Fixed failure to try next host after single-host connection timeout (#9391)
  CHANGES/7342.breaking.rst
  CONTRIBUTORS.txt
  aiohttp/client.py
  aiohttp/connector.py
  docs/client_quickstart.rst
  docs/client_reference.rst
  tests/test_client_session.py
  tests/test_connector.py
Due: changelogs-rst, changelogs-user-role

Solving #9141 as suggested by Sam
  aiohttp/client.py
  aiohttp/test_utils.py
Due: none

added name to contributions.txt
  CONTRIBUTORS.txt
Due: none

added file to Changes
  CHANGES/9141.misc.rst
Due: changelogs-user-role

added _test for mypy
  aiohttp/client.py
Due: none

Widen `trace_request_ctx` type
  aiohttp/client.py
Due: none

Add news fragment
  CHANGES/9397.bugfix.rst
Due: changelogs-user-role

Update 9397.bugfix.rst
  CHANGES/9397.bugfix.rst
Due: changelogs-user-role

Update CHANGES/9397.bugfix.rst
  CHANGES/9397.bugfix.rst
Due: changelogs-user-role

Widen `trace_request_ctx` type (#9398)
  CHANGES/9397.bugfix.rst
  aiohttp/client.py
Due: changelogs-user-role

Only create the connection closed exception once
  aiohttp/client_reqrep.py
Due: none

Add __slots__ to timer helpers
  aiohttp/helpers.py
Due: none

Add __slots__ to stream classes
  aiohttp/streams.py
Due: none

preen
  aiohttp/streams.py
Due: none

fix
  pyproject.toml
Due: none

missed one
  aiohttp/streams.py
Due: none

fixes
  aiohttp/streams.py
Due: none

done the suggested changes
  CHANGES/9141.misc.rst
  aiohttp/client.py
  aiohttp/test_utils.py
Due: changelogs-user-role
