Repository aio-libs/aiohttp: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelogs-rst, changelogs-user-role

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: changelogs-rst
    name: changelog filenames
    language: fail
    entry: >-
      Changelog files must be named
      ####.(bugfix|feature|removal|doc|misc)(.#)?(.rst)?
    exclude: >-
      ^CHANGES/(\.TEMPLATE\.rst|\.gitignore|\d+\.(bugfix|feature|removal|doc|misc)(\.\d+)?(\.rst)?|README\.rst)$
    files: ^CHANGES/
  - id: changelogs-user-role
    name: Changelog files should use a non-broken :user:`name` role
    language: pygrep
    entry: :user:([^`]+`?|`[^`]+[\s,])
    pass_filenames: true
    types: [file, rst]
  - id: check-changes
    name: Check CHANGES
    language: system
    entry: ./tools/check_changes.py
    pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v4.3.0'
  hooks:
  - id: check-merge-conflict
- repo: https://github.com/asottile/yesqa
  rev: v1.4.0
  hooks:
  - id: yesqa
- repo: https://github.com/PyCQA/isort
  rev: '5.10.1'
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: '22.10.0'
  hooks:
    - id: black
      language_version: python3 # Should be a command that runs python
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v4.3.0'
  hooks:
  - id: end-of-file-fixer
    exclude: >-
      ^docs/[^/]*\.svg$
  - id: requirements-txt-fixer
    exclude: >-
      ^requirements/constraints[.]txt$
  - id: trailing-whitespace
  - id: file-contents-sorter
    args: ['--ignore-case']
    files: |
      CONTRIBUTORS.txt|
      docs/spelling_wordlist.txt|
      .gitignore|
      .gitattributes
  - id: check-case-conflict
  - id: check-json
  - id: check-xml
  - id: check-executables-have-shebangs
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: check-added-large-files
  - id: check-symlinks
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: ['--remove']
  - id: detect-aws-credentials
    args: ['--allow-missing-credentials']
  - id: detect-private-key
    exclude: ^examples/
- repo: https://github.com/asottile/pyupgrade
  rev: 'v3.2.0'
  hooks:
  - id: pyupgrade
    args: ['--py36-plus']
- repo: https://github.com/PyCQA/flake8
  rev: '5.0.4'
  hooks:
  - id: flake8
    additional_dependencies:
      - flake8-docstrings==1.6.0
    exclude: "^docs/"
- repo: https://github.com/Lucas-C/pre-commit-hooks-markup
  rev: v1.0.1
  hooks:
  - id: rst-linter
    files: >-
      ^[^/]+[.]rst$
    exclude: >-
      ^CHANGES\.rst$

Only prepare proxy headers for a request if a proxy is set (#9372)
  aiohttp/client.py
Due: none

Fix conflicting dependencies (idna pacakge version).
  requirements/doc-spelling.txt
  requirements/doc.txt
Due: none

Avoid using the proxy headers in the ConnectionKey if no proxy is in use (#9368)
  CHANGES/9368.bugfix.rst
  aiohttp/client_reqrep.py
  tests/test_client_request.py
Due: changelogs-user-role

Speed up handling auth in urls (#9367)
  aiohttp/client_reqrep.py
  aiohttp/helpers.py
  tests/test_helpers.py
Due: none

Small speed up to update_headers (#9366)
  aiohttp/client_reqrep.py
Due: none

Speed up the ConnectionKey (#9365)
  CHANGES/9365.breaking.rst
  aiohttp/client_reqrep.py
  aiohttp/connector.py
Due: changelogs-rst, changelogs-user-role

changelog
  CHANGES/7342.breaking.rst
  CHANGES/7342.bugfix
Due: changelogs-rst, changelogs-user-role

Fix missing text in #9368 changelog message
  CHANGES/9368.bugfix.rst
Due: changelogs-user-role

Update CHANGES/9368.bugfix.rst
  CHANGES/9368.bugfix.rst
Due: changelogs-user-role

[PR #9359/c67ae8a backport][3.11] replace blockdiag with graphviz in docs (#9375)
  .readthedocs.yml
  CHANGES/9359.contrib.rst
  docs/conf.py
  docs/tracing_reference.rst
  requirements/broken-projects.in
  requirements/constraints.txt
  requirements/dev.txt
  requirements/doc-spelling.txt
  requirements/doc.in
  requirements/doc.txt
  requirements/test.in
Due: changelogs-rst, changelogs-user-role

[PR #9359/a9ac5e2 backport][3.11] replace blockdiag with graphviz in docs (#9375)
  .readthedocs.yml
  CHANGES/9359.contrib.rst
  docs/conf.py
  docs/tracing_reference.rst
  requirements/broken-projects.in
  requirements/constraints.txt
  requirements/dev.txt
  requirements/doc-spelling.txt
  requirements/doc.in
  requirements/doc.txt
  requirements/test.in
Due: changelogs-rst, changelogs-user-role

fix test
  tests/test_connector.py
Due: none

[PR #9372/a8555be backport][3.11] Only prepare proxy headers for a request if a proxy is set (#9377)
  aiohttp/client.py
Due: none

[PR #9372/0416d28 backport][3.11] Only prepare proxy headers for a request if a proxy is set (#9377)
  aiohttp/client.py
Due: none

clienttimeout is documented
  CHANGES/7342.breaking.rst
Due: changelogs-rst, changelogs-user-role

versionchanged
  docs/client_reference.rst
Due: changelogs-user-role

Update CHANGES/7342.breaking.rst
  CHANGES/7342.breaking.rst
Due: changelogs-rst, changelogs-user-role

[PR #9372/0416d28 backport][3.10] Only prepare proxy headers for a request if a proxy is set (#9376)
  aiohttp/client.py
Due: none

[PR #9372/a8555be backport][3.10] Only prepare proxy headers for a request if a proxy is set (#9376)
  aiohttp/client.py
Due: none

Fix merge
  aiohttp/client.py
Due: none

Update aiohttp/client.py
  aiohttp/client.py
Due: none

Update tests/test_client_session.py
  tests/test_client_session.py
Due: none

Small speed up to starting client request
  aiohttp/client_reqrep.py
Due: none

[PR #9365/3b49071f backport][3.11] Speed up the ConnectionKey (#9384)
  CHANGES/9365.breaking.rst
  aiohttp/client_reqrep.py
  aiohttp/connector.py
Due: changelogs-rst, changelogs-user-role

[PR #9365/d684195b backport][3.11] Speed up the ConnectionKey (#9384)
  CHANGES/9365.breaking.rst
  aiohttp/client_reqrep.py
  aiohttp/connector.py
Due: changelogs-rst, changelogs-user-role

Fix missing text in #9368 changelog message (#9385)
  CHANGES/9368.bugfix.rst
Due: changelogs-user-role
