Repository aio-libs/aiohttp: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelogs-rst, changelogs-user-role

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'Changelog files must be named ####.(bugfix|feature|removal|doc|misc)(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

speed up test
  tests/test_web_websocket.py
Due: none

speed up test
  docs/web_reference.rst
Due: changelogs-user-role

speed up test
  aiohttp/web_ws.py
Due: none

http_parser: test edge cases
  tests/test_http_parser.py
Due: none

http_parser: enforce HTTP version & header sep
  aiohttp/http_parser.py
Due: none

style: remove backslash from METHRE
  aiohttp/http_parser.py
Due: none

http_parser: test edge cases (v2)
  CONTRIBUTORS.txt
  tests/test_http_parser.py
Due: none

use identical re.Pattern to validate method/header
  aiohttp/http_parser.py
Due: none

FIXME: rename CHANGES/*.bugfix before merging
  CHANGES/rename-me-for-I-have-no-number.bugfix
Due: changelogs-rst

Fix websocket connection leak (#7978)
  CHANGES/7978.bugfix
  aiohttp/web_ws.py
  docs/web_reference.rst
  tests/test_web_websocket.py
Due: changelogs-user-role

lint
  aiohttp/web_ws.py
Due: none

Fix websocket connection leak (#7978) (#7980)
  CHANGES/7978.bugfix
  aiohttp/web_ws.py
  docs/web_reference.rst
  tests/test_web_websocket.py
Due: changelogs-user-role

Fix websocket connection leak (#7978) (#7979)
  CHANGES/7978.bugfix
  aiohttp/web_ws.py
  docs/web_reference.rst
  tests/test_web_websocket.py
Due: changelogs-user-role

Update aiohttp/cookiejar.py
  aiohttp/cookiejar.py
Due: none

http_parser: test edge cases (v3)
  tests/test_http_parser.py
Due: none

𝟭/𝟏/𝟷/1/𝟣/１/۱/𝟙
  aiohttp/http_parser.py
Due: none

typo, whitespace
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: none

more debug
  aiohttp/client.py
  aiohttp/client_reqrep.py
  aiohttp/http_parser.py
  aiohttp/streams.py
  aiohttp/web_protocol.py
  tests/test_web_server.py
Due: none

more debug
  aiohttp/http_parser.py
Due: none

more debug
  tests/test_web_server.py
Due: none

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Due: changelogs-user-role

Fix `fallback_charset_resolver` function in client_advanced documentation
  docs/client_advanced.rst
Due: changelogs-user-role

add a changelog
  CHANGES/7995.doc
Due: none

Implement happy eyeballs (RFC 8305) (#7954)
  CHANGES/7954.feature
  aiohttp/connector.py
  docs/client_reference.rst
  requirements/base.txt
  requirements/constraints.txt
  requirements/dev.txt
  requirements/runtime-deps.in
  requirements/runtime-deps.txt
  requirements/test.txt
  setup.cfg
  tests/conftest.py
  tests/test_connector.py
  tests/test_proxy.py
Due: changelogs-user-role

Handle legacy HTTP proxy with support for upgrade to HTTPS
  aiohttp/connector.py
Due: none

naming
  aiohttp/connector.py
Due: none

Path conditions:
  changelogs-rst: any of: ^CHANGES/, but not: ^CHANGES/(\.TEMPLATE\.rst|\.gitignore|\d+\.(bugfix|feature|removal|doc|misc)(\.\d+)?(\.rst)?|README\.rst)$
  changelogs-user-role: any of: \.rst$
