Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Reformat
  tests/test_client_session.py
Due: tests

Setup pre-commit hooks configuration (#5136)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/contributing.rst
  requirements/lint.txt
Due: configs, docs

pre-commit run --all-files
  tests/test_web_functional.py
Due: tests

Convert HttpVersion from collections.namedtuple to typing.NamedTuple
  aiohttp/http_writer.py
Due: library

Execute 'pre-commit run --all-files' on 'make fmt'
  Makefile
Due: none

Convert HttpVersion from collections.namedtuple to typing.NamedTuple (#5139)
  aiohttp/http_writer.py
Due: library

Execute 'pre-commit run --all-files' on 'make fmt' (#5140)
  Makefile
Due: none

StreamResponse use Transfer-Encoding: chunked for 204 responses (#5135)
  CHANGES/5106.bugfix
  aiohttp/web_response.py
  tests/test_web_functional.py
Due: library, changelog, tests

Experiment with Backport action
  .github/workflows/backport.yml
Due: none

[3.8] StreamResponse use Transfer-Encoding: chunked for 204 responses (#5135)
  CHANGES/5106.bugfix
  aiohttp/web_response.py
  tests/test_web_functional.py
Due: library, changelog, tests

[3.8] StreamResponse use Transfer-Encoding: chunked for 204 responses (#5135) (#5144)
  CHANGES/5106.bugfix
  aiohttp/web_response.py
  tests/test_web_functional.py
Due: library, changelog, tests

Work on
  Makefile
  requirements/ci-wheel.txt
  requirements/ci.txt
  requirements/dev.txt
  requirements/doc.txt
  requirements/flake.txt
  requirements/towncrier.txt
  requirements/wheel.txt
Due: configs

Update reqs
  .github/workflows/ci.yml
Due: none

Work on
  .pre-commit-config.yaml
  Makefile
  aiohttp/web.py
  docs/spelling_wordlist.txt
  requirements/doc.txt
  requirements/lint.txt
Due: library, configs, docs

Reformat
  aiohttp/web.py
Due: library

Sort pre-commit hooks
  .pre-commit-config.yaml
Due: none

use f-strings
  aiohttp/client.py
  aiohttp/client_exceptions.py
  aiohttp/client_reqrep.py
  aiohttp/client_ws.py
  aiohttp/cookiejar.py
  aiohttp/formdata.py
  aiohttp/helpers.py
  aiohttp/http_parser.py
  aiohttp/http_writer.py
  aiohttp/multipart.py
  aiohttp/payload.py
  aiohttp/pytest_plugin.py
  aiohttp/signals.py
  aiohttp/streams.py
  aiohttp/test_utils.py
  aiohttp/web_app.py
  aiohttp/web_exceptions.py
  aiohttp/web_log.py
  aiohttp/web_protocol.py
  aiohttp/web_request.py
  aiohttp/web_response.py
  aiohttp/web_routedef.py
  aiohttp/web_runner.py
  aiohttp/web_urldispatcher.py
  aiohttp/web_ws.py
  examples/client_ws.py
  examples/curl.py
  tests/autobahn/client.py
  tests/test_client_functional.py
  tests/test_client_session.py
  tests/test_helpers.py
  tests/test_http_parser.py
  tests/test_proxy_functional.py
  tests/test_tracing.py
  tests/test_web_cli.py
  tests/test_web_functional.py
  tests/test_web_protocol.py
  tests/test_web_sendfile_functional.py
  tools/bench-asyncio-write.py
  tools/gen.py
Due: library, tests, tools

Setup dependabot to check aiohttp 3.8 branch
  .github/dependabot.yml
Due: none

Simplify test
  tests/test_run_app.py
Due: tests

Update docs/web_reference.rst
  docs/web_reference.rst
Due: docs

Reorder hooks
  .pre-commit-config.yaml
Due: none

Fix github workflow
  .github/workflows/ci.yml
Due: none

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
