Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

fix incorrect example
  examples/web_classview.py
Due: none

add change to changelog
  CHANGES/4299.bugfix
Due: changelog

Support addition of routes where the handler is an async function wrapped by functools.partial()
  aiohttp/web_urldispatcher.py
Due: library

Update documentation
  docs/web_reference.rst
Due: docs

Add self to contributors
  CONTRIBUTORS.txt
Due: docs

Addec CHANGES
  CHANGES/4302.bugfix
Due: changelog

Commited wrong file
  aiohttp/web_urldispatcher.py
Due: library

fix isort & mypy comments
  aiohttp/web_urldispatcher.py
Due: library

Add type hints
  aiohttp/web_urldispatcher.py
Due: library

Add test
  tests/test_urldispatch.py
Due: tests

fix documentation
  docs/web_reference.rst
Due: docs

allow samesite in cookies (#4224)
  CHANGES/4224.feature
  aiohttp/web_response.py
  docs/web_reference.rst
  tests/test_web_response.py
Due: library, changelog, docs, tests

[3.7] allow samesite in cookies (#4224) (cherry picked from commit 1220613b)
  CHANGES/4224.feature
  aiohttp/web_response.py
  docs/web_reference.rst
  tests/test_web_response.py
Due: library, changelog, docs, tests

[3.7] allow samesite in cookies (#4224) (#4303)
  CHANGES/4224.feature
  aiohttp/web_response.py
  docs/web_reference.rst
  tests/test_web_response.py
Due: library, changelog, docs, tests

PR comments, moved the iscoroutine function to helpers file, run this function only when Python < 3.8
  aiohttp/helpers.py
  aiohttp/web_urldispatcher.py
Due: library

Evaluate the PY_38 during import and not during runtime
  aiohttp/helpers.py
Due: library

Indentation bug
  aiohttp/helpers.py
Due: library

asyncio is now not required by web_urldispatcher.py
  aiohttp/web_urldispatcher.py
Due: library

Added back NL that was removed by mistake
  aiohttp/web_urldispatcher.py
Due: library

Match the type hints of iscoroutine
  aiohttp/helpers.py
Due: library

Reverse the IF for more neat code
  aiohttp/helpers.py
Due: library

Fix incorrect example (examples/web_classview.py) (#4299)
  CHANGES/4299.bugfix
  examples/web_classview.py
Due: changelog

Change the prototype of the function to fix mypi lint error
  aiohttp/helpers.py
Due: library

Change runner hierarchy
  CHANGES/4296.feature
  aiohttp/test_utils.py
  tests/test_test_utils.py
Due: library, changelog, tests

[fix] improve tests
  tests/test_test_utils.py
Due: tests

Support addition of routes when handler is wrapped by functools.partial() (#4302)
  CHANGES/4302.bugfix
  CONTRIBUTORS.txt
  aiohttp/helpers.py
  aiohttp/web_urldispatcher.py
  docs/web_reference.rst
  tests/test_urldispatch.py
Due: library, changelog, docs, tests

fix 'examples/fake_server.py'
  examples/fake_server.py
Due: none

fix contributors.txt
  CONTRIBUTORS.txt
Due: docs

delete 'loop' argument
  examples/fake_server.py
Due: none

Update 'web_cookies.py' example for #3462
  examples/web_cookies.py
Due: none

add change to changelog
  CHANGES/4306.bugfix
Due: changelog

'del_cookie' and update tests
  aiohttp/web_exceptions.py
  tests/test_web_exceptions.py
Due: library, tests

fix;)
  aiohttp/web_exceptions.py
Due: library

add changelog
  CHANGES/4308.feature
Due: changelog

fix changelog
  CHANGES/4283.bugfix
Due: changelog

review fixes
  aiohttp/test_utils.py
  tests/test_test_utils.py
Due: library, tests
