Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Pin idna version to <2.8 (#3437)
  requirements/ci.txt
Due: configs

Deprecate obsolete timeout sessions in ClientSession
  aiohttp/client.py
Due: library

Deprecate obsolete read_timeout and conn_timeout in ClientSession constructor.
  CHANGES/3438.removal
  tests/test_client_functional.py
  tests/test_client_session.py
Due: changelog, tests

Discourage ClientSession.requote_redirect_url changing (#3436)
  CHANGES/2278.removal
  aiohttp/client.py
  docs/client_reference.rst
  tests/test_client_session.py
Due: library, changelog, docs, tests

Deprecate obsolete timeout sessions in ClientSession (#3438)
  CHANGES/3438.removal
  aiohttp/client.py
  tests/test_client_functional.py
  tests/test_client_session.py
Due: library, changelog, tests

Deprecate stream.unread_data()
  CHANGES/3260.removal
  aiohttp/multipart.py
  aiohttp/streams.py
  tests/test_streams.py
Due: library, changelog, tests

Deprecate stream.unread_data() (#3439)
  CHANGES/3260.removal
  aiohttp/multipart.py
  aiohttp/streams.py
  tests/test_streams.py
Due: library, changelog, tests

Create a task per request handling.
  aiohttp/web_protocol.py
  tests/test_web_protocol.py
Due: library, tests

Update changelog
  CHANGES/3406.feature
Due: changelog

Increate timeout for appveyor bot
  tests/test_web_protocol.py
Due: tests

Build dists during build step
  .appveyor.yml
Due: configs

Publish coverage to codecov
  .appveyor.yml
Due: configs

Report coverage to codecov from AppVeyor CI
  requirements/ci-wheel.txt
Due: configs

Disable gcov for codecov in AppVeyor
  .appveyor.yml
Due: configs

Produce XML coverage report in AppVeyor
  .appveyor.yml
Due: configs

Upload specific coverage report from AppVeyor
  .appveyor.yml
Due: configs

Fix tests
  tests/test_web_protocol.py
Due: tests

Make test more stable by replacing a witing with timeout by explicit loop with check
  tests/test_web_protocol.py
Due: tests

Create a task per request handling (#3442)
  CHANGES/3406.feature
  aiohttp/web_protocol.py
  tests/test_web_protocol.py
Due: library, changelog, tests

Update coverage from 4.5.1 to 4.5.2
  requirements/ci-wheel.txt
Due: configs

Update cython from 0.29 to 0.29.1
  requirements/ci-wheel.txt
Due: configs

Update cython from 0.29 to 0.29.1
  requirements/cython.txt
Due: configs

Update cython from 0.29 to 0.29.1
  requirements/wheel.txt
Due: configs

Update multidict from 4.4.2 to 4.5.2
  requirements/ci-wheel.txt
Due: configs

Update pytest from 3.8.2 to 4.0.1
  requirements/ci-wheel.txt
Due: configs

Update pytest from 3.8.2 to 4.0.1
  requirements/wheel.txt
Due: configs

Update tox from 3.5.2 to 3.5.3
  requirements/ci-wheel.txt
Due: configs

Update uvloop from 0.11.2 to 0.11.3
  requirements/ci-wheel.txt
Due: configs

Update mypy from 0.641 to 0.650
  requirements/ci.txt
Due: configs
