Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Fix pip upgrade on windows machines #5648 (#5649)
  CHANGES/5648.misc
  Makefile
Due: changelog

tests/test_cookiejar.py: add test
  CONTRIBUTORS.txt
  tests/test_cookiejar.py
Due: docs, tests

Remove autosquash workflow #5665
  .github/dependabot.yml
  .github/workflows/autosquash.yml
  .github/workflows/backport.yml
Due: none

Remove autosquash workflow (#5666)
  .github/dependabot.yml
  .github/workflows/autosquash.yml
  .github/workflows/backport.yml
Due: none

Update README.rst
  README.rst
Due: docs

Update conf.py
  docs/conf.py
Due: docs

[PR #5666/8579735e backport][3.8] Remove autosquash workflow
  .github/dependabot.yml
  .github/workflows/autosquash.yml
Due: none

[PR #5666/8579735e backport][3.8] Remove autosquash workflow (#5686)
  .github/dependabot.yml
  .github/workflows/autosquash.yml
Due: none

Add regression test for HTTPUnathorized per #5673
  CHANGES/5657.misc
  tests/test_web_exceptions.py
Due: changelog, tests

fix broken references
  docs/abc.rst
Due: docs

ignore undocumented "aiohttp.web.RequestHandler"
  docs/conf.py
Due: docs

fix broken references
  docs/web_quickstart.rst
Due: docs

Add scalable version of the logo
  docs/_static/aiohttp.svg
Due: docs

Fix broken references in `docs/web_quickstart.rst` (#5706)
  docs/web_quickstart.rst
Due: docs

Fix html_logo rel path in `conf.py`
  docs/conf.py
Due: docs

Keep the branch name in the logo URI in README
  README.rst
Due: docs

Move html logo definition to the intended location
  docs/conf.py
Due: docs

Add a custom CSS file
  docs/conf.py
Due: docs

Create logo-adjustments.css
  docs/_static/css/logo-adjustments.css
Due: docs

Drop the unused PNG logo from docs assets
  docs/_static/aiohttp-icon-128x128.png
Due: docs

Use an SVG logo across the docs (#5678)
  README.rst
  docs/_static/aiohttp-icon-128x128.png
  docs/_static/css/logo-adjustments.css
  docs/conf.py
Due: docs

Fix broken references in `docs/abc.rst` (#5610)
  docs/abc.rst
  docs/conf.py
Due: docs

fix `aiohttp.web.Request.content` reference
  docs/streams.rst
Due: docs

Fix broken references in `streams.rst` (#5713)
  docs/streams.rst
Due: docs

Add regression test for HTTPUnathorized per #5657 (#5673)
  CHANGES/5657.misc
  tests/test_web_exceptions.py
Due: changelog, tests

Update client/server implementation in the autobahn tests (#5637)
  CHANGES/5606.bugfix
  CONTRIBUTORS.txt
  tests/autobahn/client.py
  tests/autobahn/server.py
Due: changelog, docs, tests
