Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Don't depend on Cython in setup.py (#3694)
  .appveyor.yml
  .gitignore
  .travis.yml
  Makefile
  requirements/ci-wheel.txt
  requirements/wheel.txt
  setup.py
Due: configs

[3.5] Don't depend on Cython in setup.py (#3694). (cherry picked from commit ab0e956b2952462a4ca132c5ee13284719bffe7e)
  .appveyor.yml
  .gitignore
  .travis.yml
  Makefile
  requirements/ci-wheel.txt
  requirements/wheel.txt
  setup.py
Due: configs

Add cla-bot configuration
  .clabot
Due: none

[3.5] Don't depend on Cython in setup.py (#3694). (#3744)
  .appveyor.yml
  .gitignore
  .travis.yml
  Makefile
  requirements/ci-wheel.txt
  requirements/wheel.txt
  setup.py
Due: configs

Add dependabot
  .clabot
Due: none

Add cla-bot configuration (#3750)
  .clabot
Due: none

Fix dependabot user
  .clabot
Due: none

LookupError fixed for #3562 (#3564)
  CHANGES/3562.bugfix
  CONTRIBUTORS.txt
  aiohttp/web_request.py
  tests/test_web_request.py
Due: library, changelog, docs, tests

Update Resolvers description in Client reference docs (#3642)
  CHANGES/3642.doc
  docs/client_reference.rst
Due: changelog, docs

New-style middleware by default (#3710)
  CHANGES/3569.feature
  CONTRIBUTORS.txt
  aiohttp/web_app.py
  aiohttp/web_middlewares.py
  docs/faq.rst
  docs/web_advanced.rst
  examples/web_rewrite_headers_middleware.py
  tests/test_web_app.py
  tests/test_web_functional.py
  tests/test_web_middleware.py
Due: library, changelog, docs, tests

Drop setup.py test support
  setup.py
Due: none

Enforce URL for cookie_jar.filter_cookies() call
  docs/client_advanced.rst
Due: docs

Add deprecation warning for strings
  aiohttp/cookiejar.py
  tests/test_cookiejar.py
Due: library, tests

Suppress pytest warnings due to test util classes (#3660)
  CHANGES/3660.bugfix
  CONTRIBUTORS.txt
  aiohttp/test_utils.py
Due: library, changelog, docs

[3.5] Suppress pytest warnings due to test util classes (#3660) (cherry picked from commit e6cbce3d)
  CHANGES/3660.bugfix
  CONTRIBUTORS.txt
  aiohttp/test_utils.py
Due: library, changelog, docs

Document FormData and clarify possible types of ClientSession.request's data argument
  docs/client_reference.rst
Due: docs

[3.5] Suppress pytest warnings due to test util classes (#3660) (#3754)
  CHANGES/3660.bugfix
  CONTRIBUTORS.txt
  aiohttp/test_utils.py
Due: library, changelog, docs

Drop setup.py test support (#3752)
  setup.py
Due: none

Enforce URL for cookie_jar.filter_cookies() call (#3753)
  aiohttp/cookiejar.py
  docs/client_advanced.rst
  tests/test_cookiejar.py
Due: library, docs, tests

Make sure the closing boundary is written when calling 'write' on an empty MultipartWriter (#3520)
  aiohttp/multipart.py
  tests/test_multipart.py
  tests/test_web_functional.py
Due: library, tests

[3.5] Make sure the closing boundary is written when calling 'write' on an empty MultipartWriter (#3520) (cherry picked from commit 0ad5d902)
  aiohttp/multipart.py
  tests/test_multipart.py
  tests/test_web_functional.py
Due: library, tests

unconditional loop.time()
  aiohttp/web_protocol.py
Due: library

Correctly handle newline depetction not only for open boundary but for close mark too
  aiohttp/multipart.py
Due: library

Fix flake8
  aiohttp/multipart.py
Due: library

Correctly handle newline detection not only for open boundary but for close mark too (#3758)
  aiohttp/multipart.py
Due: library

[3.5] Make sure the closing boundary is written when calling 'write' on an empty MultipartWriter (#3520) (#3756)
  aiohttp/multipart.py
  tests/test_multipart.py
  tests/test_web_functional.py
Due: library, tests
