Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Update helpers.py
  aiohttp/helpers.py
Due: library

More fixes.
  aiohttp/client.py
  aiohttp/web.py
  aiohttp/web_urldispatcher.py
  tests/test_circular_imports.py
Due: library, tests

Upgrade mypy to 0.930 (#6452)
  aiohttp/client.py
  aiohttp/client_reqrep.py
  aiohttp/helpers.py
  aiohttp/test_utils.py
  aiohttp/web.py
  aiohttp/web_runner.py
  aiohttp/web_urldispatcher.py
  requirements/constraints.txt
  requirements/lint.txt
  requirements/test.txt
  requirements/typing-extensions.txt
  tests/test_circular_imports.py
Due: library, configs, tests

Upgrade mypy to 0.930
  aiohttp/client.py
  aiohttp/helpers.py
  aiohttp/payload_streamer.py
  aiohttp/web.py
  aiohttp/web_urldispatcher.py
  requirements/constraints.txt
  requirements/lint.txt
  requirements/test.txt
  requirements/typing-extensions.txt
  tests/test_circular_imports.py
Due: library, configs, tests

Upgrade mypy to 0.930 (#6454)
  aiohttp/client.py
  aiohttp/helpers.py
  aiohttp/payload_streamer.py
  aiohttp/web.py
  aiohttp/web_urldispatcher.py
  requirements/constraints.txt
  requirements/lint.txt
  requirements/test.txt
  requirements/typing-extensions.txt
  tests/test_circular_imports.py
Due: library, configs, tests

Regression test for handling unsupported Upgrade requests (issue #6446) (#6451)
  tests/test_web_server.py
Due: tests

GroupPlainResource
  aiohttp/web_urldispatcher.py
Due: library

fix linter
  aiohttp/web_urldispatcher.py
Due: library

fix naming
  aiohttp/web_urldispatcher.py
Due: library

fix mypy
  aiohttp/web_urldispatcher.py
Due: library

changes
  CHANGES/6458.feature
Due: changelog

Update return type of Resource.__iter__()
  aiohttp/web_urldispatcher.py
Due: library

Update web_urldispatcher.py
  aiohttp/web_urldispatcher.py
Due: library

Update return type of Resource.__iter__() (#6460)
  aiohttp/web_urldispatcher.py
Due: library

fix types and freeze
  aiohttp/web_urldispatcher.py
Due: library

ResourcesView unwrap GroupPlainResource
  aiohttp/web_urldispatcher.py
Due: library

register_named_resource
  aiohttp/web_urldispatcher.py
Due: library

_register_named_resource
  aiohttp/web_urldispatcher.py
Due: library

fix typing
  aiohttp/web_urldispatcher.py
Due: library

fix iter typing
  aiohttp/web_urldispatcher.py
Due: library

Fix typos
  CHANGES/3994.misc
  CHANGES/5494.misc
  CONTRIBUTING.rst
  aiohttp/client_reqrep.py
  aiohttp/connector.py
  aiohttp/multipart.py
  docs/faq.rst
  tests/test_http_parser.py
  tests/test_streams.py
  tests/test_web_response.py
  tools/cleanup_changes.py
Due: library, changelog, docs, tests, tools

Fix typos (#6464)
  CHANGES/3994.misc
  CHANGES/5494.misc
  CONTRIBUTING.rst
  aiohttp/client_reqrep.py
  aiohttp/connector.py
  aiohttp/multipart.py
  docs/faq.rst
  tests/test_http_parser.py
  tests/test_streams.py
  tests/test_web_response.py
  tools/cleanup_changes.py
Due: library, changelog, docs, tests, tools

fix register_resource
  aiohttp/web_urldispatcher.py
Due: library

fix canonical
  aiohttp/web_urldispatcher.py
Due: library

fix add_prefix
  aiohttp/web_urldispatcher.py
Due: library

representing resources
  aiohttp/web_urldispatcher.py
Due: library

freeze for rebuild index
  aiohttp/web_urldispatcher.py
Due: library

Rebuild is breaks on second subapp
  aiohttp/web_urldispatcher.py
Due: library

UrlDispatcher.add_prefix
  aiohttp/web_urldispatcher.py
Due: library

fix test_HTTP_302_REDIRECT_HEAD
  tests/test_client_functional.py
Due: tests

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
