Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Drop redundant check
  aiohttp/streams.py
  tests/test_streams.py
Due: library, tests

Add pypy3
  azure-pipelines.yml
Due: configs

Setup job test timeout
  azure-pipelines.yml
Due: configs

Use no-extensions mode for non-cpython, e.g. pypy
  setup.py
Due: none

Drop redundant check (#3830)
  aiohttp/streams.py
  tests/test_streams.py
Due: library, tests

Tume config
  azure-pipelines.yml
Due: configs

Rename
  azure-pipelines.yml
Due: configs

Add skip
  tests/test_worker.py
Due: tests

Add missing import
  tests/test_worker.py
Due: tests

Rename again
  azure-pipelines.yml
Due: configs

Speedup PyPy
  azure-pipelines.yml
Due: configs

Revert gunicorn skipping
  tests/test_worker.py
Due: tests

Use no-extensions mode for non-cpython, e.g. pypy (#3831)
  setup.py
Due: none

Fix codecov
  azure-pipelines.yml
Due: configs

Fix universal_newlines
  tests/test_client_functional.py
Due: tests

Increate timeout to 15 min
  azure-pipelines.yml
Due: configs

Fix universal_newlines again
  tests/test_client_functional.py
Due: tests

Drop a test that requires 1GB of memory
  tests/test_payload.py
Due: tests

Fix linter
  tests/test_payload.py
Due: tests

Drop universal newlines everywhere
  tests/test_client_functional.py
Due: tests

Work on
  tests/test_client_functional.py
Due: tests

Drop redundant docstring
  tests/test_client_functional.py
Due: tests

Drop a mocked test that requires 1GB of memory (#3833)
  tests/test_payload.py
Due: tests

Make reusable *NIX check marker in connector tests
  tests/test_connector.py
Due: tests

Add an exit-check @ unix_sockname fixture
  tests/test_connector.py
Due: tests

Stringify the original base path
  tests/conftest.py
Due: tests

Migrate unix_sockname fixture to conftest module
  tests/conftest.py
  tests/test_connector.py
  tests/test_web_runner.py
Due: tests

Simplify unix_sockname fixture
  tests/conftest.py
Due: tests

Fix isort linter complaint
  tests/test_connector.py
Due: tests

Keep needs_unix fixture only in conftest
  tests/test_connector.py
Due: tests

Generate a shorter path for test UNIX sockets
  tests/test_connector.py
Due: tests

Calculate prefix bytes len
  tests/conftest.py
Due: tests

Fix skipping in unix_sockname
  tests/conftest.py
Due: tests

Drop unnecessary win check marker
  tests/test_web_runner.py
Due: tests

Drop reason kwarg from pytest.skip() invocation
  tests/conftest.py
Due: tests

Satisfy isort
  tests/test_connector.py
Due: tests
