Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Add a trailing comma to the change note
  CHANGES/4137.doc
Due: changelog

Fixed docs and strategy parameter
  CHANGES/6257.feature
  aiohttp/http_writer.py
  docs/conf.py
  docs/web_reference.rst
Due: library, changelog, docs

Changed Optional[int] to int because linter says that zlib.compressobj() does not accept Optional[int]
  aiohttp/http_writer.py
  aiohttp/web_response.py
Due: library

Removed redundant comma
  aiohttp/http_writer.py
Due: library

Changed to new format
  aiohttp/web_response.py
Due: library

Use checkout action before 'gh pr checkout ...' It allows reusing git setup from checkout action by 'gh' CLI
  .github/workflows/post-dependabot.yml
Due: none

Switch to called workflows solution
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Use commit hashes
  .github/workflows/ci.yml
Due: none

Use long sha in workflow references
  .github/workflows/ci.yml
Due: none

Bump
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

bump
  .github/workflows/ci.yml
Due: none

Fix lint workflow
  .github/workflows/test.yml
Due: none

Bump
  .github/workflows/ci.yml
Due: none

Extract deploy into a separate workflow
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

Tune workflows
  .github/workflows/auto-merge.yml
  .github/workflows/compile-deps.yml
  .github/workflows/dependabot.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/test.yml
  requirements/dev.txt
  requirements/pip-tools.txt
Due: configs

Bump
  .github/workflows/dependabot.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: none

Tune
  .github/workflows/cron.yml
  .github/workflows/dependabot.yml
  .github/workflows/push.yml
Due: none

Use local workflow paths
  .github/workflows/dependabot.yml
  .github/workflows/pull-request.yml
Due: none

tune
  .github/workflows/dependabot.yml
  .github/workflows/pull-request.yml
Due: none

tune
  .github/workflows/ci.yml
  .github/workflows/cron.yml
Due: none

fix
  .github/workflows/compile-deps.yml
Due: none

Fix
  .github/workflows/cron.yml
  .github/workflows/dependabot.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: none

Update docs/web_advanced.rst
  docs/web_advanced.rst
Due: docs

Drop types-chardet mypy dependency (#6251)
  requirements/constraints.txt
  requirements/lint.txt
Due: configs

Clarify tiny timeouts behavior and how it can affect performance
  docs/client_reference.rst
Due: docs

Add changelog
  CHANGES/6274.doc.rst
Due: changelog

Clarify
  docs/client_reference.rst
Due: docs

Check docstrings with flake8-docstrings
  .pre-commit-config.yaml
  setup.cfg
Due: none

Address pydocstyle D2xx issues
  aiohttp/client.py
  aiohttp/client_exceptions.py
  aiohttp/connector.py
  aiohttp/formdata.py
  aiohttp/helpers.py
  aiohttp/http_parser.py
  aiohttp/locks.py
  aiohttp/multipart.py
  aiohttp/pytest_plugin.py
  aiohttp/resolver.py
  aiohttp/streams.py
  aiohttp/test_utils.py
  aiohttp/tracing.py
  aiohttp/web_middlewares.py
  aiohttp/web_protocol.py
  aiohttp/web_request.py
  aiohttp/web_urldispatcher.py
  examples/web_classview.py
  examples/web_cookies.py
  examples/web_rewrite_headers_middleware.py
  examples/web_srv.py
  examples/web_srv_route_deco.py
  examples/web_srv_route_table.py
  examples/web_ws.py
  setup.cfg
  tests/test___all__.py
  tests/test_http_parser.py
Due: library, tests

Add CHANGES entry
  CHANGES/6276.doc
Due: changelog

Fix release url fixer
  .github/workflows/ci.yml
Due: none

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
