Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

[3.5] Set reason to an empty string if it is missing (_http_parser.pyx) (#3909) (cherry picked from commit 8d1f0670)
  CHANGES/3906.bugfix
  aiohttp/_http_parser.pyx
  tests/test_http_parser.py
Due: library, changelog, tests

[3.5] Configure dependabot (#3919) (#3921)
  .dependabot/config.yml
Due: none

[3.5] Set reason to an empty string if it is missing (_http_parser.pyx) (#3909) (#3922)
  CHANGES/3906.bugfix
  aiohttp/_http_parser.pyx
  tests/test_http_parser.py
Due: library, changelog, tests

Drop already deprecated accepting sync web-handlers
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
  tests/test_web_urldispatcher.py
Due: library, tests

Add changelog
  CHANGES/3929.removal
Due: changelog

Clarify deprecation text
  aiohttp/web_middlewares.py
Due: library

Drop deprecated API in web request
  aiohttp/web_request.py
Due: library

Add changelog
  CHANGES/3931.removal
Due: changelog

Drop deprecated fixtures
  aiohttp/pytest_plugin.py
Due: library

Add changelog
  CHANGES/3932.removal
Due: changelog

Forbid inheritance from ClientSession and Application
  aiohttp/client.py
  aiohttp/helpers.py
  aiohttp/web_app.py
  tests/test_client_session.py
  tests/test_web_app.py
Due: library, tests

Add changenote
  CHANGES/3933.removal
Due: changelog

Drop already deprecated accepting sync web-handlers (#3929)
  CHANGES/3929.removal
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
  tests/test_web_urldispatcher.py
Due: library, changelog, tests

Clarify deprecation text (#3930)
  aiohttp/web_middlewares.py
Due: library

Fix tests
  tests/test_web_functional.py
  tests/test_web_request.py
Due: tests

Update docs
  docs/web_reference.rst
Due: docs

Fix high memory consumption when a server flood the client with many responses to a single request
  aiohttp/client_proto.py
  tests/test_client_proto.py
Due: library, tests

Fix responses following a 100-continue being block
  aiohttp/client_proto.py
  tests/test_client_proto.py
Due: library, tests

fix style errors
  aiohttp/client_proto.py
  tests/test_client_proto.py
Due: library, tests

Drop deprecated fixtures (#3932)
  CHANGES/3932.removal
  aiohttp/pytest_plugin.py
Due: library, changelog

Drop deprecated API in web request (#3931)
  CHANGES/3931.removal
  aiohttp/web_request.py
  docs/web_reference.rst
  tests/test_web_functional.py
  tests/test_web_request.py
Due: library, changelog, docs, tests

Make typing_extensions library mandatory
  setup.py
Due: none

Forbid inheritance from ClientSession and Application (#3933)
  CHANGES/3933.removal
  aiohttp/client.py
  aiohttp/helpers.py
  aiohttp/web_app.py
  setup.py
  tests/test_client_session.py
  tests/test_web_app.py
Due: library, changelog, tests

Clarify deprecation text
  aiohttp/web_exceptions.py
Due: library

Drop deprecated ClientResponseError.code attribute
  aiohttp/client_exceptions.py
Due: library

Add changes
  CHANGES/3934.removal
Due: changelog

Drop deprecated clienbt API
  aiohttp/client.py
  aiohttp/connector.py
  docs/client_reference.rst
  tests/test_client_connection.py
  tests/test_client_session.py
Due: library, docs, tests

Add changelog
  CHANGES/3935.removal
Due: changelog

Fix tests
  tests/test_client_exceptions.py
Due: tests

Drop deprecated client API (#3935)
  CHANGES/3935.removal
  aiohttp/client.py
  aiohttp/connector.py
  docs/client_reference.rst
  tests/test_client_connection.py
  tests/test_client_session.py
Due: library, changelog, docs, tests

Drop deprecated ClientResponseError.code attribute (#3934)
  CHANGES/3934.removal
  aiohttp/client_exceptions.py
  tests/test_client_exceptions.py
Due: library, changelog, tests
