Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Customize the input buffer size (#5065)
  CHANGES/4453.feature
  aiohttp/_http_parser.pyx
  aiohttp/client.py
  aiohttp/client_proto.py
  aiohttp/http_parser.py
  aiohttp/payload.py
  aiohttp/streams.py
  aiohttp/web_protocol.py
  aiohttp/web_ws.py
  docs/client_reference.rst
  docs/spelling_wordlist.txt
  docs/web_reference.rst
  tests/test_client_functional.py
  tests/test_http_parser.py
  tests/test_multipart.py
  tests/test_streams.py
  tests/test_web_functional.py
  tests/test_web_request.py
Due: library, changelog, docs, tests

Fix tests
  aiohttp/http_exceptions.py
  tests/test_http_exceptions.py
  tests/test_payload.py
  tests/test_streams.py
  tests/test_web_request.py
Due: library, tests

Fix a problem with connection waiters that are never awaited (#4562)
  CHANGES/4562.bugfix
  CONTRIBUTORS.txt
  aiohttp/connector.py
  tests/test_connector.py
Due: library, changelog, docs, tests

Fix keepalive connections not being closed in time (#4956)
  CHANGES/3296.bugfix
  CONTRIBUTORS.txt
  aiohttp/connector.py
  tests/test_connector.py
Due: library, changelog, docs, tests

[3.7] Don't cancel web handler on disconnection (#4080) (#4771)
  CHANGES/4080.feature
  aiohttp/http_websocket.py
  aiohttp/web_protocol.py
  aiohttp/web_request.py
  aiohttp/web_ws.py
  docs/web_advanced.rst
  tests/test_client_ws.py
  tests/test_web_protocol.py
  tests/test_web_websocket.py
  tests/test_web_websocket_functional.py
  tests/test_websocket_writer.py
Due: library, changelog, docs, tests

Revert back to custom token
  .github/workflows/backport.yml
Due: none

Update tests/test_http_parser.py
  tests/test_http_parser.py
Due: tests

Fix #4798: no response on invalid request methods (#4848)
  CHANGES/4798.bugfix
  CONTRIBUTORS.txt
  aiohttp/_http_parser.pyx
  tests/test_http_parser.py
  tests/test_web_functional.py
Due: library, changelog, docs, tests

Add CHANGES
  CHANGES/5070.feature
Due: changelog

Bump http_parser to 2.9.4 (#5070)
  CHANGES/5070.feature
Due: changelog

Fix tests
  aiohttp/web_request.py
  tests/test_web_request.py
Due: library, tests

Reformat
  aiohttp/web_request.py
Due: library

Fix multipart file uploads without content type (#5072)
  CHANGES/4089.bugfix
  CONTRIBUTORS.txt
  aiohttp/web_request.py
  tests/test_web_request.py
Due: library, changelog, docs, tests

Fix exception causes in client.py (#4815)
  aiohttp/client.py
Due: library

More
  aiohttp/web_protocol.py
Due: library

setup: block multidict>5 for py3.5
  setup.py
Due: none

ci-wheel: adjust multidict
  requirements/ci-wheel.txt
Due: configs

build: fix
  setup.py
Due: none

Create 5075.feature
  CHANGES/5075.feature
Due: changelog

Relax multidict dependency
  setup.py
Due: none
