Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Tune formatter
  Makefile
  setup.cfg
Due: none

Change string style
  docs/conf.py
  setup.py
Due: docs

Fix linter
  aiohttp/__init__.py
  aiohttp/_http_parser.pyx
  aiohttp/client.py
  aiohttp/connector.py
  aiohttp/http.py
  aiohttp/pytest_plugin.py
  aiohttp/typedefs.py
  aiohttp/web.py
  aiohttp/web_protocol.py
  aiohttp/web_urldispatcher.py
  aiohttp/web_ws.py
  setup.py
  tests/test_test_utils.py
  tests/test_web_functional.py
Due: library, tests

Fix linter
  aiohttp/__init__.py
  aiohttp/_http_parser.pyx
  aiohttp/client.py
  aiohttp/http.py
  aiohttp/pytest_plugin.py
  aiohttp/typedefs.py
  aiohttp/web.py
  aiohttp/web_protocol.py
  aiohttp/web_urldispatcher.py
  aiohttp/web_ws.py
  tests/test_test_utils.py
  tests/test_web_functional.py
Due: library, tests

Update CONTRIBUTION instructions
  docs/contributing.rst
Due: docs

Fix linter rules
  setup.cfg
Due: none

Tune spelling
  docs/contributing.rst
  docs/spelling_wordlist.txt
Due: docs

Add extra word to spelling whitelist
  docs/spelling_wordlist.txt
Due: docs

Update CONTRIBUTION instructions (#5108)
  docs/contributing.rst
  docs/spelling_wordlist.txt
Due: docs

Import `Protocol` from typing_extensions
  CHANGES/5111.bugfix
  aiohttp/helpers.py
Due: library, changelog

Import `Protocol` from typing_extensions (#5111)
  CHANGES/5111.bugfix
  aiohttp/helpers.py
Due: library, changelog

[3.7] Import `Protocol` from typing_extensions (#5111)
  CHANGES/5111.bugfix
  aiohttp/helpers.py
Due: library, changelog

[3.7] Import `Protocol` from typing_extensions (#5111) (#5113)
  CHANGES/5111.bugfix
  aiohttp/helpers.py
Due: library, changelog

Bump to 3.7.1
  CHANGES.rst
  CHANGES/5111.bugfix
  aiohttp/__init__.py
Due: library, changelog, docs

Fix CHANGES
  CHANGES.rst
Due: changelog, docs

Bump to 3.7.1
  CHANGES.rst
  CHANGES/5111.bugfix
Due: changelog, docs

fix run_app typing (#4957)
  CHANGES/4957.bugfix
  aiohttp/web.py
  tests/test_run_app.py
Due: library, changelog, tests

Annotate all attrs members
  CHANGES/5115.bugfix
  aiohttp/client.py
  aiohttp/client_reqrep.py
  aiohttp/client_ws.py
  aiohttp/helpers.py
  aiohttp/tracing.py
  aiohttp/web_request.py
  aiohttp/web_routedef.py
  aiohttp/web_ws.py
Due: library, changelog

fixup! Annotate all attrs members
  aiohttp/client_reqrep.py
Due: library

fixup! Annotate all attrs members
  aiohttp/client_reqrep.py
  aiohttp/helpers.py
  aiohttp/web_request.py
Due: library

fix run_app typing (#4957) (#5114)
  CHANGES/4957.bugfix
  aiohttp/web.py
  tests/test_run_app.py
Due: library, changelog, tests

Fix flaky test_when_timeout_smaller_second
  CHANGES/5116.bugfix
  tests/test_helpers.py
Due: changelog, tests

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
