Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Turn RawResponseMessage into a NamedTuple (#7365)
  CHANGES/7365.feature
  aiohttp/http_parser.py
Due: library, changelog

fix: Spelling error fixed (#7370)
  aiohttp/payload.py
Due: library

Update index.rst
  docs/index.rst
Due: docs

Update contributing.rst
  docs/contributing.rst
Due: docs

Try to match headings
  vendor/README.rst
Due: third-party

Drop azure mention
  docs/index.rst
Due: docs

Drop azure mention (#7373)
  docs/index.rst
Due: docs

Fix bump llhttp to v8.1.1 (#7367)
  .gitmodules
  docs/contributing.rst
  tests/test_http_parser.py
  vendor/README.rst
Due: configs, docs, tests, third-party

Fix bump llhttp to v8.1.1 (#7367) (#7376)
  .gitmodules
  docs/contributing.rst
  tests/test_http_parser.py
  vendor/README.rst
Due: configs, docs, tests, third-party

Fix PermissionError when loading .netrc (#7237)
  CHANGES/7237.bugfix
  aiohttp/helpers.py
  tests/test_helpers.py
Due: library, changelog, tests

Add Jan Gosmann to contributors
  CONTRIBUTORS.txt
Due: docs

Fix bump llhttp to v8.1.1 (#7367) (#7377)
  .gitmodules
  docs/contributing.rst
  tests/test_http_parser.py
  vendor/README.rst
Due: configs, docs, tests, third-party

Improve error messages from C parser (#7366)
  CHANGES/7366.feature
  aiohttp/_http_parser.pyx
  aiohttp/http_exceptions.py
  tests/test_http_exceptions.py
  tests/test_http_parser.py
Due: library, changelog, tests

Improve error messages from C parser (#7366) (#7380)
  CHANGES/7366.feature
  aiohttp/_http_parser.pyx
  aiohttp/http_exceptions.py
  tests/test_http_exceptions.py
  tests/test_http_parser.py
Due: library, changelog, tests

Fix PermissionError when loading .netrc (#7237) (#7378)
  CHANGES/7237.bugfix
  CONTRIBUTORS.txt
  aiohttp/helpers.py
  tests/test_helpers.py
Due: library, changelog, docs, tests

 Bump pypa/cibuildwheel to v2.14.1
  .github/workflows/ci-cd.yml
Due: none

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
