Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Fix the link to `MultiDict` in `client_quickstart.rst` (#5517)
  docs/client_quickstart.rst
Due: docs

Prepare Sphinx setup for stricter nitpicky mode
  Makefile
  docs/conf.py
Due: docs

Bump aiohttp to v3.7.4.post0 for a dep bump
  CHANGES.rst
  aiohttp/__init__.py
Due: library, changelog, docs

Merge branch '3.7' into 3.8
  CHANGES.rst
Due: changelog, docs

Fixup the changelog title for v3.7.4.post0
  CHANGES.rst
Due: changelog, docs

Drop unrelated gitignore change
  .gitignore
Due: configs

Rephrase the change note to be more specific
  CHANGES/4431.bugfix
Due: changelog

Factored out proxy check, and wrote unit tests
  aiohttp/helpers.py
Due: library

Refactor to remove for loop.
  aiohttp/helpers.py
Due: library

Update aiohttp/client.py
  aiohttp/client.py
Due: library

Update aiohttp/helpers.py
  aiohttp/helpers.py
Due: library

Update test_client_session.py
  tests/test_client_session.py
Due: tests

Fix sock_connect timeout being applied when 0.
  CHANGES/5527.bugfix
  aiohttp/helpers.py
  tests/test_client_session.py
Due: library, changelog, tests

Create 5533.misc
  CHANGES/5533.misc
Due: changelog

StaticResource only matches folder-like URL prefix
  aiohttp/web_urldispatcher.py
Due: library

add to contributors
  CONTRIBUTORS.txt
Due: docs

add CHANGES
  CHANGES/5250.bugfix
Due: changelog

add test
  tests/test_web_urldispatcher.py
Due: tests

Complete pip-tools setup (#5508)
  .pre-commit-config.yaml
  CHANGES/5486.misc
  Makefile
  requirements/base.txt
  requirements/cython.in
  requirements/cython.txt
  requirements/dev.txt
  requirements/doc-spelling.in
  requirements/doc-spelling.txt
  requirements/lint.in
  requirements/lint.txt
Due: configs, changelog

Fix 5486.misc change
  CHANGES/5486.misc
Due: changelog

Fix 5486.misc (#5507)
  CHANGES/5486.misc
Due: changelog

Make test clearer.
  tests/test_client_session.py
Due: tests

Simplfy function.
  aiohttp/helpers.py
Due: library

Update helpers.py
  aiohttp/helpers.py
Due: library

Fix sock_connect timeout being applied when 0. (#5529)
  CHANGES/5527.bugfix
  aiohttp/helpers.py
  tests/test_client_session.py
Due: library, changelog, tests
