Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Update aiohttp/base_protocol.py
  aiohttp/base_protocol.py
Due: library

Adjust type annotations making print arg optional in web.run_app()
  .pre-commit-config.yaml
  CHANGES/3690.misc
  CONTRIBUTORS.txt
  aiohttp/web.py
Due: library, changelog, docs

Adjust type annotations making print arg optional in web.run_app() (#7190)
  .pre-commit-config.yaml
  CHANGES/3690.misc
  CONTRIBUTORS.txt
  aiohttp/web.py
Due: library, changelog, docs

Update docs/glossary.rst
  docs/glossary.rst
Due: docs

Fix typo
  tests/test_helpers.py
Due: tests

Make tests pass after 2039
  CHANGES/7191.misc
  tests/test_cookiejar.py
Due: changelog, tests

Add ClientResponse.certificate and populate it, if appropriate
  CHANGES/2816.feature
  CONTRIBUTORS.txt
  aiohttp/client_reqrep.py
  docs/client_reference.rst
  tests/test_client_request.py
Due: library, changelog, docs, tests

Updates as requested
  CHANGES/2816.feature
  aiohttp/client_reqrep.py
  docs/client_reference.rst
  tests/test_client_request.py
Due: library, changelog, docs, tests

Fix ConnectionResetError not being raised when the transport is closed (#7180)
  CHANGES/7180.bugfix
  CONTRIBUTORS.txt
  aiohttp/base_protocol.py
  aiohttp/http_writer.py
  tests/test_base_protocol.py
  tests/test_client_proto.py
  tests/test_http_writer.py
Due: library, changelog, docs, tests

Fix ConnectionResetError not being raised when the transport is closed (#7180)
  CHANGES/7180.bugfix
  aiohttp/base_protocol.py
  aiohttp/http_writer.py
  tests/test_base_protocol.py
  tests/test_client_proto.py
  tests/test_http_writer.py
Due: library, changelog, tests

Update test_client_proto.py
  tests/test_client_proto.py
Due: tests

Update test_http_writer.py
  tests/test_http_writer.py
Due: tests

Fix ConnectionResetError not being raised when the transport is close… (#7198)
  CHANGES/7180.bugfix
  CONTRIBUTORS.txt
  aiohttp/base_protocol.py
  aiohttp/http_writer.py
  tests/test_base_protocol.py
  tests/test_client_proto.py
  tests/test_http_writer.py
Due: library, changelog, docs, tests

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

[3.9] Fix CI (#7143)
  .github/workflows/ci.yml
  aiohttp/helpers.py
  tests/test_client_request.py
  tests/test_streams.py
  tests/test_web_app.py
Due: library, tests

Update constraints.txt
  requirements/constraints.txt
Due: configs

Update lint.txt
  requirements/lint.txt
Due: configs

Update test.txt
  requirements/test.txt
Due: configs

Update .mypy.ini
  .mypy.ini
Due: none

Drop unused mypy-extensions
  requirements/test.txt
Due: configs

Drop unused mypy-extensions (#7201)
  requirements/constraints.txt
  requirements/test.txt
Due: configs

[3.8] Fix CI (#7143) (#7200)
  .github/workflows/ci.yml
  .mypy.ini
  aiohttp/helpers.py
  tests/test_client_request.py
  tests/test_streams.py
  tests/test_web_app.py
Due: library, tests

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
