Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Fix: fix the code about handling `getaddrinfo` when disable ipv6 in (#5906)
  CHANGES/5901.bugfix
  aiohttp/resolver.py
  tests/test_resolver.py
Due: library, changelog, tests

auto_decompress is optional in server (#5958)
  CHANGES/5957.feature
  CONTRIBUTORS.txt
  aiohttp/_http_parser.pyx
  aiohttp/web_protocol.py
  docs/web_reference.rst
  tests/test_web_functional.py
Due: library, changelog, docs, tests

Don't send secure cookies by insecure transports (#5839)
  CHANGES/5571.feature
  aiohttp/cookiejar.py
  docs/client_reference.rst
  docs/spelling_wordlist.txt
  docs/testing.rst
  tests/test_cookiejar.py
Due: library, changelog, docs, tests

fix(5925): suppress ValueError due to invalid datetime header (#6012)
  CHANGES/5925.bugfix
  CONTRIBUTORS.txt
  aiohttp/helpers.py
  aiohttp/web_request.py
  aiohttp/web_response.py
  tests/test_helpers.py
  tests/test_web_request.py
  tests/test_web_response.py
Due: library, changelog, docs, tests

Fix linter
  tests/autobahn/test_autobahn.py
Due: tests

Fix linter
  aiohttp/helpers.py
Due: library

Remove redundant type ignores
  tests/autobahn/test_autobahn.py
Due: tests

Fix spelling
  docs/spelling_wordlist.txt
Due: docs

Add make targets for testing with specific version in Docker
  Makefile
  tools/testing/Dockerfile
  tools/testing/Dockerfile.dockerignore
  tools/testing/entrypoint.sh
Due: tools

Update docs
  docs/contributing.rst
Due: docs

add CHANGES file
  CHANGES/6131.misc
Due: changelog

Fix resetting SIGCHLD in Gunicorn Worker
  aiohttp/worker.py
Due: library

add CONTRIBUTORS and add CHANGES
  CHANGES/6130.bugfix
  CONTRIBUTORS.txt
Due: changelog, docs

add CONTRIBUTORS and add CHANGES
  CHANGES/6130.bugfix
Due: changelog

fix spelling
  docs/contributing.rst
Due: docs

change CHANGES spell
  CHANGES/6130.bugfix
Due: changelog

Replace AbstractMatchInfo with UrlMappingMatchInfo. (#6135)
  CHANGES/4748.bugfix
  aiohttp/web_app.py
  aiohttp/web_middlewares.py
  aiohttp/web_urldispatcher.py
  requirements/test.txt
Due: library, configs, changelog

Update aiohttp/worker.py
  aiohttp/worker.py
Due: library

Setup new build
  .github/workflows/ci.yml
Due: none

Add CHANGES
  CHANGES/6139.1.feature
  CHANGES/6139.2.feature
Due: changelog

Fix version
  .github/workflows/ci.yml
Due: none

Update CHANGES/6139.1.feature
  CHANGES/6139.1.feature
Due: changelog

Update CHANGES/6139.2.feature
  CHANGES/6139.2.feature
Due: changelog

Update CHANGES checker to support multiple files for the same issue
  CHANGES/4247.misc.1
  tools/check_changes.py
Due: changelog, tools

http-parser -> llhttp (#5364)
  .github/workflows/ci.yml
  .gitignore
  .gitmodules
  CHANGES/3561.feature
  Makefile
  aiohttp/_cparser.pxd
  aiohttp/_http_parser.pyx
  setup.py
  tests/test_http_parser.py
Due: library, configs, changelog, tests
