Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Update copyright year from 2020 to 2022
  LICENSE.txt
  docs/conf.py
Due: docs

Removed years from copyright notice
  LICENSE.txt
  docs/conf.py
Due: docs

Standardised copyright notice using "contributors"
  LICENSE.txt
  docs/conf.py
Due: docs

Update test_imports.py
  tests/test_imports.py
Due: tests

Update copyright year from 2020 to 2022 (#6601)
  LICENSE.txt
  docs/conf.py
Due: docs

Create .coveragerc
  .coveragerc
Due: none

Update setup.cfg
  setup.cfg
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Fail Windows tests
  .github/workflows/ci.yml
Due: none

Update __init__.py
  aiohttp/__init__.py
Due: library

Update tests/test_imports.py
  tests/test_imports.py
Due: tests

Use typing.NamedTuple for WSMessage
  aiohttp/http_websocket.py
Due: library

Wait thats not how the alphabet works
  aiohttp/http_websocket.py
Due: library

Update CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: docs

Create 6610.feature.rst
  CHANGES/6610.feature.rst
Due: changelog

Remove collections import
  aiohttp/http_websocket.py
Due: library

Update 6610.feature
  CHANGES/6610.feature
Due: changelog

Drop intermediate class
  aiohttp/http_websocket.py
Due: library

Update web_advanced.rst
  docs/web_advanced.rst
Due: docs

Update web_advanced.rst (#6611)
  docs/web_advanced.rst
Due: docs

Fix xmlcharrefreplace invalid for decode
  aiohttp/http_parser.py
Due: library
