Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

CI: travis refactor, step 1, address warnings and remove cruft.
  .travis.yml
Due: configs

CI: Refactor job generation, fixing OSX jobs
  .travis.yml
Due: configs

CI: Rather than hard-code Python versions, pick the 'latest' available to PyEnv.
  .travis.yml
Due: configs

CI: drop unused anchor names
  .travis.yml
Due: configs

CI: use mainstream_python definition for the pure-python test
  .travis.yml
Due: configs

CI: Run Linux wheel builder on API and cron builds.
  .travis.yml
Due: configs

CI: typing_extensions is now a direct dependency, including 3.7
  requirements/ci-wheel.txt
Due: configs

CI: Pin cryptography to 2.6.1 on i686
  requirements/ci-wheel.txt
Due: configs

Deprecate obsolete timeout in ClientSession.ws_connect() (#3946)
  CHANGES/3945.removal
  aiohttp/client.py
  aiohttp/client_ws.py
  docs/client_reference.rst
  tests/test_client_ws_functional.py
Due: library, changelog, docs, tests

Fixes #3852 - aiohttp.test_utils.TestClient should return a _RequestContextManager (#3989)
  CHANGES/3852.bugfix
  CONTRIBUTORS.txt
  aiohttp/test_utils.py
Due: library, changelog, docs

[3.6] Fixes #3852 - aiohttp.test_utils.TestClient should return a _RequestContextManager (#3989) (cherry picked from commit a2a9d0a2)
  CHANGES/3852.bugfix
  CONTRIBUTORS.txt
  aiohttp/test_utils.py
Due: library, changelog, docs

CI: fix x86_64 manylinux build
  requirements/ci-wheel.txt
Due: configs

Leave it to pip to find suitable wheels on i686
  requirements/ci-wheel.txt
Due: configs

[3.6] Fixes #3852 - aiohttp.test_utils.TestClient should return a _RequestContextManager (#3989) (#4022)
  CHANGES/3852.bugfix
  CONTRIBUTORS.txt
  aiohttp/test_utils.py
Due: library, changelog, docs

Fix overshadowing of overlapped subapp prefixes (#3701). (#3708)
  CHANGES/3701.bugfix
  CONTRIBUTORS.txt
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
Due: library, changelog, docs, tests

[3.6] Fix overshadowing of overlapped subapp prefixes (#3701). (#3708) (cherry picked from commit 2aaf1113)
  CHANGES/3701.bugfix
  CONTRIBUTORS.txt
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
Due: library, changelog, docs, tests

Expect trustme tests to fail on 32-bit
  tests/conftest.py
Due: tests

CI: fix x86_64 manylinux build (#4026)
  requirements/ci-wheel.txt
Due: configs

CI: don't allow cleanup on OS X deployments
  .travis.yml
Due: configs

Address review comments:
  .travis.yml
Due: configs

[3.6] Fix overshadowing of overlapped subapp prefixes (#3701). (#3708) (#4027)
  CHANGES/3701.bugfix
  CONTRIBUTORS.txt
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
Due: library, changelog, docs, tests

CI: Fix i686 manylinux build (#4021)
  requirements/ci-wheel.txt
  tests/conftest.py
Due: configs, tests

Added aiohttp-swagger3 to third-party libraries
  docs/third_party.rst
Due: docs

Added aiohttp-swagger3 to third-party libraries (#4029)
  docs/third_party.rst
Due: docs

Fix #4013 _resolve_host race conditions (#4014)
  CHANGES/4013.bugfix
  CONTRIBUTORS.txt
  aiohttp/connector.py
  tests/test_connector.py
Due: library, changelog, docs, tests

[3.6] Fix #4013 _resolve_host race conditions (#4014) (cherry picked from commit 010caab6)
  CHANGES/4013.bugfix
  CONTRIBUTORS.txt
  aiohttp/connector.py
  tests/test_connector.py
Due: library, changelog, docs, tests

[3.6] Fix #4013 _resolve_host race conditions (#4014) (#4030)
  CHANGES/4013.bugfix
  CONTRIBUTORS.txt
  aiohttp/connector.py
  tests/test_connector.py
Due: library, changelog, docs, tests

Fix an issue with a failed websocket handshake leaving connection hanging #3380 (#3971)
  CHANGES/3380.bugfix
  aiohttp/_http_parser.pyx
  aiohttp/http_parser.py
  aiohttp/web_protocol.py
  tests/test_web_websocket_functional.py
Due: library, changelog, tests

Handle ConnectionError in streamed responses
  aiohttp/web_protocol.py
Due: library
