Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Handle ConnectionError in streamed responses
  aiohttp/web_protocol.py
Due: library

Properly handle connection errors on server side
  aiohttp/web_protocol.py
Due: library

Release 3.6b0
  aiohttp/__init__.py
Due: library

On exit, cancel the main task first
  CHANGES/3805.bugfix
  CONTRIBUTORS.txt
  aiohttp/web.py
Due: library, changelog, docs

Fix #4039: Don't set Host header to host:None if port is not provided
  CHANGES/4039.bugfix
  aiohttp/client_reqrep.py
  tests/test_client_request.py
Due: library, changelog, tests

Fix #4039: Don't set Host header to host:None if port is not provided (#4040)
  CHANGES/4039.bugfix
  aiohttp/client_reqrep.py
  tests/test_client_request.py
Due: library, changelog, tests

[3.6] Fix #4039: Don't set Host header to host:None if port is not provided (#4040) (cherry picked from commit db760f71)
  CHANGES/4039.bugfix
  aiohttp/client_reqrep.py
  tests/test_client_request.py
Due: library, changelog, tests

[3.6] Fix #4039: Don't set Host header to host:None if port is not provided (#4040) (#4041)
  CHANGES/4039.bugfix
  aiohttp/client_reqrep.py
  tests/test_client_request.py
Due: library, changelog, tests

Bump to 3.6.0
  CHANGES.rst
  CHANGES/3526.doc
  CHANGES/3532.bugfix
  CHANGES/3576.bugfix
  CHANGES/3579.bugfix
  CHANGES/3587.bugfix
  CHANGES/3595.bugfix
  CHANGES/3614.bugfix
  CHANGES/3621.bugfix
  CHANGES/3628.bugfix
  CHANGES/3629.feature
  CHANGES/3631.bugfix
  CHANGES/3633.bugfix
  CHANGES/3644.bugfix
  CHANGES/3648.bugfix
  CHANGES/3660.bugfix
  CHANGES/3701.bugfix
  CHANGES/3720.bugfix
  CHANGES/3775.doc
  CHANGES/3783.doc
  CHANGES/3791.doc
  CHANGES/3798.feature
  CHANGES/3818.bugfix
  CHANGES/3841.bugfix
  CHANGES/3852.bugfix
  CHANGES/3868.bugfix
  CHANGES/3880.bugfix
  CHANGES/3906.bugfix
  CHANGES/3959.bugfix
  CHANGES/3964.doc
  CHANGES/3976.bugfix
  CHANGES/3980.feature
  CHANGES/4013.bugfix
  CHANGES/4039.bugfix
  aiohttp/__init__.py
Due: library, changelog, docs

allow non callable truey raise_for_status
  aiohttp/client.py
Due: library

Fix spelling
  CHANGES.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

Fix spelling
  docs/spelling_wordlist.txt
Due: docs

Fix tests
  aiohttp/web_ws.py
Due: library

Fix a test
  tests/test_web_protocol.py
Due: tests

Work on
  tests/test_web_websocket.py
Due: tests

Fix docs
  docs/abc.rst
Due: docs

Fix another test
  tests/test_web_websocket_functional.py
Due: tests

Drop a test
  tests/test_web_websocket.py
Due: tests

Drop redundant tests
  tests/test_web_websocket.py
Due: tests

fetch git submodules
  azure-pipelines.yml
Due: configs

Add long_description_content_type to setup.py
  setup.py
Due: none

Fix markup
  CHANGES/3901.removal
Due: changelog

Bump mypy to 0.720
  aiohttp/client.py
  aiohttp/client_reqrep.py
  aiohttp/connector.py
  aiohttp/cookiejar.py
  aiohttp/helpers.py
  aiohttp/http_websocket.py
  aiohttp/web_exceptions.py
  aiohttp/web_log.py
  aiohttp/web_response.py
  aiohttp/web_runner.py
  requirements/ci.txt
Due: library, configs

Bump mypy to 0.720 (#4044)
  aiohttp/client.py
  aiohttp/client_reqrep.py
  aiohttp/connector.py
  aiohttp/cookiejar.py
  aiohttp/helpers.py
  aiohttp/http_websocket.py
  aiohttp/web_exceptions.py
  aiohttp/web_log.py
  aiohttp/web_response.py
  aiohttp/web_runner.py
  requirements/ci.txt
Due: library, configs

[3.6] Bump mypy to 0.720 (#4044). (cherry picked from commit 542006a5faa2ea3fae2db9380e8f9f3b00c712f7)
  aiohttp/client.py
  aiohttp/client_reqrep.py
  aiohttp/connector.py
  aiohttp/cookiejar.py
  aiohttp/helpers.py
  aiohttp/http_websocket.py
  aiohttp/web_log.py
  aiohttp/web_response.py
  aiohttp/web_runner.py
  requirements/ci.txt
Due: library, configs

Add dependabot prefix for 3.6 branch
  .dependabot/config.yml
Due: none

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
