Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Fix formatting.
  CHANGES/4106.bugfix
Due: changelog

Fix typo in code example in testing docs
  docs/testing.rst
Due: docs

Add CHANGES/4108.doc
  CHANGES/4108.doc
Due: changelog

Update docs to clarify proxy support (#4101)
  CHANGES/4100.doc
  docs/client_advanced.rst
Due: changelog, docs

[3.6] Update docs to clarify proxy support (#4101)
  CHANGES/4100.doc
  docs/client_advanced.rst
Due: changelog, docs

[3.6] Update docs to clarify proxy support (#4101) (#4110)
  CHANGES/4100.doc
  docs/client_advanced.rst
Due: changelog, docs

Fix typo in code example in testing docs (#4108)
  CHANGES/4108.doc
  docs/testing.rst
Due: changelog, docs

[3.6] Fix typo in code example in testing docs (#4108) (cherry picked from commit 3bc5bd6d)
  CHANGES/4108.doc
  docs/testing.rst
Due: changelog, docs

[3.6] Fix typo in code example in testing docs (#4108) (#4111)
  CHANGES/4108.doc
  docs/testing.rst
Due: changelog, docs

Sorted.
  CONTRIBUTORS.txt
Due: docs

Sorted with LC_ALL=C.
  CONTRIBUTORS.txt
Due: docs

Add changenote
  CHANGES/4080.feature
Due: changelog

Drop a section about cancellation from docs
  docs/web_advanced.rst
Due: docs

Add a new docs section about peer disconnection
  docs/web_advanced.rst
Due: docs

Allow caller to control HTTP status when using FileResponse (#4107)
  CHANGES/4106.bugfix
  CONTRIBUTORS.txt
  aiohttp/web_fileresponse.py
  tests/test_web_sendfile.py
Due: library, changelog, docs, tests

[3.6] Allow caller to control HTTP status when using FileResponse (#4107) (cherry picked from commit c422ff3f)
  CHANGES/4106.bugfix
  CONTRIBUTORS.txt
  aiohttp/web_fileresponse.py
  tests/test_web_sendfile.py
Due: library, changelog, docs, tests

[3.6] Allow caller to control HTTP status when using FileResponse (#4107) (#4113)
  CHANGES/4106.bugfix
  CONTRIBUTORS.txt
  aiohttp/web_fileresponse.py
  tests/test_web_sendfile.py
Due: library, changelog, docs, tests

Upgrade to mypy==0.730
  aiohttp/connector.py
  aiohttp/web_protocol.py
  aiohttp/web_runner.py
  aiohttp/web_ws.py
  requirements/ci.txt
Due: library, configs

[3.6] Upgrade to mypy==0.730 (cherry picked from commit e49b4db5)
  aiohttp/connector.py
  aiohttp/web_protocol.py
  aiohttp/web_runner.py
  aiohttp/web_ws.py
  requirements/ci.txt
Due: library, configs

Fix misleading message in the string representation of `ClientConnectorError` (#4097)
  CHANGES/4097.bugfix
  aiohttp/client_exceptions.py
  tests/test_client_exceptions.py
Due: library, changelog, tests

Fix misleading message in the string representation of `ClientConnectorError` (#4097) (#4120)
  CHANGES/4097.bugfix
  aiohttp/client_exceptions.py
  tests/test_client_exceptions.py
Due: library, changelog, tests

Work on
  aiohttp/client_reqrep.py
Due: library

[3.6] Fix misleading message in the string representation of `ClientConnectorError` (#4097) (#4120) (cherry picked from commit ac180b1c)
  CHANGES/4097.bugfix
  aiohttp/client_exceptions.py
  tests/test_client_exceptions.py
Due: library, changelog, tests

Don't cancel web handler on disconnection (#4080)
  CHANGES/4080.feature
  aiohttp/http_websocket.py
  aiohttp/web_protocol.py
  aiohttp/web_request.py
  aiohttp/web_ws.py
  docs/web_advanced.rst
  tests/test_client_ws.py
  tests/test_web_protocol.py
  tests/test_web_websocket.py
  tests/test_web_websocket_functional.py
  tests/test_websocket_writer.py
Due: library, changelog, docs, tests

Contributor added
  CONTRIBUTORS.txt
Due: docs

added boolean dunder methods
  aiohttp/web_app.py
  aiohttp/web_request.py
  tests/test_web_app.py
  tests/test_web_request.py
Due: library, tests

added changes file
  CHANGES/4102.misc
Due: changelog

forgot something
  CHANGES/4102.misc
Due: changelog

[3.6] Fix misleading message in the string representation of `ClientConnectorError` (#4097) (#4120) (#4121)
  CHANGES/4097.bugfix
  aiohttp/client_exceptions.py
  tests/test_client_exceptions.py
Due: library, changelog, tests

Use Iterable hint instead of Sequence
  CONTRIBUTORS.txt
  aiohttp/web_app.py
Due: library, docs

Pin pygments version
  requirements/doc.txt
Due: configs
