Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Update web_response.py
  aiohttp/web_response.py
Due: library

Fix tests
  aiohttp/web.py
  tests/test_run_app.py
Due: library, tests

Disable loop debug mode if needed
  tests/test_run_app.py
Due: tests

Fix wording
  docs/client_quickstart.rst
Due: docs

Docs improvement
  docs/client_quickstart.rst
Due: docs

Tune a contant usage
  aiohttp/web_response.py
Due: library

Enable conditions v1 in Travis CI explicitly
  .travis.yml
Due: configs

Filter out pyup push events in Travis CI
  .travis.yml
Due: configs

Use xenial dist in Travis CI globally
  .travis.yml
Due: configs

Fix "additional" spelling in quickstart doc
  docs/client_quickstart.rst
Due: docs

Fixed mypy errors
  aiohttp/client.py
Due: library

Add more detailed doc for request cookies parameter
  docs/client_reference.rst
Due: docs

Added proxy params in client session attrs
  aiohttp/client.py
Due: library

Update coverage from 4.5.1 to 4.5.2
  requirements/ci-wheel.txt
Due: configs

Update cython from 0.29 to 0.29.1
  requirements/ci-wheel.txt
Due: configs

Update cython from 0.29 to 0.29.1
  requirements/cython.txt
Due: configs

Update cython from 0.29 to 0.29.1
  requirements/wheel.txt
Due: configs

Update multidict from 4.4.2 to 4.5.1
  requirements/ci-wheel.txt
Due: configs

Update pytest from 3.8.2 to 4.0.1
  requirements/ci-wheel.txt
Due: configs

Update pytest from 3.8.2 to 4.0.1
  requirements/wheel.txt
Due: configs

Update pytest-xdist from 1.23.2 to 1.24.1
  requirements/ci-wheel.txt
Due: configs

Update tox from 3.5.2 to 3.5.3
  requirements/ci-wheel.txt
Due: configs

Update uvloop from 0.11.2 to 0.11.3
  requirements/ci-wheel.txt
Due: configs

Update flake8 from 3.5.0 to 3.6.0
  requirements/flake.txt
Due: configs

Update sphinx from 1.8.1 to 1.8.2
  requirements/doc.txt
Due: configs

fix merge, rename param and add zlib_executor param
  CHANGES/3205.feature
  aiohttp/web_response.py
  docs/web_reference.rst
  tests/test_web_response.py
Due: library, changelog, docs, tests

fixes
  aiohttp/web_response.py
Due: library

mypy fixes
  aiohttp/web_response.py
Due: library

fix import order
  aiohttp/web_response.py
Due: library

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
