Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Add Path support on web app run (#6843)
  CHANGES/6839.feature
  CONTRIBUTORS.txt
  aiohttp/web.py
  aiohttp/web_runner.py
  docs/web_reference.rst
  tests/test_run_app.py
Due: library, changelog, docs, tests

Fixed ClientConnectorError docstring
  aiohttp/client_exceptions.py
Due: library

CHANGES entry
  CHANGES/6846.doc
Due: changelog

Delete 6846.doc
  CHANGES/6846.doc
Due: changelog

Fixed ClientConnectorError docstring (#6846)
  aiohttp/client_exceptions.py
Due: library

feat: enable reuse of FromData instance
  aiohttp/formdata.py
  tests/test_formdata.py
Due: library, tests

adding change file and change contributors.txt
  CHANGES/6853.feature
  CONTRIBUTORS.txt
Due: changelog, docs

Bump test pins to frozenlist==1.3.1 & yarl==1.8.1
  requirements/base.txt
  requirements/constraints.txt
Due: configs

Stop blocking CI tests with linting
  .github/workflows/ci.yml
Due: none

Rebase
  .github/workflows/ci.yml
  requirements/base.txt
  requirements/constraints.txt
  requirements/cython.txt
  requirements/lint.txt
  requirements/test.txt
  requirements/typing-extensions.txt
  setup.cfg
Due: configs

pytest-mock==3.8.2
  requirements/constraints.txt
  requirements/test.txt
Due: configs

Allow pytest to set its dependency versions
  requirements/constraints.txt
Due: configs

Last try
  requirements/constraints.txt
  requirements/lint.txt
  requirements/typing-extensions.txt
Due: configs

Last try
  requirements/test.txt
Due: configs

Stop installing cchardet speedup under >Python 3.9
  CHANGES/6857.misc
  docs/_snippets/cchardet-unmaintained-admonition.rst
  docs/glossary.rst
  docs/index.rst
  requirements/base.txt
  setup.cfg
Due: configs, changelog, docs

Bump pytest to v7.1.2
  requirements/constraints.txt
  requirements/lint.txt
  requirements/test.txt
Due: configs

Merge branch 'maintenance/cchardet-below-py310-n-extras'
  CHANGES/6857.misc
  docs/_snippets/cchardet-unmaintained-admonition.rst
  docs/glossary.rst
  docs/index.rst
  requirements/base.txt
  setup.cfg
Due: configs, changelog, docs

Bump `py` to v1.11.0 in test envs
  requirements/constraints.txt
Due: configs

Ignore third-party deprecation warnings @ py311
  setup.cfg
  tests/test_circular_imports.py
Due: tests
