Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

[3.5] Fix stream .read() / .readany() / .iter_any() (#3525) (#3527) (#3528)
  aiohttp/streams.py
Due: library

Don't uppercase
  aiohttp/web_exceptions.py
Due: library

Bump to 3.5.4
  CHANGES.rst
  aiohttp/__init__.py
Due: library, changelog, docs

misc docs fix - background tasks example throws a deprecation warning
  docs/web_advanced.rst
Due: docs

misc fix - loop not needed for aioredis, uses get_event_loop by default
  docs/web_advanced.rst
Due: docs

added doc changelog for issue #3526
  CHANGES/3526.doc
Due: changelog

Fix test
  tests/test_web_exceptions.py
Due: tests

misc docs fix - background tasks example throws a deprecation warning (#3529)
  CHANGES/3526.doc
  docs/web_advanced.rst
Due: changelog, docs

[3.5] misc docs fix - background tasks example throws a deprecation warning (#3529) (cherry picked from commit 2d8aa120)
  CHANGES/3526.doc
  docs/web_advanced.rst
Due: changelog, docs

[3.5] misc docs fix - background tasks example throws a deprecation warning (#3529) (#3531)
  CHANGES/3526.doc
  docs/web_advanced.rst
Due: changelog, docs

Permit empty reason strings on responses that use ClientResponse.raise_for_status()
  CHANGES/3532.bugfix
  CONTRIBUTORS.txt
  aiohttp/client_reqrep.py
  tests/test_client_response.py
Due: library, changelog, docs, tests

Improve test coverage
  tests/test_web_exceptions.py
Due: tests

Improve coverage
  aiohttp/web_exceptions.py
  tests/test_web_exceptions.py
Due: library, tests

Change from raising a TypeError to asserting reason is not None
  aiohttp/client_reqrep.py
Due: library

Add test for #3515
  tests/test_client_functional.py
Due: tests

Add test for #3515 (#3517)
  tests/test_client_functional.py
Due: tests

[3.5] Add test for #3515 (#3517) (cherry picked from commit aa5cccb)
  tests/test_client_functional.py
Due: tests

Add changelog
  CHANGES/3462.feature
Due: changelog

[3.5] Add test for #3515 (#3517) (#3534)
  tests/test_client_functional.py
Due: tests

Update pytest from 4.0.2 to 4.1.1
  requirements/ci-wheel.txt
Due: configs

Update pytest from 4.0.2 to 4.1.1
  requirements/wheel.txt
Due: configs

Update pytest-cov from 2.6.0 to 2.6.1
  requirements/ci-wheel.txt
Due: configs

Update tox from 3.6.1 to 3.7.0
  requirements/ci-wheel.txt
Due: configs

Update typing_extensions from 3.6.6 to 3.7.2
  requirements/ci-wheel.txt
Due: configs

Dont inherit web exceptions for web.Response (#3462)
  .editorconfig
  CHANGES/3462.feature
  aiohttp/web_exceptions.py
  aiohttp/web_middlewares.py
  aiohttp/web_protocol.py
  docs/web.rst
  docs/web_exceptions.rst
  docs/web_quickstart.rst
  docs/web_reference.rst
  tests/test_web_exceptions.py
  tests/test_web_functional.py
Due: library, changelog, docs, tests

Scheduled weekly dependency update for week 02 (#3536)
  requirements/ci-wheel.txt
  requirements/wheel.txt
Due: configs

Drop streamer
  aiohttp/__init__.py
  aiohttp/payload_streamer.py
  tests/test_client_functional.py
  tests/test_client_request.py
  tests/test_web_functional.py
Due: library, tests

Add changenote
  CHANGES/3538.removal
Due: changelog

Strict running loop check
  aiohttp/helpers.py
  tests/test_helpers.py
Due: library, tests

Add changelog
  CHANGES/3539.removal
Due: changelog

Support reading multipart data with `\n` (`LF`) lines
  CHANGES/2302.feature
  aiohttp/multipart.py
  tests/test_multipart.py
Due: library, changelog, tests

Add test about mixed newlines
  tests/test_multipart.py
Due: tests

Make newline argument as keyword one and explicitly private one
  aiohttp/multipart.py
  tests/test_multipart.py
Due: library, tests
