Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Use for inline code
  docs/http_request_lifecycle.rst
Due: docs

Improve the 'contributing' docs
  CONTRIBUTING.rst
  docs/contributing.rst
Due: docs

Simplify the hello world example, explain request lifecycle (#4329)
  CHANGES/4272.doc
  CONTRIBUTING.rst
  CONTRIBUTORS.txt
  README.rst
  docs/client.rst
  docs/contributing.rst
  docs/glossary.rst
  docs/http_request_lifecycle.rst
  docs/index.rst
Due: changelog, docs

[3.7] Simplify the hello world example, explain request lifecycle (#4329) (cherry picked from commit 17bed459)
  CHANGES/4272.doc
  CONTRIBUTING.rst
  CONTRIBUTORS.txt
  README.rst
  docs/client.rst
  docs/contributing.rst
  docs/glossary.rst
  docs/http_request_lifecycle.rst
  docs/index.rst
Due: changelog, docs

[3.7] Simplify the hello world example, explain request lifecycle (#4329) (#4335)
  CHANGES/4272.doc
  CONTRIBUTING.rst
  CONTRIBUTORS.txt
  README.rst
  docs/client.rst
  docs/contributing.rst
  docs/glossary.rst
  docs/http_request_lifecycle.rst
  docs/index.rst
Due: changelog, docs

Fix dead link in README
  README.rst
Due: docs

Fix dead link in README (#4336)
  README.rst
Due: docs

remove tox from requirements
  requirements/ci-wheel.txt
Due: configs

remove tox from requirements (#4339)
  requirements/ci-wheel.txt
Due: configs

[3.7] remove tox from requirements (#4339). (cherry picked from commit 2692c92f4799cc0a7e38c8f9a7372076e42ab392)
  requirements/ci-wheel.txt
Due: configs

Bump to async-timeout==4.0.0a2
  requirements/ci-wheel.txt
Due: configs

[3.7] remove tox from requirements (#4339). (#4340)
  requirements/ci-wheel.txt
Due: configs

Fix tests
  aiohttp/client.py
  aiohttp/client_ws.py
  aiohttp/connector.py
  aiohttp/helpers.py
  aiohttp/web_protocol.py
  aiohttp/web_ws.py
  setup.py
  tests/test_client_ws_functional.py
  tests/test_helpers.py
Due: library, tests

Update async timeout to 4.0 alpha (#4341)
  aiohttp/client.py
  aiohttp/client_ws.py
  aiohttp/connector.py
  aiohttp/helpers.py
  aiohttp/web_protocol.py
  aiohttp/web_ws.py
  requirements/ci-wheel.txt
  setup.py
  tests/test_client_ws_functional.py
  tests/test_helpers.py
Due: library, configs, tests

Add name and backref to add_subapp
  aiohttp/web_app.py
Due: library

add failing test for reprocessing form data
  tests/test_formdata.py
Due: tests

raise ClientPayloadError when form data already processed
  aiohttp/formdata.py
Due: library

fix failing tests as they reused form data instance
  tests/test_web_functional.py
Due: tests

add changes file
  CHANGES/4345.bugfix
Due: changelog

fix linting
  tests/test_web_functional.py
Due: tests

Drop cleanup-closed functionality
  aiohttp/connector.py
  docs/client_reference.rst
Due: library, docs

change error from ClientPayloadError to RuntimeError
  aiohttp/formdata.py
Due: library

removed un-needed is_processed property
  aiohttp/formdata.py
Due: library

remove unused import
  aiohttp/formdata.py
Due: library

fix broken test
  tests/test_formdata.py
Due: tests

Work more
  aiohttp/connector.py
Due: library

Drop unused imports
  aiohttp/helpers.py
  tests/test_helpers.py
Due: library, tests

Form data processed (#4351)
  CHANGES/4345.bugfix
  aiohttp/formdata.py
  tests/test_formdata.py
  tests/test_web_functional.py
Due: library, changelog, tests

[3.7] Form data processed (#4351) (cherry picked from commit 02735353)
  CHANGES/4345.bugfix
  aiohttp/formdata.py
  tests/test_formdata.py
  tests/test_web_functional.py
Due: library, changelog, tests

[3.7] Form data processed (#4351) (#4352)
  CHANGES/4345.bugfix
  aiohttp/formdata.py
  tests/test_formdata.py
  tests/test_web_functional.py
Due: library, changelog, tests
