Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Allow timeout to work when reading with nowait (#5854) (#7292)
  CHANGES/5854.bugfix
  aiohttp/helpers.py
  aiohttp/streams.py
  tests/test_client_functional.py
Due: library, changelog, tests

Add flake8-requirements (#5934)
  .pre-commit-config.yaml
  CHANGES/5934.misc
  setup.cfg
  tests/__init__.py
  tests/conftest.py
  tests/test_circular_imports.py
  tests/test_connector.py
  tests/test_run_app.py
Due: changelog, tests

Update conftest.py
  tests/conftest.py
Due: tests

Update test_web_middleware.py
  tests/test_web_middleware.py
Due: tests

Add flake8-requirements (#5934) (#7293)
  .pre-commit-config.yaml
  CHANGES/5934.misc
  setup.cfg
  tests/__init__.py
  tests/conftest.py
  tests/test_circular_imports.py
  tests/test_connector.py
  tests/test_run_app.py
  tests/test_web_middleware.py
Due: changelog, tests

Add note about updating headers in on_response_prepare (#7283)
  CHANGES/7283.doc
  docs/web_reference.rst
Due: changelog, docs

Minor refactor of setting Content-Length in body (#7284)
  aiohttp/web_response.py
  docs/web_reference.rst
  tests/test_web_response.py
Due: library, docs, tests

Remove deprecated parts of AioHTTPTestCase (#7107)
  CHANGES/7107.removal
  aiohttp/test_utils.py
  docs/testing.rst
  tests/test_loop.py
  tests/test_test_utils.py
Due: library, changelog, docs, tests

Make AioHTTPTestCase.get_application() abstract
  aiohttp/test_utils.py
Due: library

Update test
  tests/test_test_utils.py
Due: tests

Make AioHTTPTestCase.get_application() abstract (#7296)
  aiohttp/test_utils.py
  tests/test_test_utils.py
Due: library, tests

Fix SSLContext being unknown
  aiohttp/client.py
Due: library

Updated URL
  docs/third_party.rst
Due: docs

Update third_party.rst (#6879)
  docs/third_party.rst
Due: docs

Fix SSLContext being unknown (#7298)
  aiohttp/client.py
Due: library

Make max 32-bit timestamp aware
  CHANGES/7302.bugfix
  aiohttp/cookiejar.py
Due: library, changelog

Update 7302.bugfix
  CHANGES/7302.bugfix
Due: changelog

Make max 32-bit timestamp aware (#7302)
  CHANGES/7302.bugfix
  aiohttp/cookiejar.py
Due: library, changelog

#7297 Add tests for closed keepalive connections
  tests/test_client_functional.py
Due: tests

Update index.rst
  docs/index.rst
Due: docs

Update client_quickstart.rst
  docs/client_quickstart.rst
Due: docs

Fix a couple of typos in the docs (#7309)
  docs/client_quickstart.rst
  docs/index.rst
Due: docs

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
