Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Add a `base_url` option to `ClientSession` (#6129)
  CHANGES/6013.feature
  aiohttp/client.py
  docs/client_quickstart.rst
  docs/client_reference.rst
  tests/test_client_session.py
Due: library, changelog, docs, tests

Support websocket proxies configured via environment variables
  CHANGES/4648.bugfix
  aiohttp/helpers.py
  docs/client_advanced.rst
  tests/test_helpers.py
Due: library, changelog, docs, tests

[PR #4661/50753eac backport][3.8] Support websocket proxies configured via environment variables (#6183)
  CHANGES/4648.bugfix
  aiohttp/helpers.py
  docs/client_advanced.rst
  tests/test_helpers.py
Due: library, changelog, docs, tests

[PR #4661/c354aad1 backport][3.8] Support websocket proxies configured via environment variables (#6183)
  CHANGES/4648.bugfix
  aiohttp/helpers.py
  docs/client_advanced.rst
  tests/test_helpers.py
Due: library, changelog, docs, tests

test_proxy_from_env did not clear proxies already set in the (#5557)
  CHANGES/5554.bugfix
  tests/test_helpers.py
Due: changelog, tests

[PR #5557/bb4ee18d backport][3.8] test_proxy_from_env did not clear proxies already set in the (#6184)
  CHANGES/5554.bugfix
  tests/test_helpers.py
Due: changelog, tests

[PR #5557/5fe694aa backport][3.8] test_proxy_from_env did not clear proxies already set in the (#6184)
  CHANGES/5554.bugfix
  tests/test_helpers.py
Due: changelog, tests

Add a noop checking job to GHA
  .github/workflows/ci.yml
Due: none

Add a no-op checking job to GHA (#6185)
  .github/workflows/ci.yml
Due: none

Fix tool/cleanup_changes.py script
  tools/cleanup_changes.py
Due: tools

Fix setup.cfg not to install "examples" top-level package
  CHANGES/6189.bugfix
  setup.cfg
Due: changelog

Fix setup.cfg not to install "examples" top-level package (#6189)
  CHANGES/6189.bugfix
  setup.cfg
Due: changelog

Bump async-timeout to >=4.0
  setup.cfg
Due: none

Add CHANGES
  CHANGES/6193.feature
Due: changelog

Drop backport workflow, use patchback instead
  .github/workflows/backport.yml
Due: none

Bump async-timeout to >=4.0 (#6193)
  CHANGES/6193.feature
  setup.cfg
Due: changelog

Add test case for too lax application/json prefix matching
  tests/test_helpers.py
Due: tests

Add test case for matching application/json with a charset
  tests/test_helpers.py
Due: tests

Fix too lax expected JSON content-type parsing
  CHANGES/6180.bugfix
  aiohttp/helpers.py
Due: library, changelog

Fix: fix the code about handling `getaddrinfo` when disable ipv6 in (#5906)
  CHANGES/5901.bugfix
  tests/test_resolver.py
Due: changelog, tests

Update pre-commit hooks
  .pre-commit-config.yaml
  aiohttp/client.py
  aiohttp/client_exceptions.py
  aiohttp/connector.py
  aiohttp/cookiejar.py
  aiohttp/helpers.py
  aiohttp/locks.py
  aiohttp/multipart.py
  aiohttp/payload.py
  aiohttp/streams.py
  aiohttp/tracing.py
  aiohttp/typedefs.py
  aiohttp/web.py
  aiohttp/web_app.py
  aiohttp/web_routedef.py
  aiohttp/worker.py
  tests/test_client_functional.py
  tests/test_helpers.py
  tests/test_http_parser.py
  tests/test_resolver.py
  tests/test_web_functional.py
Due: library, tests
