Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Revert to having params name as a tuple
  tests/test_client_functional.py
Due: tests

Test for ResourceWarning:unclosed transport
  tests/test_resource_warning.py
Due: tests

Implement `aiohttp.ClientResponse.ok` property (#4711)
  CHANGES/4711.feature
  CONTRIBUTORS.txt
  aiohttp/client_reqrep.py
  docs/client_reference.rst
  tests/test_client_functional.py
Due: library, changelog, docs, tests

flake fixes and CHANGES
  CHANGES/4713.misc
  tests/test_resource_warning.py
Due: changelog, tests

more flake fixes
  CHANGES/4713.misc
  tests/test_resource_warning.py
Due: changelog, tests

last flake fix
  tests/test_resource_warning.py
Due: tests

simplified testcase
  tests/test_resource_warning.py
Due: tests

removed loop
  tests/test_resource_warning.py
Due: tests

test changes
  setup.cfg
  tests/test_resource_warning.py
Due: tests

update testcase
  setup.cfg
  tests/test_resource_warning.py
Due: tests

context manager
  tests/test_resource_warning.py
Due: tests

using recwarn
  tests/test_resource_warning.py
Due: tests

small change
  tests/test_resource_warning.py
Due: tests

added a print
  tests/test_resource_warning.py
Due: tests

removed print again
  tests/test_resource_warning.py
Due: tests

used any
  tests/test_resource_warning.py
Due: tests

Update tests/test_resource_warning.py
  tests/test_resource_warning.py
Due: tests

Flake fixes
  tests/test_resource_warning.py
Due: tests

Update streams.py
  aiohttp/streams.py
Due: library

It seems I don't know the alphabet
  CONTRIBUTORS.txt
Due: docs

GunicornWebWorker subclasses can config AppRunner
  CHANGES/2988.feature
  aiohttp/worker.py
Due: library, changelog

fixed test
  tests/test_web_urldispatcher.py
Due: tests

issue4691 bugfix
  .github/ISSUE_TEMPLATE/config.yml
  CHANGES/4691.bugfix
  CONTRIBUTORS.txt
  aiohttp/web_urldispatcher.py
  tests/test_web_urldispatcher.py
  tools/check_changes.py
  tools/gen.py
Due: library, changelog, docs, tests, tools

fix gen.py check_changes.py config.yml
  .github/ISSUE_TEMPLATE/config.yml
  tools/check_changes.py
  tools/gen.py
Due: tools

add test to verify custom client impl is used
  tests/test_pytest_plugin.py
Due: tests

fix incorrect case: Host -> host
  docs/tracing_reference.rst
Due: docs

fix attribute name
  docs/tracing_reference.rst
Due: docs

add example of test-specific client implementations
  docs/testing.rst
  tests/test_pytest_plugin.py
Due: docs, tests

Introduce fixture for test client class redefinition
  CHANGES/4706.feature
  CONTRIBUTORS.txt
  aiohttp/pytest_plugin.py
  docs/testing.rst
  tests/test_pytest_plugin.py
Due: library, changelog, docs, tests

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
