Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Add new tests.
  tests/test_urldispatch.py
Due: tests

Update tests/test_http_parser.py
  tests/test_http_parser.py
Due: tests

Optimize _requote_path().
  aiohttp/web_urldispatcher.py
Due: library

Update http_request_lifecycle.rst
  docs/http_request_lifecycle.rst
Due: docs

Update README.rst
  README.rst
Due: docs

Fix minor typo in README.rst
  README.rst
Due: docs

Fix a few minor bugs/typos in http_request_lifecycle.rst
  docs/http_request_lifecycle.rst
Due: docs

Custom error message for Unix connect errors
  CHANGES/4984.bugfix
  CONTRIBUTORS.txt
  aiohttp/client_exceptions.py
  aiohttp/connector.py
  docs/client_reference.rst
Due: library, changelog, docs

Spelling: Change "canonize" to "canonicalize".
  CHANGES/4986.doc
  docs/client_quickstart.rst
Due: changelog, docs

Correct a spelling mistake in quickstart: "canonize"->"canonicalize"
  CHANGES/4986.doc
  docs/client_quickstart.rst
Due: changelog, docs

Set websocket writer compression to Z_BEST_SPEED
  CHANGES/2856.misc
  aiohttp/http_websocket.py
Due: library, changelog

Address review comments.
  aiohttp/web_urldispatcher.py
Due: library

Bump to 3.6.3
  CHANGES.rst
  aiohttp/__init__.py
  requirements/ci-wheel.txt
  setup.py
Due: library, configs, changelog, docs

Quick-fix build
  .azure-pipelines/stage-lint.yml
  requirements/ci-wheel.txt
Due: configs

Bump to 3.6.3
  CHANGES.rst
Due: changelog, docs

Bump to 3.6.3
  CHANGES.rst
  aiohttp/__init__.py
  setup.py
Due: library, changelog, docs

Resolves @webknjaz comment about not violating linters by type annotating before variable use.
  aiohttp/cookiejar.py
Due: library

Rewrites tests to use pytest.mark.parametrize as requested by @webknjaz
  tests/test_cookiejar.py
Due: tests

Applies @webknjaz suggestions on formatting
  aiohttp/cookiejar.py
  tests/test_cookiejar.py
Due: library, tests

Adds IDs on tests. Fixes broken input variable to test
  tests/test_cookiejar.py
Due: tests

Update docs/client_advanced.rst to use Sphinx roles for RFC
  docs/client_advanced.rst
Due: docs

Update docs/client_advanced.rst to use short-form
  docs/client_advanced.rst
Due: docs

Linting errors fixed
  tests/test_cookiejar.py
Due: tests

Fixes last linting error.
  tests/test_cookiejar.py
Due: tests

Setup backport action
  .github/workflows/autosquash.yml
  .github/workflows/backport.yml
Due: none

Disable autosquash
  .github/workflows/autosquash.yml
Due: none

Fix closing connection after HEAD request
  CHANGES/5012.bugfix
  CONTRIBUTORS.txt
  aiohttp/_http_parser.pyx
  aiohttp/http_parser.py
  tests/test_client_functional.py
Due: library, changelog, docs, tests

Setup dependabot
  .github/dependabot.yml
  .github/workflows/autosquash.yml
Due: none

Use generated tocken for backports
  .github/workflows/backport.yml
Due: none
