Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Run flake8.
  .github/workflows/ci.yml
Due: none

Switch to test.txt.
  setup.cfg
Due: none

Enable flake8
  .github/workflows/ci.yml
Due: none

Update conf.py
  docs/conf.py
Due: docs

Create 5935.misc
  CHANGES/5935.misc
Due: changelog

Update setup.cfg
  setup.cfg
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Cleanup setup.cfg
  setup.cfg
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update dev.txt
  requirements/dev.txt
Due: configs

Update lint.txt
  requirements/lint.txt
Due: configs

Update test_connector.py
  tests/test_connector.py
Due: tests

Cleanup setup.cfg (#5939)
  setup.cfg
Due: none

Clarify auth header destiny during the redirect
  docs/client_advanced.rst
  tests/test_client_functional.py
Due: docs, tests

Add a change note for PR #5850
  CHANGES/5850.doc
Due: changelog

Clarify auth header destiny during the redirect (#5850)
  CHANGES/5850.doc
  docs/client_advanced.rst
  tests/test_client_functional.py
Due: changelog, docs, tests

Feat: Add compression strategy
  CHANGES/5909.feature
  aiohttp/http_writer.py
  aiohttp/multipart.py
Due: library, changelog

Apply review comments
  CONTRIBUTORS.txt
  aiohttp/http_writer.py
Due: library, docs

Rename _check_string to _safe_header and remove validation for the status_line
  aiohttp/_http_writer.pyx
  aiohttp/http_writer.py
  tests/test_http_writer.py
Due: library, tests

Update aiohttp/http_writer.py
  aiohttp/http_writer.py
Due: library

Modify changelog message
  CHANGES/4818.feature
Due: changelog

Refactor headers join
  aiohttp/http_writer.py
Due: library

Refactor headers serialization back to the broken down version and add the second CRLF sign after the headers
  aiohttp/http_writer.py
Due: library

server: auto_decompress is optional
  aiohttp/_http_parser.pyx
  aiohttp/web_protocol.py
Due: library

document AppRunner auto_decompress parameter
  docs/web_reference.rst
Due: docs

test server's auto_decompress=False
  tests/test_web_functional.py
Due: tests

add CHANGES/5057.feature
  CHANGES/5957.feature
Due: changelog

tribute myself in CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: docs

Remove last remnants of attrs library.
  README.rst
  aiohttp/web_protocol.py
  docs/index.rst
Due: library, docs

Add change file.
  CHANGES/5806.misc
Due: changelog

Remove additional references.
  aiohttp/client.py
  tests/autobahn/Dockerfile.aiohttp
Due: library, tests

Fix import order.
  aiohttp/web_protocol.py
Due: library

Remove remaining attrs (#5960)
  CHANGES/5806.misc
  README.rst
  aiohttp/client.py
  aiohttp/web_protocol.py
  docs/index.rst
  tests/autobahn/Dockerfile.aiohttp
Due: library, changelog, docs, tests

Merge master.
  CHANGES/5806.misc
  README.rst
  aiohttp/client.py
  aiohttp/web_protocol.py
  docs/index.rst
Due: library, changelog, docs

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
