Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Fix type hint for tracing Signal sequence content (#3596)
  CHANGES/xxxx.bugfix
  aiohttp/tracing.py
  requirements/dev.txt
Due: library, configs, changelog

Fix CHANGELOG record number
  CHANGES/3595.bugfix
Due: changelog

Add pip-wheel-metadata to git ignore list
  .gitignore
Due: configs

doc: added create aio app to quick start section (#3602)
  docs/web_quickstart.rst
Due: docs

[3.5] Waiters refac (#3568) (#3586)
  aiohttp/streams.py
Due: library

Drop the processed task from all_tasks() list early (#3587)
  CHANGES/3587.bugfix
  aiohttp/web_protocol.py
Due: library, changelog

Fix uninialized attribute potential error
  aiohttp/web_protocol.py
Due: library

Replace find with wildcard to simplify installation on appveyor
  Makefile
Due: none

Update test_client_session.py
  tests/test_client_session.py
Due: tests

Update test_web_app.py
  tests/test_web_app.py
Due: tests

Post-fix for error introduced by 44318e4b (#3596)
  aiohttp/tracing.py
Due: library

Post-fix for error introduced by dc438ca2 (#3596)
  aiohttp/tracing.py
Due: library

Work on
  aiohttp/frozenlist.pyi
  aiohttp/signals.pyi
Due: library

Reorder imports according to the latest isort
  aiohttp/__init__.py
  aiohttp/_helpers.pyi
  aiohttp/frozenlist.pyi
  aiohttp/signals.pyi
Due: library

Enforce bytes in cythonized headers serialization
  aiohttp/_http_writer.pyx
Due: library

Cache pip data on appveyor
  .appveyor.yml
Due: configs

Drop meaningless failed tests
  tests/test_web_protocol.py
Due: tests

Cache pip data on appveyor (#3743)
  .appveyor.yml
Due: configs

Fix tests that don't throw `DeprecationWarning` (#3738)
  tests/test_client_session.py
  tests/test_web_app.py
Due: tests

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
