Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Update ci.yml
  .github/workflows/ci.yml
Due: none

Fix 3.9 CI (#6677)
  .github/workflows/ci.yml
Due: none

fix: CookieJar quote_cookie / unsafe args lost when input cookies to _request
  CHANGES/6682.bugfix
  CONTRIBUTORS.txt
  aiohttp/abc.py
  aiohttp/client.py
  aiohttp/cookiejar.py
Due: library, changelog, docs

[doc] clarify ClientTimeout behavior
  docs/client_reference.rst
Due: docs

Update docs/client_reference.rst
  docs/client_reference.rst
Due: docs

[doc] clarify ClientTimeout behavior (#6683)
  docs/client_reference.rst
Due: docs

Update curl.py
  examples/curl.py
Due: none

Update typing-extensions.txt
  requirements/typing-extensions.txt
Due: configs

Update constraints.txt
  requirements/constraints.txt
Due: configs

Update constraints.txt (#6687)
  requirements/constraints.txt
Due: configs

fix ClientResponseError docs
  aiohttp/client_exceptions.py
Due: library

add news fragment for ClientResponseError docs fix
  CHANGES/6700.doc
Due: changelog

fix ClientResponseError docstring (#6700)
  CHANGES/6700.doc
  aiohttp/client_exceptions.py
Due: library, changelog

Fix a bug in creating proxy connection of TCPConnector.
  CHANGES/6239.bugfix
  aiohttp/client_exceptions.py
  aiohttp/connector.py
Due: library, changelog

Stop using the cgi module, deprecated in Python 3.11 per PEP 594
  aiohttp/helpers.py
Due: library

Simplify creating params dict
  aiohttp/helpers.py
Due: library

Add experimental 3.11 test
  .github/workflows/ci.yml
Due: none

Add experimental 3.11 test (#6714)
  .github/workflows/ci.yml
Due: none

Add experimental 3.11 tests
  .github/workflows/ci.yml
Due: none
