Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

docs
  docs/web_quickstart.rst
Due: docs

Update CHANGES/7829.misc
  CHANGES/7829.misc
Due: changelog

tweak
  docs/web_reference.rst
Due: docs

fix link
  docs/web_reference.rst
Due: docs

Add classifiers for Python 3.11 and 3.12
  setup.cfg
Due: none

adjust tests
  tests/test_proxy_functional.py
Due: tests

vierfy the proxy is actually running and we can connect
  tests/test_proxy_functional.py
Due: tests

Update docs/web_quickstart.rst
  docs/web_quickstart.rst
Due: docs

legacy
  tests/test_proxy_functional.py
Due: tests

cond
  tests/test_proxy_functional.py
Due: tests

adjust workers
  tests/test_proxy_functional.py
Due: tests

try disabling verify
  tests/test_proxy_functional.py
Due: tests

debug logging
  tests/test_proxy_functional.py
Due: tests

debug
  tests/test_proxy_functional.py
Due: tests

fix lgoger
  tests/test_proxy_functional.py
Due: tests

fix lgoger
  .github/workflows/ci-cd.yml
  tests/test_proxy_functional.py
Due: tests

print log
  tests/test_proxy_functional.py
Due: tests

more info
  tests/test_proxy_functional.py
Due: tests

proxy seems to die on tls connect
  tests/test_proxy_functional.py
Due: tests

try rsa
  tests/conftest.py
  tests/test_proxy_functional.py
Due: tests

maybe the proxy is dying off?
  tests/test_proxy_functional.py
Due: tests

copy to both places so they do not miss it
  docs/web_quickstart.rst
Due: docs

copy to both places so they do not miss it
  docs/web_reference.rst
Due: docs

Release v3.9.0
  CHANGES.rst
  aiohttp/__init__.py
Due: library, changelog, docs

add
  CODE_OF_CONDUCT.md
Due: docs

Update CHANGES.rst
  CHANGES.rst
Due: changelog, docs

Release v3.9.0 (#7843)
  CHANGES.rst
  aiohttp/__init__.py
Due: library, changelog, docs

Bump to 3.9.0.dev0
  aiohttp/__init__.py
Due: library

Bump to 3.10.0.dev0
  aiohttp/__init__.py
Due: library

Test on Pypy 3.8 again
  .github/workflows/ci-cd.yml
Due: none
