Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Ascola/add handler type aliases (#5847) (#5861)
  CHANGES/4686.feature
  CONTRIBUTORS.txt
  aiohttp/typedefs.py
  aiohttp/web_app.py
  aiohttp/web_middlewares.py
  aiohttp/web_routedef.py
  aiohttp/web_urldispatcher.py
  examples/web_rewrite_headers_middleware.py
  tests/test_web_app.py
  tests/test_web_functional.py
  tests/test_web_log.py
  tests/test_web_middleware.py
Due: library, changelog, docs, tests

Use ThreadedChildWatcher in tests where available
  CHANGES/3450.bugfix
  aiohttp/test_utils.py
Due: library, changelog

Use multi loop child watcher when possible
  CONTRIBUTORS.txt
  aiohttp/test_utils.py
Due: library, docs

Use `MultiLoopChildWatcher` in tests where available
  CHANGES/3450.bugfix
  CONTRIBUTORS.txt
  aiohttp/test_utils.py
Due: library, changelog, docs

Change xtest command docs lexer
  docs/contributing.rst
Due: docs

Add experimental note to xtest command in docs
  docs/contributing.rst
Due: docs

Add --aiohttp-skip-watcher flag to disable subprocess tests
  aiohttp/pytest_plugin.py
  aiohttp/test_utils.py
  tests/conftest.py
  tests/test_loop.py
  tests/test_test_utils.py
Due: library, tests

Fix linter
  CHANGES/5865.feature
  aiohttp/pytest_plugin.py
Due: library, changelog

Fix mypy
  aiohttp/pytest_plugin.py
Due: library

Fix: fix the `ClientWebSocketResponse.receive` stuck for a long time if network is suddenly interrupted.
  CHANGES/2309.bugfix
  aiohttp/client_ws.py
  tests/test_client_ws_functional.py
Due: library, changelog, tests

Keep auth header during http->https redirect
  CHANGES/5783.feature
  aiohttp/client.py
  docs/client_advanced.rst
  tests/test_client_functional.py
Due: library, changelog, docs, tests

more clear naming
  tests/test_client_functional.py
Due: tests

more informative naming
  aiohttp/client.py
Due: library

fixes
  aiohttp/client.py
  docs/client_advanced.rst
  tests/test_client_functional.py
Due: library, docs, tests

Update docs/client_advanced.rst
  docs/client_advanced.rst
Due: docs

Update tests/test_client_functional.py
  tests/test_client_functional.py
Due: tests

Update CHANGES/5783.feature
  CHANGES/5783.feature
Due: changelog

fixes
  docs/client_advanced.rst
  tests/test_client_functional.py
Due: docs, tests

Simplify generator expression
  CHANGES/5870.misc
  CONTRIBUTORS.txt
  tools/gen.py
Due: changelog, docs, tools

Replace if statement with if expression
  CHANGES/5871.misc
  CONTRIBUTORS.txt
  tools/gen.py
Due: changelog, docs, tools

Switch to ThreadedChildWatcher and test
  aiohttp/test_utils.py
  tests/test_loop.py
Due: library, tests

Add to changes
  CHANGES/5877.bugfix
Due: changelog

Fix mypy
  tests/test_loop.py
Due: tests

Tear down test loop in thread
  tests/test_loop.py
Due: tests

Use iter_chunked to stream response content
  docs/client_quickstart.rst
Due: docs

Update built_with.rst
  docs/built_with.rst
Due: docs

Update built_with.rst (#5887)
  docs/built_with.rst
Due: docs

Update to Mypy 0.910.
  .mypy.ini
  requirements/dev.txt
  requirements/lint.in
  requirements/lint.txt
  requirements/test.txt
  tests/autobahn/client/client.py
  tests/autobahn/server/server.py
Due: configs, tests

Add change file.
  CHANGES/5890.misc
Due: changelog

Update to Mypy 0.910 (#5890)
  .mypy.ini
  CHANGES/5890.misc
  requirements/dev.txt
  requirements/lint.in
  requirements/lint.txt
  requirements/test.txt
  tests/autobahn/client/client.py
  tests/autobahn/server/server.py
Due: configs, changelog, tests

Revert exclude.
  .mypy.ini
Due: none

Merge master.
  .mypy.ini
  CHANGES/5890.misc
  requirements/dev.txt
  requirements/lint.in
  requirements/lint.txt
  requirements/test.txt
  tests/autobahn/client/client.py
  tests/autobahn/server/server.py
Due: configs, changelog, tests

Update to Mypy 0.910
  .mypy.ini
  CHANGES/5890.misc
  requirements/dev.txt
  requirements/lint.in
  requirements/lint.txt
  requirements/test.txt
  tests/autobahn/client/client.py
  tests/autobahn/server/server.py
Due: configs, changelog, tests
