Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

fix mypy
  aiohttp/pytest_plugin.py
Due: library

added support of tempfile as payload
  aiohttp/payload.py
  tests/test_client_request.py
Due: library, tests

imports
  aiohttp/payload.py
Due: library

one more assert
  tests/test_web_functional.py
Due: tests

Docs: Enhance discoverability of cleanup context.
  docs/web_reference.rst
Due: docs

Docs: Enhance discoverability of cleanup context. (#4467)
  docs/web_reference.rst
Due: docs

Raising RuntimeError when trying to get empty body encoding
  CHANGES/4214.bugfix
  CONTRIBUTORS.txt
  aiohttp/client_reqrep.py
  docs/client_reference.rst
  tests/test_client_response.py
Due: library, changelog, docs, tests

typo
  aiohttp/streams.py
Due: library

update contributors
  CONTRIBUTORS.txt
Due: docs

typo (#4479)
  CONTRIBUTORS.txt
  aiohttp/streams.py
Due: library, docs

[3.7] typo (#4479) (cherry picked from commit 0b7dd579)
  CONTRIBUTORS.txt
  aiohttp/streams.py
Due: library, docs

client: allow for json serializer function which returns bytes
  CHANGES/4482.feature
  CONTRIBUTORS.txt
  aiohttp/client_ws.py
  aiohttp/payload.py
  aiohttp/typedefs.py
  aiohttp/web_response.py
  aiohttp/web_ws.py
  tests/test_client_functional.py
Due: library, changelog, docs, tests

Changed error message. Explicit error message check.
  CONTRIBUTORS.txt
  aiohttp/client_reqrep.py
  docs/client_reference.rst
  tests/test_client_response.py
Due: library, docs, tests

Fixed too long line
  aiohttp/client_reqrep.py
Due: library

[3.7] typo (#4479) (#4480)
  CONTRIBUTORS.txt
  aiohttp/streams.py
Due: library, docs

Update year
  LICENSE.txt
  docs/conf.py
Due: docs

Running aiohttp server in clustered mode
  aiohttp/cluster.py
Due: library

Disable lockbot comments and add notes in the contribution docs
  .github/lock.yml
  docs/contributing.rst
Due: docs

Minor fix: PR is also locked
  docs/contributing.rst
Due: docs

Add changelog
  CHANGES/4504.doc
Due: changelog

Disable lockbot comments and add notes in the contribution docs (#4508)
  .github/lock.yml
  CHANGES/4504.doc
  docs/contributing.rst
Due: changelog, docs

Disable weak tests that fails on MacOS
  tests/test_proxy_functional.py
Due: tests

Raising RuntimeError when trying to get empty body encoding (#4481)
  CHANGES/4214.bugfix
  CONTRIBUTORS.txt
  aiohttp/client_reqrep.py
  docs/client_reference.rst
  tests/test_client_response.py
Due: library, changelog, docs, tests

[3.7] Raising RuntimeError when trying to get empty body encoding (#4481) (cherry picked from commit 63a0d104)
  CHANGES/4214.bugfix
  CONTRIBUTORS.txt
  aiohttp/client_reqrep.py
  docs/client_reference.rst
  tests/test_client_response.py
Due: library, changelog, docs, tests

Move selector_loop fixture to conftest.py
  aiohttp/pytest_plugin.py
  tests/conftest.py
Due: library, tests

Add CHANGELOG
  CHANGES/4513.feature
Due: changelog

Fix tests on Python 3.8.1
  tests/test_client_session.py
  tests/test_multipart.py
Due: tests

Fix python 3.8 tests under Windows (#4513)
  .azure-pipelines/deploy.yml
  .azure-pipelines/stage-test.yml
  CHANGES/4513.feature
  tests/conftest.py
  tests/test_client_session.py
  tests/test_connector.py
  tests/test_multipart.py
  tests/test_web_functional.py
  tests/test_web_runner.py
Due: changelog, tests
