Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Update mypy from 0.670 to 0.701
  requirements/ci.txt
Due: configs

Update sphinx from 1.8.4 to 2.0.1
  requirements/doc.txt
Due: configs

Update cherry_picker from 1.3.0 to 1.3.1
  requirements/dev.txt
Due: configs

Update sphinxcontrib-spelling from 4.2.0 to 4.2.1
  requirements/doc-spelling.txt
Due: configs

Document that ClientRequest.request et al.'s data parameter also accepts a list or tuple of lists or tuples of length two
  docs/client_reference.rst
Due: docs

fixed return type annotation for WSMessage.json()
  CONTRIBUTORS.txt
  aiohttp/http_websocket.py
Due: library, docs

add CHANGES/3720.bugfix
  CHANGES/3720.bugfix
Due: changelog

Fix ctrl+c on windows
  aiohttp/web.py
Due: library

Changelog+contributors
  CHANGES/3725.bugfix
  CONTRIBUTORS.txt
Due: changelog, docs

Add the missing `TestClient.scheme` property
  CHANGES/3721.bugfix
  CONTRIBUTORS.txt
  aiohttp/test_utils.py
  tests/test_test_utils.py
Due: library, changelog, docs, tests

Update coverage from 4.5.2 to 4.5.3
  requirements/ci-wheel.txt
Due: configs

Update cython from 0.29.6 to 0.29.7
  requirements/ci-wheel.txt
Due: configs

Update cython from 0.29.6 to 0.29.7
  requirements/cython.txt
Due: configs

Update cython from 0.29.6 to 0.29.7
  requirements/wheel.txt
Due: configs

Update pytest from 4.3.0 to 4.4.1
  requirements/ci-wheel.txt
Due: configs

Update pytest from 4.3.0 to 4.4.1
  requirements/wheel.txt
Due: configs

Update pytest-cov from 2.6.1 to 2.7.1
  requirements/ci-wheel.txt
Due: configs

Update pytest-mock from 1.10.1 to 1.10.4
  requirements/ci-wheel.txt
Due: configs

Update tox from 3.7.0 to 3.9.0
  requirements/ci-wheel.txt
Due: configs

Update trustme from 0.5.0 to 0.5.1
  requirements/ci-wheel.txt
Due: configs

Update uvloop from 0.12.1 to 0.12.2
  requirements/ci-wheel.txt
Due: configs

Update isort from 4.3.10 to 4.3.18
  requirements/flake.txt
Due: configs

fix issue #3644
  aiohttp/web_protocol.py
Due: library

Reflect bufix in changes.rst
  CHANGES/3644.bugfix
Due: changelog

Drop deprecated lowercase fields of WsMsgType
  aiohttp/http_websocket.py
  examples/server_simple.py
  tests/autobahn/client.py
  tests/autobahn/server.py
  tests/test_client_ws_functional.py
  tests/test_web_websocket_functional.py
  tests/test_websocket_parser.py
Due: library, tests

Add changelog
  CHANGES/2835.removal
Due: changelog

Fix issue #3644: PY38: web_protocol.RequestHandler mismatch _keepalive field with __slots__ (#3727)
  CHANGES/3644.bugfix
  aiohttp/web_protocol.py
Due: library, changelog

[3.5] Fix issue #3644: PY38: web_protocol.RequestHandler mismatch _keepalive field with __slots__ (#3727) (cherry picked from commit bfb99eb9)
  CHANGES/3644.bugfix
  aiohttp/web_protocol.py
Due: library, changelog

Add the missing `TestClient.scheme` property (#3721)
  CHANGES/3721.bugfix
  CONTRIBUTORS.txt
  aiohttp/test_utils.py
  tests/test_test_utils.py
Due: library, changelog, docs, tests

fixed return type annotation for WSMessage.json() (#3720)
  CHANGES/3720.bugfix
  CONTRIBUTORS.txt
  aiohttp/http_websocket.py
Due: library, changelog, docs

[3.5] fixed return type annotation for WSMessage.json() (#3720) (cherry picked from commit ad2c1872)
  CHANGES/3720.bugfix
  CONTRIBUTORS.txt
  aiohttp/http_websocket.py
Due: library, changelog, docs

[3.5] [3.5] Fix issue #3644: PY38: web_protocol.RequestHandler mismatch _keepalive field with __slots__ (#3727) (cherry picked from commit bfb99eb9)
  CHANGES/3644.bugfix
  aiohttp/web_protocol.py
Due: library, changelog

handle ConnectionResetError, closes #3648
  CHANGES/3648.bugfix
  aiohttp/web_protocol.py
  tests/test_web_protocol.py
Due: library, changelog, tests
