Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Quick fix: Ignore python internal deprecation warning
  setup.cfg
Due: none

Quick fix: Bump funcparserlib (#6001)
  requirements/doc.txt
Due: configs

Use python 3.9.6
  .github/workflows/ci.yml
Due: none

Update setup.cfg
  setup.cfg
Due: none

Simplify generator expression (#5870)
  CHANGES/5870.misc
  CONTRIBUTORS.txt
  tools/gen.py
Due: changelog, docs, tools

DNSCacheTable as a public class and TcpConnector with dns override
  aiohttp/connector.py
  tests/test_connector.py
Due: library, tests

Quick fix: Ignore python internal deprecation warning (#6004)
  setup.cfg
Due: none

fix(5925): suppress ValueError due to invalid datetime header
  CHANGES/5925.bugfix
  CONTRIBUTORS.txt
  aiohttp/web_request.py
  tests/test_web_request.py
Due: library, changelog, docs, tests

add `helpers.parse_http_date` and fix `ValueError` raised by `StreamResponse.last_modified` for invalid http date header
  CHANGES/5925.bugfix
  aiohttp/helpers.py
  aiohttp/web_request.py
  aiohttp/web_response.py
  tests/test_helpers.py
  tests/test_web_request.py
  tests/test_web_response.py
Due: library, changelog, tests

Fix CI
  setup.cfg
Due: none

Relax unstable test
  tests/test_web_middleware.py
Due: tests

Relax another unstable test
  tests/test_web_middleware.py
Due: tests

Fix
  setup.cfg
Due: none

Fix deprecation warnings
  requirements/dev.txt
  requirements/doc-spelling.txt
  setup.cfg
  tests/test_web_middleware.py
Due: configs, tests

Setup autoupdate for aiohttp 3.8 branch
  .github/dependabot.yml
Due: none

Update test_resolver.py
  tests/test_resolver.py
Due: tests

Update bench-asyncio-write.py
  tools/bench-asyncio-write.py
Due: tools

Update payload.py
  aiohttp/payload.py
Due: library

Fix double "abstract" in docs for access logger
  docs/abc.rst
Due: docs

Fix double "abstract" in docs for access logger (#6024)
  docs/abc.rst
Due: docs

Modify _drain_helper() to handle parallel calls of _send_frame() without race-condition.
  CHANGES/2934.bugfix
  CONTRIBUTORS.txt
  aiohttp/base_protocol.py
  tests/test_base_protocol.py
Due: library, changelog, docs, tests

Remove duplicate entries in dependabot config
  .github/dependabot.yml
Due: none

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
