Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Update aiohttp/helpers.py
  aiohttp/helpers.py
Due: library

Fix 3.8 dependencies
  requirements/cython.txt
  requirements/dev.txt
  requirements/doc-spelling.txt
  requirements/lint.in
  requirements/lint.txt
Due: configs

Fix 3.9 dependencies
  requirements/cython.txt
  requirements/dev.txt
  requirements/doc-spelling.txt
  requirements/lint.in
  requirements/lint.txt
Due: configs

Cleanup dependencies
  .pre-commit-config.yaml
  Makefile
  requirements/base.txt
  requirements/cython.in
  requirements/cython.txt
  requirements/dev.in
  requirements/dev.txt
  requirements/doc-spelling.txt
  requirements/lint.in
  requirements/lint.txt
  requirements/multidict.txt
  requirements/test.txt
Due: configs

Don't run pip-compile on pre-commit.com
  .pre-commit-config.yaml
Due: none

Less aggressive dependencies cleanup
  Makefile
  requirements/cython.txt
  requirements/dev.in
  requirements/dev.txt
  requirements/doc-spelling.txt
  requirements/lint.txt
Due: configs

Regenerate requirements
  Makefile
  requirements/cython.txt
  requirements/dev.txt
  requirements/doc-spelling.txt
  requirements/lint.in
  requirements/lint.txt
Due: configs

Add isort to spelling whitelist
  docs/spelling_wordlist.txt
Due: docs

Add chardet to spelling whitelist
  docs/spelling_wordlist.txt
Due: docs

Try constraints
  .github/workflows/ci.yml
  .github/workflows/post-dependabot.yml
  Makefile
  requirements/constraints.in
  requirements/constraints.txt
  requirements/cython.in
  requirements/cython.txt
  requirements/dev.in
  requirements/dev.txt
  requirements/doc-spelling.in
  requirements/doc-spelling.txt
  requirements/lint.in
  requirements/lint.txt
  requirements/test.txt
Due: configs

Update pre-commit config
  .pre-commit-config.yaml
Due: none

Update constraints
  requirements/constraints.txt
Due: configs

Bump cryptography
  requirements/test.txt
Due: configs

Refactor
  .github/workflows/ci.yml
  .github/workflows/post-dependabot.yml
Due: none

Requirements cleanup (#6238)
  .github/workflows/ci.yml
  .github/workflows/post-dependabot.yml
  .pre-commit-config.yaml
  Makefile
  requirements/constraints.in
  requirements/constraints.txt
  requirements/cython.in
  requirements/cython.txt
  requirements/dev.in
  requirements/dev.txt
  requirements/doc-spelling.in
  requirements/doc-spelling.txt
  requirements/lint.in
  requirements/lint.txt
  requirements/test.txt
Due: configs

Requirements cleanup (#6238)
  .github/workflows/ci.yml
  .github/workflows/post-dependabot.yml
  .pre-commit-config.yaml
  Makefile
  requirements/constraints.in
  requirements/constraints.txt
  requirements/cython.in
  requirements/cython.txt
  requirements/dev.txt
  requirements/doc-spelling.in
  requirements/doc-spelling.txt
  requirements/lint.in
  requirements/lint.txt
  requirements/test.txt
Due: configs

Fix dependencies
  requirements/constraints.txt
  requirements/dev.in
  requirements/test.txt
Due: configs

Fix dependencies
  requirements/constraints.txt
  requirements/test.txt
Due: configs

Use constraints in Makefile
  Makefile
Due: none
