Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

backport autobahn test fixes (cherry picked from commit 6fb3efc4b5dd971e3f0e1080435fead757f15eaa)
  CONTRIBUTORS.txt
Due: docs

add test, typedef and session implementation
  aiohttp/client.py
  aiohttp/typedefs.py
  tests/test_client_session.py
Due: library, tests

Abort the transport for all connections if enable_cleanup_closed is true
  CHANGES/5406.bugfix
  CONTRIBUTORS.txt
  aiohttp/connector.py
  tests/test_client_session.py
  tests/test_connector.py
Due: library, changelog, docs, tests

Allow keep-alive with proxy for message with appropriate header
  aiohttp/connector.py
Due: library

Add changenotes
  CHANGES/5765.feature
Due: changelog

Feat: Introduce issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Fix broken references in `docs/new_router.rst` (#5743)
  docs/new_router.rst
Due: docs

Fix broken references in `docs/multipart.rst` (#5750)
  docs/conf.py
  docs/multipart.rst
Due: docs

Fix broken refs
  docs/whats_new_1_1.rst
Due: docs

Fix broken reference in `docs/web_exceptions.rst` (#5751)
  docs/web_exceptions.rst
Due: docs

Fix broken references
  docs/web_advanced.rst
Due: docs

Add references to ignore
  docs/conf.py
Due: docs

Add a tilde when rendering `RequestHandler`
  docs/web_advanced.rst
Due: docs

Drop an unnecessary colon
  docs/whats_new_1_1.rst
Due: docs

Fix broken references in `docs/whats_new_1_1.rst` (#5741)
  docs/whats_new_1_1.rst
Due: docs

Fix broken references in `docs/web_advanced.rst` (#5714)
  docs/conf.py
  docs/web_advanced.rst
Due: docs

Fix reference
  docs/web_reference.rst
Due: docs

Add `~`
  docs/web_reference.rst
Due: docs

Fix broken references in `docs/web_reference.rst` (#5711)
  docs/conf.py
  docs/web_reference.rst
Due: docs

[Backport 3.8] Fix broken references in `docs/web_reference.rst` (#5711) (#5772)
  docs/conf.py
  docs/web_reference.rst
Due: docs

Fix broken reference in `docs/faq.rst` (#5742)
  docs/conf.py
Due: docs

Enable Nitpicky mode in sphinx docs
  docs/conf.py
Due: docs

Enable Nitpicky mode in Sphinx docs (#5774)
  docs/conf.py
Due: docs
