Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Disallow untyped defs in tests
  .mypy.ini
Due: none

Create 5829.misc
  CHANGES/5829.misc
Due: changelog

Disallow untyped defs in tests (#5829)
  .mypy.ini
  CHANGES/5829.misc
Due: changelog

Update aiohttp/web_protocol.py
  aiohttp/web_protocol.py
Due: library

Updated the docs to reflect need of decoding filename issue #4012
  docs/client_quickstart.rst
Due: docs

Create 5831.doc
  CHANGES/5831.doc
Due: changelog

Update CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: docs

Fix(doc): ClientResponse.release should be a instance method, not a coroutine in the doc
  CHANGES/5836.doc
  docs/client_reference.rst
Due: changelog, docs

add changes file
  CHANGES/5571.feature
Due: changelog

Add treat_as_secure_origin init parameter to CookieJar
  aiohttp/cookiejar.py
  tests/test_cookiejar.py
Due: library, tests

Update docs
  docs/client_reference.rst
  docs/testing.rst
Due: docs

Support single values as treat_as_secure_origin not only lists
  aiohttp/cookiejar.py
  docs/client_reference.rst
  docs/testing.rst
  tests/test_cookiejar.py
Due: library, docs, tests

remove loop param from CookieJar init from docs
  docs/client_reference.rst
Due: docs

Fix(doc): ClientResponse.release should be a instance method, not a coroutine in the doc (#5835)
  CHANGES/5836.doc
  docs/client_reference.rst
Due: changelog, docs

Fix 5840
  tests/test_formdata.py
Due: tests

Add changes file
  CHANGES/5840.bugfix
Due: changelog

Add handler type alias
  aiohttp/typedefs.py
Due: library

Use the handle type alias
  aiohttp/web_app.py
  aiohttp/web_middlewares.py
  aiohttp/web_routedef.py
  aiohttp/web_urldispatcher.py
Due: library

Update the changelog with the handler type alias
  CHANGES/4686.feature
Due: changelog

Add Austin Scola to contributors text file
  CONTRIBUTORS.txt
Due: docs

Add usages of the handler type alias in tests
  tests/test_web_app.py
  tests/test_web_functional.py
  tests/test_web_log.py
  tests/test_web_middleware.py
Due: tests

Add usage of the handler type alias in an example
  examples/web_rewrite_headers_middleware.py
Due: none

Move import before declarations
  aiohttp/web_app.py
Due: library

Add pytest-xdist test dependency
  requirements/dev.txt
  requirements/test.txt
Due: configs

Add xtest Makefile target
  Makefile
Due: none

Update docs with parallel test command
  docs/contributing.rst
Due: docs

Add to the changlog the parallel testing command
  CHANGES/5849.doc
  CHANGES/5849.feature
Due: changelog

Don't cancel tasks when entering a timer context
  aiohttp/helpers.py
Due: library

Update test_helpers.py
  tests/test_helpers.py
Due: tests

Create 5853.bugfix
  CHANGES/5853.bugfix
Due: changelog

Ascola/add handler type aliases (#5847)
  CHANGES/4686.feature
  CONTRIBUTORS.txt
  aiohttp/typedefs.py
  aiohttp/web_app.py
  aiohttp/web_middlewares.py
  aiohttp/web_routedef.py
  aiohttp/web_urldispatcher.py
  examples/web_rewrite_headers_middleware.py
  tests/test_web_app.py
  tests/test_web_functional.py
  tests/test_web_log.py
  tests/test_web_middleware.py
Due: library, changelog, docs, tests

Yield to event loop while reading.
  aiohttp/streams.py
  tests/test_client_functional.py
Due: library, tests

Fix middleware example types
  examples/web_rewrite_headers_middleware.py
Due: none

Fix middleware example return type
  examples/web_rewrite_headers_middleware.py
Due: none

Ascola/add handler type aliases (#5847) (#5861)
  CHANGES/4686.feature
  CONTRIBUTORS.txt
  aiohttp/typedefs.py
  aiohttp/web_app.py
  aiohttp/web_middlewares.py
  aiohttp/web_routedef.py
  aiohttp/web_urldispatcher.py
  examples/web_rewrite_headers_middleware.py
  tests/test_web_app.py
  tests/test_web_functional.py
  tests/test_web_log.py
  tests/test_web_middleware.py
Due: library, changelog, docs, tests

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
