Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

CookieJar - return 'best-match' and not LIFO (#7577) (#7587)
  CHANGES/7577.bugfix
  CONTRIBUTORS.txt
  aiohttp/cookiejar.py
  tests/test_cookiejar.py
Due: library, changelog, docs, tests

CookieJar - return 'best-match' and not LIFO (#7577) (#7588)
  CHANGES/7577.bugfix
  CONTRIBUTORS.txt
  aiohttp/cookiejar.py
  tests/test_cookiejar.py
Due: library, changelog, docs, tests

Remove chardet/charset-normalizer. Add fallback_charset_resolver ClientSession parameter. (#7561)
  CHANGES/7561.feature
  CONTRIBUTORS.txt
  aiohttp/client.py
  aiohttp/client_reqrep.py
  docs/client_advanced.rst
  docs/client_reference.rst
  docs/index.rst
  tests/test_client_response.py
Due: library, changelog, docs, tests

Nit-picky reformat lambda to be more readable.
  aiohttp/client.py
Due: library

Update client_advanced.rst
  docs/client_advanced.rst
Due: docs

Emit deprecation warning.
  aiohttp/client.py
Due: library

Update aiohttp/client.py
  aiohttp/client.py
Due: library

docs
  docs/client_advanced.rst
  docs/client_reference.rst
Due: docs

Update client.py
  aiohttp/client.py
Due: library

Update client_reference.rst
  docs/client_reference.rst
Due: docs

Ignore warning
  setup.cfg
Due: none

Remove chardet/charset-normalizer. (#7589)
  CHANGES/7561.feature
  CONTRIBUTORS.txt
  aiohttp/client.py
  aiohttp/client_reqrep.py
  docs/client_advanced.rst
  docs/client_reference.rst
  docs/index.rst
  setup.cfg
  tests/test_client_response.py
Due: library, changelog, docs, tests

Use mock resolver in SSL test
  tests/test_connector.py
Due: tests

Strip trailing dot from FQDNs in Host and TLS context
  CHANGES/3636.bugfix
  CONTRIBUTORS.txt
  aiohttp/client_reqrep.py
  aiohttp/connector.py
  tests/conftest.py
  tests/test_client_request.py
  tests/test_connector.py
Due: library, changelog, docs, tests

Fixing issue #7072
  CHANGES/7072.bugfix
  CONTRIBUTORS.txt
  aiohttp/connector.py
Due: library, changelog, docs

Support brotlicffi alternatively to brotli
  .mypy.ini
  CHANGES/7611.feature
  aiohttp/compression_utils.py
  docs/client_quickstart.rst
  docs/glossary.rst
  docs/index.rst
  docs/spelling_wordlist.txt
  requirements/runtime-deps.in
  setup.cfg
  tests/test_http_parser.py
  tests/test_web_functional.py
Due: library, configs, changelog, docs, tests

Resolve last 3.12 issues
  .github/workflows/ci-cd.yml
  CHANGES/7612.misc
  setup.cfg
Due: changelog

Revert "Remove experimental mark from 3.12 (ubuntu) config [ci]"
  .github/workflows/ci-cd.yml
Due: none

Update setup.cfg
  setup.cfg
Due: none

Delete CHANGES/7612.misc
  CHANGES/7612.misc
Due: changelog

Resolve last 3.12 issues (#7612)
  setup.cfg
Due: none

Support brotlicffi alternatively to brotli (#7611)
  .mypy.ini
  CHANGES/7611.feature
  aiohttp/compression_utils.py
  docs/client_quickstart.rst
  docs/glossary.rst
  docs/index.rst
  docs/spelling_wordlist.txt
  requirements/runtime-deps.in
  setup.cfg
  tests/test_http_parser.py
  tests/test_web_functional.py
Due: library, configs, changelog, docs, tests

[3.9] Support brotlicffi alternatively to brotli (#7611) (#7620)
  .mypy.ini
  CHANGES/7611.feature
  aiohttp/compression_utils.py
  docs/client_quickstart.rst
  docs/glossary.rst
  docs/index.rst
  docs/spelling_wordlist.txt
  requirements/runtime-deps.in
  setup.cfg
  tests/test_http_parser.py
  tests/test_web_functional.py
Due: library, configs, changelog, docs, tests

Add test for #7599
  tests/test_client_functional.py
Due: tests

Add entry to changes
  CHANGES/7599.misc
Due: changelog

Delete CHANGES/7599.misc
  CHANGES/7599.misc
Due: changelog

Update tests/test_client_functional.py
  tests/test_client_functional.py
Due: tests

Update test_client_functional.py
  tests/test_client_functional.py
Due: tests

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
