Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Fix warnings
  aiohttp/client.py
  aiohttp/web_urldispatcher.py
Due: library

[3.6] Bump mypy to 0.720 (#4044). (#4045)
  aiohttp/client.py
  aiohttp/client_reqrep.py
  aiohttp/connector.py
  aiohttp/cookiejar.py
  aiohttp/helpers.py
  aiohttp/http_websocket.py
  aiohttp/web_log.py
  aiohttp/web_response.py
  aiohttp/web_runner.py
  aiohttp/web_urldispatcher.py
  requirements/ci.txt
Due: library, configs

implement response check (#3892)
  CHANGES/3892.feature
  aiohttp/client.py
  docs/client_reference.rst
  tests/test_client_functional.py
Due: library, changelog, docs, tests

Update raise_for_status documentation
  docs/client_reference.rst
Due: docs

Update docs/client_reference.rst
  docs/client_reference.rst
Due: docs

Apply suggestions from code review
  docs/client_reference.rst
Due: docs

Emit warning when there's no ssl.OP_NO_COMPRESSION
  aiohttp/connector.py
  pytest.ci.ini
  pytest.ini
Due: library

Add a change note about PR #4052
  CHANGES/4052.bugfix
Due: changelog

Extend test cyphers list to cover py3.5 @ macOS
  tests/test_worker.py
Due: tests

Mark test_handle_uncompleted_pipe as xfail
  tests/test_web_protocol.py
Due: tests

Port the install from python.org Travis speedup
  .travis.yml
Due: configs

Replace PyPI creds with API token in Travis CI
  .travis.yml
Due: configs

Use PyPI access token in AppVeyor
  .appveyor.yml
Due: configs

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
