Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Fix accidentaly skipped test
  tests/test_web_log.py
Due: tests

Make tests not to fail in debug mode (#3988)
  tests/test_web_server.py
Due: tests

Fixes #3852 - aiohttp.test_utils.TestClient should return a _RequestContextManager
  aiohttp/test_utils.py
Due: library

Add news fragment and update CONTRIBUTORS.txt
  CHANGES/3852.bugfix
  CONTRIBUTORS.txt
Due: changelog, docs

Document web.FileResponse
  CHANGES/3958.doc
  docs/web_reference.rst
Due: changelog, docs

revert name corrections
  tests/test_client_functional.py
Due: tests

fix types, add request tests
  aiohttp/client.py
  tests/test_client_functional.py
Due: library, tests

change and docs
  CHANGES/3892.feature
  docs/client_reference.rst
Due: changelog, docs

correct names in tests
  tests/test_client_functional.py
Due: tests

add change
  CHANGES/3994.misc
Due: changelog

undo unnecessary change
  tests/test_client_functional.py
Due: tests

Bump to 3.6.0a2
  aiohttp/__init__.py
Due: library

correct names in tests (#3994)
  CHANGES/3994.misc
  tests/test_client_functional.py
Due: changelog, tests

Install libssh-devel before installing test dependencies
  tools/build-wheels.sh
Due: tools

Bump to 3.6.0a3
  aiohttp/__init__.py
Due: library

Document `web.FileResponse`
  CHANGES/3958.doc
  docs/web_reference.rst
Due: changelog, docs

No Extensions
  setup.py
Due: none

Test Fix
  aiohttp/web_app.py
Due: library

Bump to aiohttp 3.6.0a4
  .travis.yml
  aiohttp/__init__.py
Due: library, configs

Bump to aiohttp 3.6.0a5
  .travis.yml
  aiohttp/__init__.py
Due: library, configs

Bump to aiohttp 3.6.0a6
  aiohttp/__init__.py
  tools/build-wheels.sh
Due: library, tools

add vk.py to third-party
  docs/third_party.rst
Due: docs

Added vk.py to third-party libraries (#3995)
  docs/third_party.rst
Due: docs

Bump to aiohttp 3.6.0a7
  .travis.yml
  aiohttp/__init__.py
  tools/build-wheels.sh
Due: library, configs, tools

Bump to aiohttp 3.6.0a8
  aiohttp/__init__.py
  tools/build-wheels.sh
Due: library, tools

Make Unix socket writable for other user (says, Nginx)
  aiohttp/web_runner.py
Due: library

Add my PR to CHANGES
  CHANGES/4002.bugfix
  CONTRIBUTORS.txt
  aiohttp/web_runner.py
Due: library, changelog, docs
