Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Readd pypy to tests
  .github/workflows/ci.yml
Due: none

Add experimental 3.11 tests (#6715)
  .github/workflows/ci.yml
Due: none

Create 6708.misc
  CHANGES/6708.misc
Due: changelog

Stop using the cgi module, deprecated in Python 3.11 per PEP 594 (#6708)
  CHANGES/6708.misc
  aiohttp/helpers.py
Due: library, changelog

Fix issue probably-meant-fstring found at https://codereview.doctor
  aiohttp/client_reqrep.py
Due: library

Fix issue probably-meant-fstring found at https://codereview.doctor (#6718)
  aiohttp/client_reqrep.py
Due: library

Create new exception relevant for invalid redirect url, update tests
  aiohttp/client_exceptions.py
  tests/test_client_exceptions.py
Due: library, tests

Use InvalidRedirectUrl exception when redirect url is invalid
  aiohttp/__init__.py
  aiohttp/client.py
Due: library

update docs
  docs/client_reference.rst
Due: docs

Update wrong return type
  aiohttp/client_exceptions.py
Due: library

Add myself to contributors list
  CONTRIBUTORS.txt
Due: docs

#2304 add max_line_site, max_headers and max_field_size arguments to ClientSession
  CHANGES/2304.feature
  aiohttp/client.py
  aiohttp/client_proto.py
  docs/client_reference.rst
  tests/test_client_functional.py
Due: library, changelog, docs, tests

Improve client test coverage
  tests/test_client_functional.py
Due: tests

Add changes file
  CHANGES/6722.feature
Due: changelog

remove unused max_headers (#6721)
  aiohttp/http_parser.py
  aiohttp/web_protocol.py
  docs/web_reference.rst
  tests/test_http_parser.py
Due: library, docs, tests

Add change description
  CHANGES/6721.bugfix
Due: changelog

Use parametrize in tests, few more invalid url test cases
  tests/test_client_functional.py
Due: tests

Remove body from response
  tests/test_client_functional.py
Due: tests

fix InvalidURL description, more direct init approach
  aiohttp/client_exceptions.py
Due: library

Ignore Any returns, update types
  aiohttp/client_exceptions.py
Due: library

Update and rename 6721.bugfix to 6721.misc
  CHANGES/6721.misc
Due: changelog

Update url type to StrOrURL.
  aiohttp/client_exceptions.py
Due: library

Fix asyncio.CancelledError again (#6719)
  CHANGES/6719.bugfix
  aiohttp/web_protocol.py
Due: library, changelog

implement response check (#3892)
  CHANGES/3892.feature
  aiohttp/client.py
  docs/client_reference.rst
  tests/test_client_functional.py
Due: library, changelog, docs, tests

remove noqa
  aiohttp/client.py
Due: library

Patchback/backports/3.9/e5beaca052434cbf1c1814170917085eb271ba43/pr 3892 implement response check (#6731)
  CHANGES/3892.feature
  aiohttp/client.py
  docs/client_reference.rst
  tests/test_client_functional.py
Due: library, changelog, docs, tests

Patchback/backports/3.9/37c5f07cbae6a9c12ab237405d2e423ab6c6b071/pr 3892 implement response check (#6731)
  CHANGES/3892.feature
  aiohttp/client.py
  docs/client_reference.rst
  tests/test_client_functional.py
Due: library, changelog, docs, tests

Powered By: Remove Morpheus messaging microservice
  docs/powered_by.rst
Due: docs

Stop using the cgi module, deprecated in Python 3.11 per PEP 594 (#6708) (#6734)
  CHANGES/6708.misc
  aiohttp/helpers.py
Due: library, changelog

Powered By: Remove Morpheus messaging microservice (#6733)
  docs/powered_by.rst
Due: docs

Update 6719.bugfix
  CHANGES/6719.bugfix
Due: changelog

Fix asyncio.CancelledError again (#6719) (#6727)
  CHANGES/6719.bugfix
  aiohttp/web_protocol.py
Due: library, changelog
