Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Fix spelling
  CHANGES/3828.feature
Due: changelog

Fix sdist build instructions
  .github/workflows/ci.yml
Due: none

Fix bdist build
  pyproject.toml
Due: configs

Bump to 3.8.0a1
  aiohttp/__init__.py
Due: library

Add ids
  tests/test_http_parser.py
Due: tests

Checkout with submodules for deploying
  .github/workflows/ci.yml
Due: none

Fix URL building
  aiohttp/_http_parser.pyx
Due: library

No built wheels test; test dependency building is too complicated
  pyproject.toml
Due: configs

Bump to 3.8.0a3
  aiohttp/__init__.py
Due: library

http-parser -> llhttp (#6144)
  .github/workflows/ci.yml
  .gitignore
  .gitmodules
  CHANGES/3561.feature
  Makefile
  aiohttp/_cparser.pxd
  aiohttp/_http_parser.pyx
  setup.py
  tests/test_http_parser.py
Due: library, configs, changelog, tests

Drop tests timeout
  .github/workflows/ci.yml
Due: none

Bump llhttp version to 6.0.6
  .gitmodules
Due: configs

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
