Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Recompile dependencies
  requirements/constraints.txt
Due: configs

Add flake8-docstrings, fix bunch of flagged issues (#6276)
  .pre-commit-config.yaml
  CHANGES/6276.doc
  aiohttp/client.py
  aiohttp/client_exceptions.py
  aiohttp/connector.py
  aiohttp/formdata.py
  aiohttp/helpers.py
  aiohttp/http_parser.py
  aiohttp/locks.py
  aiohttp/multipart.py
  aiohttp/pytest_plugin.py
  aiohttp/resolver.py
  aiohttp/streams.py
  aiohttp/test_utils.py
  aiohttp/tracing.py
  aiohttp/web_middlewares.py
  aiohttp/web_protocol.py
  aiohttp/web_request.py
  aiohttp/web_urldispatcher.py
  docs/spelling_wordlist.txt
  examples/web_classview.py
  examples/web_cookies.py
  examples/web_rewrite_headers_middleware.py
  examples/web_srv.py
  examples/web_srv_route_deco.py
  examples/web_srv_route_table.py
  examples/web_ws.py
  setup.cfg
  tests/test___all__.py
  tests/test_http_parser.py
Due: library, changelog, docs, tests

Add flake8-docstrings, fix bunch of flagged issues (#6276)
  .pre-commit-config.yaml
  CHANGES/6276.doc
  aiohttp/client.py
  aiohttp/client_exceptions.py
  aiohttp/connector.py
  aiohttp/formdata.py
  aiohttp/helpers.py
  aiohttp/http_parser.py
  aiohttp/locks.py
  aiohttp/multipart.py
  aiohttp/payload_streamer.py
  aiohttp/pytest_plugin.py
  aiohttp/resolver.py
  aiohttp/streams.py
  aiohttp/test_utils.py
  aiohttp/tracing.py
  aiohttp/web_middlewares.py
  aiohttp/web_protocol.py
  aiohttp/web_request.py
  aiohttp/web_response.py
  aiohttp/web_urldispatcher.py
  docs/spelling_wordlist.txt
  examples/web_classview.py
  examples/web_cookies.py
  examples/web_rewrite_headers_middleware.py
  examples/web_srv.py
  examples/web_srv_route_deco.py
  examples/web_srv_route_table.py
  examples/web_ws.py
  setup.cfg
  tests/conftest.py
  tests/test___all__.py
  tests/test_http_parser.py
  tests/test_web_exceptions.py
  tests/test_web_urldispatcher.py
Due: library, changelog, docs, tests

Improve documentation for running complex applications (#6278)
  CHANGES/6278.doc
  docs/web_advanced.rst
  docs/web_reference.rst
Due: changelog, docs

Extend spelling whitelist
  docs/spelling_wordlist.txt
Due: docs

Clarify tiny timeouts behavior and how it can affect performance (#6274)
  CHANGES/6274.doc.rst
  docs/client_reference.rst
  docs/spelling_wordlist.txt
Due: changelog, docs

Sort spelling whitelist alphabetically
  docs/spelling_wordlist.txt
Due: docs

Add test
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, tests

Add CHANGES
  CHANGES/6305.bugfix
Due: changelog

Made chunked encoding HTTP header check stricter (#6305)
  CHANGES/6305.bugfix
  aiohttp/http_parser.py
  tests/test_http_parser.py
Due: library, changelog, tests

Restored ability to connect IPv6-only host.
  CHANGES/6195.bugfix
  aiohttp/resolver.py
Due: library, changelog

Fix type hints
  aiohttp/resolver.py
Due: library

Fix tests
  aiohttp/resolver.py
Due: library

Fix resolver mock settings
  aiohttp/resolver.py
  tests/test_resolver.py
Due: library, tests

Fix comment
  aiohttp/resolver.py
Due: library

Restored ability to connect IPv6-only host. (#6309)
  CHANGES/6195.bugfix
  aiohttp/resolver.py
  tests/test_resolver.py
Due: library, changelog, tests
