Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Drop deprecated lowercase fields of WsMsgType (#3728)
  CHANGES/2835.removal
  aiohttp/http_websocket.py
  examples/server_simple.py
  tests/autobahn/client.py
  tests/autobahn/server.py
  tests/test_client_ws_functional.py
  tests/test_web_websocket_functional.py
  tests/test_websocket_parser.py
Due: library, changelog, tests

Mark myself as a tox.ini reviewer
  .github/CODEOWNERS
Due: none

Fixed annotation
  aiohttp/connector.py
Due: library

Add to contributor
  CONTRIBUTORS.txt
Due: docs

handle ConnectionResetError, closes #3648 (#3699)
  CHANGES/3648.bugfix
  aiohttp/web_protocol.py
  tests/test_web_protocol.py
Due: library, changelog, tests

[3.5] handle ConnectionResetError, closes #3648 (#3699). (cherry picked from commit 7846174d630574da569fcb159c3142cef2d7caf1)
  CHANGES/3648.bugfix
  aiohttp/web_protocol.py
  tests/test_web_protocol.py
Due: library, changelog, tests

Fixed annotation for local_addr in TCPConnector.__init__ (#3732)
  CONTRIBUTORS.txt
  aiohttp/connector.py
Due: library, docs

[3.5] Fixed annotation for local_addr in TCPConnector.__init__ (#3732) (cherry picked from commit db801714)
  CONTRIBUTORS.txt
  aiohttp/connector.py
Due: library, docs

drop test test_aiohttp_request_ctx_manager_not_found
  tests/test_client_functional.py
Due: tests

Fix tests that don't throw DeprecationWarning
  tests/test_client_session.py
  tests/test_web_app.py
Due: tests

[3.5] Fixed annotation for local_addr in TCPConnector.__init__ (#3732) (#3735)
  CONTRIBUTORS.txt
  aiohttp/connector.py
Due: library, docs

Fix typo in testing docs
  docs/testing.rst
Due: docs

Fix typo in testing docs (#3740)
  docs/testing.rst
Due: docs

drop test test_aiohttp_request_ctx_manager_not_found (#3737)
  tests/test_client_functional.py
Due: tests

[3.5] handle ConnectionResetError, closes #3648 (#3699). (#3734)
  CHANGES/3648.bugfix
  aiohttp/web_protocol.py
  tests/test_web_protocol.py
Due: library, changelog, tests

[3.5] [3.5] Fix issue #3644: PY38: web_protocol.RequestHandler mismatch _keepalive field with __slots__ (#3727) (#3731)
  CHANGES/3644.bugfix
  aiohttp/web_protocol.py
Due: library, changelog

[3.5] fixed return type annotation for WSMessage.json() (#3720) (#3730)
  CHANGES/3720.bugfix
  CONTRIBUTORS.txt
  aiohttp/http_websocket.py
Due: library, changelog, docs

[3.5] Fix redirects with changing cookie values (#3576) (#3626)
  CHANGES/3576.bugfix
  CONTRIBUTORS.txt
  aiohttp/client.py
  tests/test_client_functional.py
Due: library, changelog, docs, tests

Drop cython everywhere but makefile
  .appveyor.yml
  .travis.yml
  requirements/ci-wheel.txt
  requirements/wheel.txt
Due: configs

Update tracing.py
  aiohttp/tracing.py
Due: library

Fix type hint for tracing Signal sequence content (#3596)
  CHANGES/xxxx.bugfix
  aiohttp/tracing.py
  requirements/dev.txt
Due: library, configs, changelog

Fix CHANGELOG record number
  CHANGES/3595.bugfix
Due: changelog

Add pip-wheel-metadata to git ignore list
  .gitignore
Due: configs
