Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

cleanup + fix test
  aiohttp/web_middlewares.py
  tests/test_web_functional.py
  tests/test_web_middleware.py
Due: library, tests

Improve stability of manylinux1 build script
  tools/build-wheels.sh
Due: tools

Ignore pip-wheel-metadata
  .gitignore
Due: configs

Add build deps to Makefile
  Makefile
Due: none

Fix overshadowing of overlapped subapp prefixes (#3701).
  CHANGES/3701.bugfix
  CONTRIBUTORS.txt
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
Due: library, changelog, docs, tests

Update coverage from 4.5.2 to 4.5.3
  requirements/ci-wheel.txt
Due: configs

Update cython from 0.29.6 to 0.29.7
  requirements/ci-wheel.txt
Due: configs

Update cython from 0.29.6 to 0.29.7
  requirements/cython.txt
Due: configs

Update cython from 0.29.6 to 0.29.7
  requirements/wheel.txt
Due: configs

Update pytest from 4.3.0 to 4.4.1
  requirements/ci-wheel.txt
Due: configs

Update pytest from 4.3.0 to 4.4.1
  requirements/wheel.txt
Due: configs

Update pytest-mock from 1.10.1 to 1.10.4
  requirements/ci-wheel.txt
Due: configs

Update tox from 3.7.0 to 3.9.0
  requirements/ci-wheel.txt
Due: configs

Update trustme from 0.5.0 to 0.5.1
  requirements/ci-wheel.txt
Due: configs

Update uvloop from 0.12.1 to 0.12.2
  requirements/ci-wheel.txt
Due: configs

Update isort from 4.3.10 to 4.3.17
  requirements/flake.txt
Due: configs

Update mypy from 0.670 to 0.701
  requirements/ci.txt
Due: configs

Update sphinx from 1.8.4 to 2.0.1
  requirements/doc.txt
Due: configs

Update cherry_picker from 1.3.0 to 1.3.1
  requirements/dev.txt
Due: configs

Update sphinxcontrib-spelling from 4.2.0 to 4.2.1
  requirements/doc-spelling.txt
Due: configs

FileResponse open/close files asynchronously
  aiohttp/web_fileresponse.py
Due: library

clenaup
  aiohttp/web_app.py
Due: library

cleanup 2
  CHANGES/3569.feature
  docs/web_advanced.rst
  tests/test_web_functional.py
  tests/test_web_middleware.py
Due: changelog, docs, tests

make isort
  aiohttp/__init__.py
  aiohttp/_helpers.pyi
  aiohttp/frozenlist.pyi
  aiohttp/signals.pyi
Due: library

revert cleanup
  aiohttp/__init__.py
  aiohttp/_helpers.pyi
  aiohttp/frozenlist.pyi
  aiohttp/signals.pyi
Due: library

cleanup 3
  aiohttp/web_middlewares.py
  docs/web_advanced.rst
Due: library, docs

add myself to contributors
  CONTRIBUTORS.txt
Due: docs

Bump fortunate-pkg to v0.2.7
  pyproject.toml
Due: configs

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
