Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

[3.7] Unify configs (#4394). (cherry picked from commit 3aef308510a40f88d8cab3150b544b6f1196bdef)
  Makefile
  pytest.ci.ini
  pytest.ini
  setup.cfg
  tests/test_web_request.py
Due: tests

[3.7] Unify configs (#4394). (#4395)
  Makefile
  pytest.ci.ini
  pytest.ini
  setup.cfg
  tests/test_web_request.py
Due: tests

[3.7] Apply SO_REUSEADDR to test server's socket (#4393) (cherry picked from commit b38e65af)
  CHANGES/4393.feature
  aiohttp/test_utils.py
Due: library, changelog

[3.7] Apply SO_REUSEADDR to test server's socket (#4393) (#4396)
  CHANGES/4393.feature
  aiohttp/test_utils.py
Due: library, changelog

Add Python 3.8 to build matrix
  .azure-pipelines/deploy.yml
  .azure-pipelines/stage-test.yml
Due: none

change attribute name: text -> data
  docs/client_quickstart.rst
Due: docs

Update docs/client_quickstart.rst
  docs/client_quickstart.rst
Due: docs

Docs: change attribute name: text -> data (#4398)
  docs/client_quickstart.rst
Due: docs

[3.7] Docs: change attribute name: text -> data (#4398)
  docs/client_quickstart.rst
Due: docs

[3.7] Docs: change attribute name: text -> data (#4398) (#4399)
  docs/client_quickstart.rst
Due: docs

Use .raw_host instead of slower .host in client API
  aiohttp/client_reqrep.py
Due: library

Add changenote
  CHANGES/4402.feature
Due: changelog

Create 4369.bugfix
  CHANGES/4369.bugfix
Due: changelog

Use .raw_host instead of slower .host in client API (#4402)
  CHANGES/4402.feature
  aiohttp/client_reqrep.py
Due: library, changelog

[3.7] Use .raw_host instead of slower .host in client API (#4402) (cherry picked from commit 95e548c3)
  CHANGES/4402.feature
  aiohttp/client_reqrep.py
Due: library, changelog

[3.7] Use .raw_host instead of slower .host in client API (#4402) (#4409)
  CHANGES/4402.feature
  aiohttp/client_reqrep.py
Due: library, changelog

Prevent AttributeError on __del__ of not-initialized ClientSession
  aiohttp/client.py
Due: library

Prevent AttributeError on __del__ of not-initialized ClientSession (#4411)
  aiohttp/client.py
Due: library

Fix mypy
  aiohttp/formdata.py
  aiohttp/pytest_plugin.py
Due: library

Fix a warning about unfinished task in web_protocol.py
  CHANGES/4408.bugfix
  aiohttp/web_protocol.py
Due: library, changelog

Fixed proxy_headers not being added on client_reqrep.py
  CHANGES/4422.feature
  aiohttp/client_reqrep.py
Due: library, changelog

Added no proxy check for issue #4431
  .gitignore
  aiohttp/client.py
  aiohttp/helpers.py
Due: library, configs

Updated CONTRIBUTORS file.
  CONTRIBUTORS.txt
Due: docs

Added CHANGES file
  CHANGES/4431.bugfix
Due: changelog

fix typo in client_quickstart doc
  docs/client_quickstart.rst
Due: docs

add file to CHANGES
  CHANGES/4452.doc
Due: changelog

Fix typo in a ref to "ClientSesssion" in client_quickstart doc
  CHANGES/4452.doc
  docs/client_quickstart.rst
Due: changelog, docs

Expose the buffer limit for long lines of the streaming responses
  aiohttp/_http_parser.pyx
  aiohttp/client.py
  aiohttp/client_proto.py
  aiohttp/http_parser.py
  aiohttp/streams.py
Due: library

fix tests
  aiohttp/pytest_plugin.py
  tests/test_connector.py
  tests/test_web_functional.py
  tests/test_web_runner.py
Due: library, tests

flake fix
  tests/test_connector.py
  tests/test_web_runner.py
Due: tests

fixes
  aiohttp/pytest_plugin.py
  tests/test_web_functional.py
Due: library, tests

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
