Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Typed examples/cli_app.py
  examples/cli_app.py
Due: none

Typed examples/web_ws.py
  examples/web_ws.py
Due: none

Typed examples/curl.py
  examples/curl.py
Due: none

Typed examples/client_json.py
  examples/client_json.py
Due: none

Typed examples/client_ws.py with some little fixes
  examples/client_ws.py
Due: none

Typed examples/client_auth.py
  examples/client_auth.py
Due: none

Typed examples/lowlevel_srv.py
  examples/lowlevel_srv.py
Due: none

Typed examples/server_simple.py
  examples/server_simple.py
Due: none

Typed examples/web_srv.py
  examples/web_srv.py
Due: none

Typed examples/fake_server.py and some refactoring in order to make mypy happy
  examples/fake_server.py
Due: none

Typed examples/background_tasks.py and some refactoring because app.loop is deprecated
  examples/background_tasks.py
Due: none

Typed examples/web_classview.py
  examples/web_classview.py
Due: none

Typed examples/web_srv_router_deco.py
  examples/web_srv_route_deco.py
Due: none

Typed examples/web_srv_router_table.py
  examples/web_srv_route_table.py
Due: none

Typed examples/web_rewrite_headers_middleware.py and web_cookies.py partially
  examples/web_cookies.py
  examples/web_rewrite_headers_middleware.py
Due: none

Using web.Request instead of importing Request from web_request
  examples/background_tasks.py
  examples/cli_app.py
  examples/fake_server.py
  examples/server_simple.py
  examples/web_classview.py
  examples/web_cookies.py
  examples/web_srv.py
  examples/web_srv_route_deco.py
  examples/web_srv_route_table.py
  examples/web_ws.py
Due: none

AioHTTPTestCase more async friendly (#4732)
  CHANGES/4700.feature
  CONTRIBUTORS.txt
  aiohttp/test_utils.py
  requirements/base.txt
  setup.cfg
  setup.py
  tests/test_test_utils.py
Due: library, configs, changelog, docs, tests

[3.8] AioHTTPTestCase more async friendly (#4732)
  CHANGES/4700.feature
  CONTRIBUTORS.txt
  aiohttp/test_utils.py
  requirements/base.txt
  setup.cfg
  setup.py
  tests/test_test_utils.py
Due: library, configs, changelog, docs, tests

Made lgtm happy
  examples/background_tasks.py
  examples/client_ws.py
  examples/fake_server.py
  examples/lowlevel_srv.py
Due: none

Fixed import and import from in lowlevel_srv.py
  examples/lowlevel_srv.py
Due: none

linters should be okay
  examples/fake_server.py
  examples/web_srv_route_deco.py
Due: none

Removed blank line from web_classview.py
  examples/web_classview.py
Due: none

[3.8] AioHTTPTestCase more async friendly (#4732) (#5257)
  CHANGES/4700.feature
  CONTRIBUTORS.txt
  aiohttp/test_utils.py
  requirements/base.txt
  setup.cfg
  setup.py
  tests/test_test_utils.py
Due: library, configs, changelog, docs, tests

Added typing to examples (#5256)
  examples/background_tasks.py
  examples/cli_app.py
  examples/client_auth.py
  examples/client_json.py
  examples/client_ws.py
  examples/curl.py
  examples/fake_server.py
  examples/lowlevel_srv.py
  examples/server_simple.py
  examples/web_classview.py
  examples/web_cookies.py
  examples/web_rewrite_headers_middleware.py
  examples/web_srv.py
  examples/web_srv_route_deco.py
  examples/web_srv_route_table.py
  examples/web_ws.py
Due: none

Added conditional on repository owner to prevent update-pre-commit on forks
  .github/workflows/update-pre-commit.yml
Due: none

Added explanation on CHANGES directory
  CHANGES/5258.bugfix
Due: changelog

Removed duplicate timeout parameter in ClientSession reference docs.
  CONTRIBUTORS.txt
  docs/client_reference.rst
Due: docs

No update-precommit on forks (#5261)
  .github/workflows/update-pre-commit.yml
  CHANGES/5258.bugfix
Due: changelog

Ensure cleanup contexts are completed when an exception occurs on startup.
  aiohttp/web_app.py
  aiohttp/web_runner.py
  tests/test_web_app.py
Due: library, tests

Create 4799.bugfix
  CHANGES/4799.bugfix
Due: changelog

Update web_app.py
  aiohttp/web_app.py
Due: library

Update aiohttp/client_exceptions.py
  aiohttp/client_exceptions.py
Due: library

Custom error message for Unix connect errors (#4985)
  CHANGES/4984.bugfix
  CONTRIBUTORS.txt
  aiohttp/client_exceptions.py
  aiohttp/connector.py
  docs/client_reference.rst
Due: library, changelog, docs

Refomat with black
  aiohttp/client_exceptions.py
  aiohttp/connector.py
Due: library
