Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Add tokio.
  requirements/base.txt
Due: configs

Fix ordering.
  requirements/base.txt
Due: configs

Add init file for relative imports.
  tests/__init__.py
Due: tests

:pencil: charset-normalizer will never induce LookupError
  docs/client_reference.rst
Due: docs

Stop codecov emailing bad reports
  .codecov.yml
Due: configs

Stop codecov emailing bad reports (#5963)
  .codecov.yml
Due: configs

Update abc.py
  aiohttp/abc.py
Due: library

Second attempt to delay codecov status
  .codecov.yml
Due: configs

Second attempt to delay codecov status (#5971)
  .codecov.yml
Due: configs

Update helpers.py
  aiohttp/helpers.py
Due: library

Last attempt to delay codecov reports
  .codecov.yml
Due: configs

Last attempt to delay codecov reports (#5973)
  .codecov.yml
Due: configs

[ignore] One last test...
  aiohttp/formdata.py
Due: library

Docs: Add aiohttp-socks to third party libraries
  docs/third_party.rst
Due: docs

Cleanup English on third_party.rst
  docs/third_party.rst
Due: docs

Cleanup English on third_party.rst (#5978)
  docs/third_party.rst
Due: docs

Update aiohttp/http_writer.py
  aiohttp/http_writer.py
Due: library

Add validation of HTTP status line, header keys and values (#5452)
  CHANGES/4818.feature
  CONTRIBUTORS.txt
  aiohttp/_http_writer.pyx
  aiohttp/http_writer.py
  tests/test_http_writer.py
  tests/test_web_response.py
Due: library, changelog, docs, tests

Update test_http_writer.py
  tests/test_http_writer.py
Due: tests

Expose main package constants for default Server and User-Agent headers
  CHANGES/5986.feature
  aiohttp/__init__.py
  aiohttp/client_reqrep.py
  aiohttp/web_response.py
Due: library, changelog

Test
  .pre-commit-config.yaml
Due: none

:art: reformat file client_reqrep.py
  aiohttp/client_reqrep.py
Due: library

:pencil: Add words to spelling_wordlist.txt
  docs/spelling_wordlist.txt
Due: docs

:fire: Remove silent warning in charset_normalizer
  aiohttp/client_reqrep.py
Due: library

Quick fix: Bump funcparserlib
  requirements/dev.txt
Due: configs

Update doc-spelling.txt
  requirements/doc-spelling.txt
Due: configs

Update doc.txt
  requirements/doc.txt
Due: configs

Update dev.txt
  requirements/dev.txt
Due: configs

Quick fix: Ignore python internal deprecation warning
  setup.cfg
Due: none

Quick fix: Bump funcparserlib (#6001)
  requirements/doc.txt
Due: configs
