Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Update pytest from 4.3.0 to 4.3.1
  requirements/wheel.txt
Due: configs

Update isort from 4.3.10 to 4.3.15
  requirements/flake.txt
Due: configs

Update sphinx from 1.8.4 to 1.8.5
  requirements/doc.txt
Due: configs

Update cherry_picker from 1.3.0 to 1.3.1
  requirements/dev.txt
Due: configs

fix `local_addr` annotation in `TCPConnector.__init__`
  aiohttp/connector.py
Due: library

Suppress pytest warnings due to test util classes
  aiohttp/test_utils.py
Due: library

Create 3660.bugfix
  CHANGES/3660.bugfix
Due: changelog

Update CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: docs

Replaced 'URL' with 'StrOrURL'
  aiohttp/abc.py
  aiohttp/cookiejar.py
Due: library

Added myself to CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: docs

Resolved conflict and making tests pass.
  aiohttp/client.py
  docs/client_reference.rst
  tests/test_proxy_session.py
Due: library, docs, tests

Fix dropped connections on graceful shutdown
  aiohttp/web.py
  aiohttp/web_runner.py
Due: library

Add testcase for graceful shutdown
  aiohttp/web_runner.py
  tests/test_run_app.py
Due: library, tests

Cleanup
  aiohttp/web_runner.py
Due: library

Changelog
  CHANGES/3638.bugfix
  CONTRIBUTORS.txt
Due: changelog, docs

Fix handle_signals=False
  aiohttp/web_runner.py
Due: library

Update coverage from 4.5.2 to 4.5.3
  requirements/ci-wheel.txt
Due: configs

Update pytest from 4.3.0 to 4.3.1
  requirements/ci-wheel.txt
Due: configs

Update pytest-mock from 1.10.1 to 1.10.2
  requirements/ci-wheel.txt
Due: configs

Update uvloop from 0.12.1 to 0.12.2
  requirements/ci-wheel.txt
Due: configs

Update isort from 4.3.10 to 4.3.16
  requirements/flake.txt
Due: configs

🐽 Fix memory leak in chunked streams handling code (#3631)
  CHANGES/3631.bugfix
  aiohttp/streams.py
  tests/test_streams.py
Due: library, changelog, tests

Fix typo 'guaranties'
  aiohttp/web_runner.py
Due: library

Fix typo 'guaranties'
  docs/index.rst
Due: docs

🐽 Fix memory leak in chunked streams handling code (#3631) (#3635)
  CHANGES/3631.bugfix
  aiohttp/streams.py
  tests/test_streams.py
Due: library, changelog, tests

Fix spelling of "guarantee" word in comments
  aiohttp/web_runner.py
  docs/index.rst
Due: library, docs

Fix normalize_path_middleware behavior for patch without slash (3669)
  CHANGES/3669.bugfix
  aiohttp/web_middlewares.py
  tests/test_web_middleware.py
Due: library, changelog, tests

Fix normalize_path_middleware behavior for patch without slash (3669) (#3670)
  CHANGES/3669.bugfix
  aiohttp/web_middlewares.py
  tests/test_web_middleware.py
Due: library, changelog, tests

🐽 Fix memory leak in chunked streams handling code (#3631) (#3668)
  CHANGES/3631.bugfix
  aiohttp/streams.py
  tests/test_streams.py
Due: library, changelog, tests

Update pytest from 4.3.0 to 4.4.0
  requirements/ci-wheel.txt
Due: configs

Update pytest from 4.3.0 to 4.4.0
  requirements/wheel.txt
Due: configs

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
