Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Bump to 3.7.1
  CHANGES.rst
  CHANGES/4901.bugfix
  CHANGES/4957.bugfix
  CHANGES/5107.bugfix
  CHANGES/5110.bugfix
  CHANGES/5115.bugfix
  CHANGES/5116.bugfix
  CHANGES/5124.bugfix
  CHANGES/5127.bugfix
Due: changelog, docs

Bump to 3.7.1
  CHANGES.rst
  CHANGES/4901.bugfix
  CHANGES/4957.bugfix
  CHANGES/5110.bugfix
  CHANGES/5115.bugfix
  CHANGES/5116.bugfix
  CHANGES/5124.bugfix
  CHANGES/5127.bugfix
Due: changelog, docs

Skip autosquash for forks
  .github/workflows/autosquash.yml
Due: none

Skip backport checks for forks
  .github/workflows/backport.yml
Due: none

Fix documentation for update_cookies/filter_cookies
  docs/client_reference.rst
Due: docs

Start 3.8 line
  aiohttp/__init__.py
Due: library

Fix documentation for update_cookies/filter_cookies (#5132)
  docs/client_reference.rst
Due: docs

Update doc
  docs/tracing_reference.rst
Due: docs

Update docs/tracing_reference.rst
  docs/tracing_reference.rst
Due: docs

Apply awersome re-assert library for regex assertiong in tests
  aiohttp/web_fileresponse.py
  requirements/ci-wheel.txt
  tests/test_client_session.py
  tests/test_signals.py
  tests/test_streams.py
  tests/test_urldispatch.py
  tests/test_web_functional.py
  tests/test_web_response.py
Due: library, configs, tests

Apply awesome re-assert library for regex assertions in tests (#5134)
  aiohttp/web_fileresponse.py
  requirements/ci-wheel.txt
  tests/test_client_session.py
  tests/test_signals.py
  tests/test_streams.py
  tests/test_urldispatch.py
  tests/test_web_functional.py
  tests/test_web_response.py
Due: library, configs, tests

Emit a signal about sending headers in client tracing API (#5122)
  CHANGES/5105.feature
  aiohttp/client_reqrep.py
  aiohttp/http_writer.py
  aiohttp/tracing.py
  docs/tracing_reference.rst
  tests/test_client_session.py
  tests/test_tracing.py
Due: library, changelog, docs, tests

Fix GitHub badge location in README
  README.rst
Due: docs

fix
  aiohttp/web_response.py
  tests/test_web_functional.py
Due: library, tests

add changes file
  CHANGES/5106.bugfix
Due: changelog

Setup pre-commit hooks configuration
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  requirements/lint.txt
Due: configs

Update contributing instructions
  docs/contributing.rst
Due: docs

Apply awesome re-assert library for regex assertions in tests (#5134)
  aiohttp/web_fileresponse.py
  requirements/ci-wheel.txt
  tests/test_client_session.py
  tests/test_signals.py
  tests/test_streams.py
  tests/test_urldispatch.py
  tests/test_web_response.py
Due: library, configs, tests

Reformat
  tests/test_client_session.py
Due: tests
