Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Add a missing experimental flag to PyPy @ GHA
  .github/workflows/ci.yml
Due: none

Add Python 3.11 under macos and windows to GHA
  .github/workflows/ci.yml
Due: none

Fix a typo in "witn" in connector CM deprecation
  aiohttp/connector.py
Due: library

Await connector close @ `tests/test_connector.py`
  tests/test_connector.py
Due: tests

Bump Pillow in tests to v9.2.0
  requirements/constraints.txt
Due: configs

Use Pillow v8.4.0 under Python 3.6 in tests
  requirements/constraints.txt
Due: configs

Make user-installed pip binaries available in CI
  .github/workflows/ci.yml
Due: none

Bump `frozenlist` and `yarl` under Python 3.7+
  requirements/base.txt
  requirements/constraints.txt
Due: configs

Bump `py` to v1.11.0 in test envs
  requirements/constraints.txt
Due: configs

Revert assert (#6374)
  aiohttp/connector.py
Due: library

Add __repr__ to streams.EmptyStreamReader
  CHANGES/6916.bugfix
  CONTRIBUTORS.txt
  aiohttp/streams.py
  tests/test_streams.py
Due: library, changelog, docs, tests

Make the resource warning suppression more generic
  setup.cfg
Due: none

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
