Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Add Apache 2 licences (#5331)
  LICENSE.txt
Due: docs

Fix failed file_response test
  tests/sample.txt
  tests/test_web_sendfile_functional.py
Due: tests

StreamResponse.prepared returns True even after EOF is sent (fixes #5343)
  aiohttp/web_response.py
  tests/test_web_response.py
Due: library, tests

add CHANGES
  CHANGES/5343.bugfix
Due: changelog

#5281 init
  CHANGES.rst
  CONTRIBUTORS.txt
  aiohttp/payload.py
  tests/test_payload.py
  tests/test_web_response.py
Due: library, changelog, docs, tests

doc: added OpenAPI/Swagger section, added aio-openapi
  CHANGES/5326.doc
  docs/third_party.rst
Due: changelog, docs

doc: added OpenAPI/Swagger section, added aio-openapi (#5326)
  CHANGES/5326.doc
  docs/third_party.rst
Due: changelog, docs

#5281 add test_json_payload
  CONTRIBUTORS.txt
  tests/test_payload.py
  tests/test_web_response.py
Due: docs, tests

[3.8] Add a changelog fragment for PR #3860 (cherry picked from commit eb9aa22)
  CHANGES/3853.feature
Due: changelog

[3.8] Add a changelog fragment for PR #3860 (#5351)
  CHANGES/3853.feature
Due: changelog

#5281 add annotation for test_json_payload
  tests/test_payload.py
Due: tests

#5281 add registry for test_json_payload
  tests/test_payload.py
Due: tests

#5281 add CHANGES
  CHANGES/5281.bugfix
Due: changelog

[3.8] doc: added OpenAPI/Swagger section, added aio-openapi (#5326). (cherry picked from commit 19170e4fad0cf304c43428ce7a0deb27cf6c8447)
  CHANGES/5326.doc
  docs/third_party.rst
Due: changelog, docs

[3.8] doc: added OpenAPI/Swagger section, added aio-openapi (#5326). (#5353)
  CHANGES/5326.doc
  docs/third_party.rst
Due: changelog, docs

Update cython.txt
  requirements/cython.txt
Due: configs

Added final declarations to constants (#5275) (#5310)
  CHANGES/5275.feature
  aiohttp/client.py
  aiohttp/client_proto.py
  aiohttp/client_ws.py
  aiohttp/formdata.py
  aiohttp/hdrs.py
  aiohttp/http_parser.py
  aiohttp/http_websocket.py
  aiohttp/payload.py
  aiohttp/streams.py
  aiohttp/web.py
  aiohttp/web_fileresponse.py
  aiohttp/web_middlewares.py
  aiohttp/web_request.py
  aiohttp/web_server.py
  aiohttp/web_urldispatcher.py
  aiohttp/web_ws.py
  requirements/cython.txt
Due: library, configs, changelog

[3.8] Added final declarations to constants (#5275) (#5310)
  CHANGES/5275.feature
  aiohttp/client.py
  aiohttp/client_proto.py
  aiohttp/formdata.py
  aiohttp/hdrs.py
  aiohttp/http_parser.py
  aiohttp/http_websocket.py
  aiohttp/payload.py
  aiohttp/streams.py
  aiohttp/web.py
  aiohttp/web_fileresponse.py
  aiohttp/web_request.py
  aiohttp/web_urldispatcher.py
  aiohttp/web_ws.py
  requirements/cython.txt
Due: library, configs, changelog

[3.8] Added final declarations to constants (#5275) (#5310) (#5354)
  CHANGES/5275.feature
  aiohttp/client.py
  aiohttp/client_proto.py
  aiohttp/formdata.py
  aiohttp/hdrs.py
  aiohttp/http_parser.py
  aiohttp/http_websocket.py
  aiohttp/payload.py
  aiohttp/streams.py
  aiohttp/web.py
  aiohttp/web_fileresponse.py
  aiohttp/web_request.py
  aiohttp/web_urldispatcher.py
  aiohttp/web_ws.py
  requirements/cython.txt
Due: library, configs, changelog

Fix CookieJar.filter_cookies parameter documentation.
  docs/abc.rst
Due: docs

Add CHANGES file
  CHANGES/5356.doc
Due: changelog

docs: fix simple typo, pipelinig -> pipelining
  aiohttp/web_protocol.py
Due: library

Add changes file
  CHANGES/3561.feature
Due: changelog

Fix C parser build
  aiohttp/_cparser.pxd
  setup.py
Due: library

Remove http-parser
  .gitmodules
Due: configs

cython w/o url parsing
  aiohttp/_cparser.pxd
  aiohttp/_http_parser.pyx
  setup.py
Due: library

Fix connection: upgrade
  aiohttp/_http_parser.pyx
Due: library

url_parse from old http parser
  aiohttp/_cparser.pxd
Due: library

Fix submodules check in setup.py
  setup.py
Due: none

Fix no content-length
  aiohttp/_http_parser.pyx
Due: library

Check for upgrade paused error code
  aiohttp/_http_parser.pyx
Due: library

Add c parser load test
  tests/test_http_parser.py
Due: tests

Add llhttp submodule
  .gitmodules
Due: configs

ci
  .github/workflows/ci.yml
Due: none
