Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Reformat
  docs/third_party.rst
Due: docs

Drop py 3.7 and 3.8 MacOS builds from matrix to reduce build agents bottleneck
  .github/workflows/ci.yml
Due: none

Fix @reify type hints (#4736)
  CHANGES/4736.bugfix
  aiohttp/client.py
  aiohttp/client_exceptions.py
  aiohttp/helpers.py
  aiohttp/http_websocket.py
  aiohttp/web_request.py
  aiohttp/web_urldispatcher.py
Due: library, changelog

Fix resolver task is not awaited when connector is cancelled (#4795)
  CHANGES/4795.bugfix
  CONTRIBUTORS.txt
  aiohttp/connector.py
  tests/test_connector.py
Due: library, changelog, docs, tests

Tune autosquash config
  .github/workflows/autosquash.yml
Due: none

Fix bug in route name validation
  CONTRIBUTORS.txt
  aiohttp/web_urldispatcher.py
Due: library, docs

Add changelog
  CHANGES/4691.bugfix
Due: changelog

Drop azure configs
  .azure-pipelines/ci.yml
  .azure-pipelines/deploy.yml
  .azure-pipelines/stage-lint.yml
  .azure-pipelines/stage-test.yml
Due: none

Fix test end error msg
  aiohttp/web_urldispatcher.py
Due: library

Add test
  tests/test_urldispatch.py
Due: tests

Restrict branches
  .github/workflows/ci.yml
Due: none

Fix bug in route name validation (#5051)
  CHANGES/4691.bugfix
  CONTRIBUTORS.txt
  aiohttp/web_urldispatcher.py
  tests/test_urldispatch.py
Due: library, changelog, docs, tests

Fix yaml syntax
  .github/workflows/ci.yml
Due: none

Fix websocket header for rfc6455 (#4573)
  aiohttp/hdrs.py
Due: library

Supports for multibytes and multidimensional memoryview (#4890)
  CHANGES/4890.bugfix
  CONTRIBUTORS.txt
  aiohttp/http_writer.py
  aiohttp/payload.py
  tests/test_http_writer.py
  tests/test_payload.py
Due: library, changelog, docs, tests
