Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - aiohttp/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.toml"
    - "*.yml"
  changelog:
    paths:
    - CHANGES/
    - CHANGES.rst
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/
  tools:
    paths:
    - tools/
  third-party:
    paths:
    - vendor/

Clarify client does not support pipelining in docs
  CHANGES/3310.bugfix
  docs/client_advanced.rst
Due: changelog, docs

Add an in-tree PEP 517 build backend
  build-aiohttp/.gitignore
  build-aiohttp/.travis.yml
  build-aiohttp/LICENSE.md
  build-aiohttp/README.rst
  build-aiohttp/build_aiohttp/__init__.py
  build-aiohttp/build_aiohttp/__main__.py
  build-aiohttp/build_aiohttp/api.py
  build-aiohttp/setup.cfg
  build-aiohttp/setup.py
  build_aiohttp/fortunate_pkg/__init__.py
  build_aiohttp/setup.py
  pyproject.toml
  setup.py
Due: configs

Complie cython sources as a separate makefile step
  .gitignore
  Makefile
  aiohttp/__init__.py
  aiohttp/_helpers.pyi
  aiohttp/frozenlist.pyi
  aiohttp/signals.pyi
  setup.py
Due: library, configs

Fix compilation error
  aiohttp/_http_writer.pyx
Due: library

Fix strerr io redirect in run_docker script
  tools/run_docker.sh
Due: tools

Fix strerr io redirect in build-wheels script
  tools/build-wheels.sh
Due: tools

Set appveyor encoding to utf-8
  .appveyor.yml
Due: configs

Upgrade pip to 19 in CIs
  .appveyor.yml
  .travis.yml
  Makefile
Due: configs

🔥 Use fortunate_pkg PEP 517 build backend
  build-aiohttp/.gitignore
  build-aiohttp/.travis.yml
  build-aiohttp/LICENSE.md
  build-aiohttp/README.rst
  build-aiohttp/build_aiohttp/__init__.py
  build-aiohttp/build_aiohttp/__main__.py
  build-aiohttp/build_aiohttp/api.py
  build-aiohttp/setup.cfg
  build-aiohttp/setup.py
  pyproject.toml
Due: configs

🎨 Single-source cython build dependency
  .appveyor.yml
  .travis.yml
  Makefile
  pyproject.toml
  requirements/ci-wheel.txt
  requirements/cython.txt
  requirements/wheel.txt
  tools/build-wheels.sh
Due: configs, tools

Don't build dist when checking it
  .travis.yml
Due: configs

🚑 Build dists for the metadata check in Travis CI
  .travis.yml
Due: configs

🐛 Build dists in AppVeyor via PEP 517
  .appveyor.yml
Due: configs

Update coverage from 4.5.2 to 4.5.3
  requirements/ci-wheel.txt
Due: configs

Update cython from 0.29.6 to 0.29.7
  requirements/ci-wheel.txt
Due: configs

Update cython from 0.29.6 to 0.29.7
  requirements/cython.txt
Due: configs

Update cython from 0.29.6 to 0.29.7
  requirements/wheel.txt
Due: configs

Update pytest from 4.3.0 to 4.4.0
  requirements/ci-wheel.txt
Due: configs

Update pytest from 4.3.0 to 4.4.0
  requirements/wheel.txt
Due: configs

Update pytest-mock from 1.10.1 to 1.10.3
  requirements/ci-wheel.txt
Due: configs

Update tox from 3.7.0 to 3.8.6
  requirements/ci-wheel.txt
Due: configs

Update trustme from 0.5.0 to 0.5.1
  requirements/ci-wheel.txt
Due: configs

Update uvloop from 0.12.1 to 0.12.2
  requirements/ci-wheel.txt
Due: configs

Update isort from 4.3.10 to 4.3.17
  requirements/flake.txt
Due: configs

Update mypy from 0.670 to 0.700
  requirements/ci.txt
Due: configs

Update sphinx from 1.8.4 to 2.0.1
  requirements/doc.txt
Due: configs

Update cherry_picker from 1.3.0 to 1.3.1
  requirements/dev.txt
Due: configs

Update sphinxcontrib-spelling from 4.2.0 to 4.2.1
  requirements/doc-spelling.txt
Due: configs

Don't use editable install in tests
  requirements/ci.txt
Due: configs

Print out debug paths in AppVeyor
  setup.py
Due: none

Print setup args
  setup.py
Due: none

print site-packages
  setup.py
Due: none

Bump fortunate-pkg to v0.2.1
  pyproject.toml
Due: configs

print level up
  setup.py
Due: none

Shuffle stuff
  setup.py
Due: none

inject py
  setup.py
Due: none

Just 3.7
  setup.py
Due: none

print overlay
  setup.py
Due: none
