Repository aio-libs/aiohttp: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, changelog, docs, tests, tools, third-party

Fix broken references in `docs/testing.rst` (#5619)
  docs/conf.py
  docs/testing.rst
Due: docs

Fix broken reference
  docs/web_lowlevel.rst
Due: docs

Fix broken reference in `docs/web-lowlevel.rst` (#5744)
  docs/web_lowlevel.rst
Due: docs

Restractor autobahn subfolders
  tests/autobahn/client/client.py
  tests/autobahn/client/fuzzingserver.json
  tests/autobahn/server/fuzzingclient.json
  tests/autobahn/server/server.py
Due: tests

Add autobahn client tests
  tests/autobahn/Dockerfile
  tests/autobahn/client/Dockerfile
  tests/autobahn/client/client.py
  tests/autobahn/client/docker-compose.yml
  tests/autobahn/run-tests.sh
Due: tests

small reorg
  tests/autobahn/Dockerfile.aiohttp
  tests/autobahn/Dockerfile.autobahn
  tests/autobahn/client/docker-compose.yml
  tests/autobahn/images-for-compose.yml
Due: tests

add wait-for-it for autobahn
  tests/autobahn/Dockerfile
Due: tests

Add autobahn reports to gitignore
  tests/autobahn/.gitignore
Due: tests

Extract build to separate file
  tests/autobahn/client/docker-compose.yml
  tests/autobahn/images-for-compose.yml
  tests/autobahn/run-tests.sh
Due: tests

Add reference to ignore
  docs/conf.py
Due: docs

Add autobahn server tests
  tests/autobahn/Dockerfile.autobahn
  tests/autobahn/run-tests.sh
  tests/autobahn/server/docker-compose.yml
  tests/autobahn/server/fuzzingclient.json
Due: tests

Update CHANGES file
  CHANGES/4247.misc
Due: changelog

Fix: Add depends_on configuration option to specify the order of execution
  tests/autobahn/client/docker-compose.yml
  tests/autobahn/server/docker-compose.yml
Due: tests

Fix: Drop aiohttp-autobahn_autobahn docker image
  tests/autobahn/Dockerfile.autobahn
  tests/autobahn/client/docker-compose.yml
  tests/autobahn/images-for-compose.yml
  tests/autobahn/server/docker-compose.yml
Due: tests

Fix: Build aiohttp image with regular install instead of editable
  tests/autobahn/Dockerfile.aiohttp
Due: tests

Fix: Bump python version from 3.9.1 to 3.9.5
  tests/autobahn/Dockerfile.aiohttp
Due: tests

Fix: Rename images-for-compose.yml to docker-compose.yml
  tests/autobahn/docker-compose.yml
  tests/autobahn/run-tests.sh
Due: tests

Remove unecessary docker file
  tests/autobahn/client/Dockerfile
Due: tests

Bump crossbario/autobahn-testsuit to 0.8.2
  tests/autobahn/Dockerfile.autobahn
  tests/autobahn/server/docker-compose.yml
Due: tests

Fix: Remove unecessary env variables
  tests/autobahn/Dockerfile.aiohttp
Due: tests

Fix: Drop wait-for-it
  tests/autobahn/Dockerfile.aiohttp
  tests/autobahn/Dockerfile.autobahn
  tests/autobahn/client/docker-compose.yml
  tests/autobahn/server/docker-compose.yml
Due: tests

Add changes file
  CHANGES/4247.misc
Due: changelog

Add Anes Abismail to CONTRIBUTORS.txt
  CONTRIBUTORS.txt
Due: docs

Fix broken references
  docs/new_router.rst
Due: docs

Fix: Fix connection refused error
  tests/autobahn/server/server.py
Due: tests

fix broken references
  docs/web_reference.rst
Due: docs

add references to ignore
  docs/conf.py
  docs/web_reference.rst
Due: docs

Add references to ignore
  docs/conf.py
Due: docs

Add references to ignore (#5749)
  docs/conf.py
Due: docs

Fix broken references
  docs/multipart.rst
Due: docs

Fix broken reference
  docs/web_exceptions.rst
Due: docs

backports autobahn tests (cherry picked from commit 6fb3efc4b5dd971e3f0e1080435fead757f15eaa)
  tests/autobahn/client.py
Due: tests

backports autobahn tests (cherry picked from commit 6fb3efc4b5dd971e3f0e1080435fead757f15eaa)
  tests/autobahn/server.py
Due: tests

fixes autobahn tests (cherry picked from commit 6fb3efc4b5dd971e3f0e1080435fead757f15eaa)
  CHANGES/5606.bugfix
Due: changelog

Path conditions:
  library: any of: aiohttp/
  configs: any of: requirements/, .git*, *.toml, *.yml
  changelog: any of: CHANGES/, CHANGES.rst
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
  tools: any of: tools/
  third-party: any of: vendor/
